
@using Sistran.Core.Framework.UIF.Web.Resources


<div class="uif-panel">
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.Order</label>
            <br />
            <input type="text" data-pattern="000" class="uif-mask" id="Order" name="Order"
                   data-val="true" data-val-required='@Global.RequiredField'>
            <span class="text-danger" data-valmsg-for="ColumnNumber" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-6">
            <label>@Global.DaysFrom</label>
            <br />
            <input type="text" data-pattern="000000" class="uif-mask" id="RangeFrom" name="RangeFrom"
                   data-val="true" data-val-required='@Global.RequiredField'>
            <span class="text-danger" data-valmsg-for="RangeFrom" data-valmsg-replace="true" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.DaysTo</label>
            <br />
            <input type="text" data-pattern="000000" class="uif-mask" id="RangeTo" name="RangeTo"
                   data-val="true" data-val-required='@Global.RequiredField'>
            <span class="text-danger" data-valmsg-for="RangeTo" data-valmsg-replace="true" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-alert" id="alertFieldForm"></div>
    </div>
   
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertForm"></div>
        </div>
    </div>
</div>


