<div class="row">
    <div class="uif-col-12">
        <label>@Resources.Language.LabelRankRisk</label>
    </div>
</div>
<div class="row">
    <div class="uif-col-2">
        <label>@Resources.Language.LabelFromPrinter</label>
        @Html.TextBox("RangeFrom", null, new { id = "RiskUntil", type = "number" })
    </div>
    <div class="uif-col-1">
    </div>
    <div class="uif-col-2">
        <label>@Resources.Language.LabelToPrinter</label>
        @Html.TextBox("RangeTo", null, new { id = "inputRangeTo", type = "number" })
    </div>
    <div class="uif-col-1">
    </div>
    <div class="uif-col-4" id="chkIssuedDetail">
        <label>@Resources.Language.Options</label>
        <br />
        <input type="checkbox" id="chkEnabled" name="Enabled" />
        <label for="chkEnabled">@Resources.Language.LabelCollectionFormat</label>
    </div>
</div>
<div class="row">
    <div class="uif-col-12">
        <div class="uif-modalbuttons width-save" id="buttonsCoInsurance">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnPrintCancel">@Resources.Language.ButtonCancel</button>
            <button type="button" class="btn btn-primary" id="btnPrintAccept">@Resources.Language.ButtonAccept</button>
        </div>
    </div>
</div>