@using Sistran.Core.Framework.UIF.Web.Resources


<div class="uif-row">
    <input type="hidden" id="accountingAccountMaskId" name="accountingAccountMaskId" />
    <div class="uif-col-4">
        <label>@Global.ParameterLabel</label>
        <select class="uif-select form-control required" id="parameterId" data-source="null" data-id="Id" data-name="ParameterDescription" name="parameterId" data-val="true" data-val-required='@Global.RequiredField'></select>
        <span class="text-danger" data-valmsg-for="parameterId" data-valmsg-replace="true"></span>
    </div>
    <div class="uif-col-4">
        <label>@Global.Position</label>
        <input type="text" id="position" name="position" data-val="true" data-val-required='@Global.RequiredField' />
        <span class="text-danger" data-valmsg-for="position" data-valmsg-replace="true"></span>
    </div>
    <div class="uif-col-4">
        <label>@Global.Mask</label>
        <input type="text" id="mask" name="mask" data-val="true" data-val-required='@Global.RequiredField' />
        <span class="text-danger" data-valmsg-for="mask" data-valmsg-replace="true"></span>
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-4"></div>
    <div class="uif-col-4"></div>
    <div class="uif-col-4" align="right">
        <button type="button" class="btn btn-default" id="cancelMask">@Global.Cancel</button>
        <button type="submit" class="btn btn-primary" id="addMask" >@Global.Accept</button>
    </div>
</div>
