
<script id="searchAutomaticTemplate" type="text/template">
    <div>
        <strong> @Resources.LanguagePerson.PersonType </strong>
        <strong> @Resources.LanguagePerson.LabelTypeDocument </strong>
        <strong>@Resources.LanguagePerson.LabelDocumentNumber: </strong>

    </div>
</script>

<form class="form">
    <div id="panelSearchAutomatic">
        <div class="row">
            <div class="uif-col-4">
                <label class="field-required">@Resources.LanguagePerson.PersonType</label>
                <select class="uif-select" data-val="true" id="selectTypePersonAq" name="selectTypePersonAq" data-id="Value" data-name="Text"></select>
            </div>
            <div class="uif-col-4">
                <label class="field-required">@Resources.LanguagePerson.LabelTypeDocument</label>
                <select class="uif-select form-control" id="selectDocumenTypeAq" data-id="Id" data-name="SmallDescription"></select>
            </div>
            <div class="uif-col-4">
                <label>@Resources.LanguagePerson.LabelDocumentNumber</label>
                <input type="text" id="inputDocumentNumberAq" maxlength="14" />
            </div>
        </div>
        <div class="row">
            <div class="uif-col-4">
                <div class="without-label">
                    <button class="btn btn-primary-Co width-container" id="btnsearchAutomaticAdv" type="button">
                        <span aria-hidden="true"></span>
                        @Resources.LanguagePerson.search
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="listviewSearchAutomatic">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchAutomatic" type="button">@Resources.LanguagePerson.Cancel</button>
                <button class="btn btn-primary" id="btnAcceptAutomatic" type="button">@Resources.LanguagePerson.Accept</button>
            </div>

        </div>
    </div>

</form>
