<form id="formAutomaticQuotaIndicator" class="form">

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-primary" id="btnThirdSave" data-dismiss="modal">@Resources.Language.ButtonSave</button>
        <button type="button" class="btn btn-default" id="btnThirdClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
    </div>

    <div class="uif-row">
        <div class="uif-col-4">
            <label>@Resources.Language.LabelconsultRiskCenters</label>
            <select class="uif-select form-control" id="SelectconsultRiskCenters" data-id="Id" data-name="Description"></select>

        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelRestrictiveListQuery</label>
            <select class="uif-select form-control" id="SelectRestrictiveListQuery" data-id="Id" data-name="Description"></select>

        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelSignaturePromissoryNoteLetterIntent</label>
            <select class="uif-select form-control" id="SelectSignaturePromissoryNoteLetterIntent" data-id="Id" data-name="Description"></select>

        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label>@Resources.Language.LabelSisconcReport</label>
            <select class="uif-select form-control" id="SelectSisconcReport" data-id="Id" data-name="Description"></select>

        </div>

        <div class="uif-col-4">
            <label>@Resources.Language.LabelQueryCifin</label>
            <input class="uif-datepicker"
                       data-val="true" name="InputQueryCifin" type="text" id="InputQueryCifin"/>

        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelMainDebtor</label>
            <input type="text" id="InputMainDebtor" class="rightAlign" maxlength="100" />

        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelCodebtor</label>
            <input type="text" id="InputCodebtor" class="rightAlign" maxlength="100" />

        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.LabelTotal</label>
            <input type="text" id="InputTotal" class="rightAlign" maxlength="100" disabled/>

        </div>
    </div>
</form>