<body>
    <form id="formAutomaticQuotaUtility" class="form">

        <div class="uif-modalbuttons width-save">
            <button type="button" class="btn btn-primary" id="btnUtilitySave" data-dismiss="modal">@Resources.Language.ButtonSave</button>
            <button type="button" class="btn btn-default" id="btnUtilityClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        </div>

        <div class="uif-row" id="EditTableUtilitys">
            <div class="uif-col-3">
                <label class="field-required">@Resources.Language.Concept</label>
                <h4><span id="InputUtilitysConcept"> </span></h4>
            </div>
            <div class="uif-col-3">
                <label class="field-required"><span id="DateIniEditTableUtilitys"></span></label>
                <input type="number" id="InputUtilitysDateIni" maxlength="20" />
            </div>
            <div class="uif-col-3">
                <label class="field-required"><span id="DateFinEditTableUtilitys"></span></label>
                <input type="number" id="InputUtilitysDateEnd" maxlength="20" />
            </div>
            <div class="uif-col-3">
                <button type="button" class="btn btn-primary" id="btnEditUtilitySave">@Resources.Language.ButtonSave</button>
            </div>
        </div>

        <div class="row">
            <div class="uif-col-12">
                <table class="uif-table" id="tableUtilitys" data-title="@Resources.Language.LabelCompanyInformationCommercial" data-filter="true" data-paginate="false" data-selectiontype="none" data-add="false" data-edit="true" data-delete="false">
                    <thead>
                        <tr>
                            <th data-property="Id" data-visible="false"><b>@Resources.Language.LabelId</b></th>
                            <th data-property="Description"><b>@Resources.Language.Concepts</b></th>
                            <th data-property="DateIni" data-type="currency"> <b><span id="DateIniUtilitys"></span></b></th>
                            <th data-property="DateFin" data-type="currency"><b><span id="DateFinUtilitys"></span></b></th>
                            <th data-property="AbsoludValue" data-type="currency"><b>@Resources.Language.AbsoludValue</b></th>
                            <th data-property="RelativeValue"><b>@Resources.Language.RelativeValue</b></th>
                            <th data-property="UtilityType" data-visible="false"><b>UtilityType</b></th>
                            <th data-property="UtilitySummary" data-visible="false"><b>UtilityType</b></th>
                            <th data-property="FormUtilitys" data-visible="false"><b>FormUtilitys</b></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="uif-col-12">
                <table class="uif-table" id="tableSummaryUtilitys" data-title="@Resources.Language.UtilityStateResult" data-filter="true" data-paginate="false" data-selectiontype="none" data-add="false" data-edit="true" data-delete="false">
                    <thead>
                        <tr>
                            <th data-property="Id" data-visible="false"><b>@Resources.Language.LabelId</b></th>
                            <th data-property="Description"><b>@Resources.Language.Concepts</b></th>
                            <th data-property="DateIni" data-type="currency"><b><span id="DateIniSummaryUtilitys"></span></b></th>
                            <th data-property="DateFin" data-type="currency"><b><span id="DateFinSummaryUtilitys"></span></b></th>
                            <th data-property="AbsoludValue" data-type="currency"><b>@Resources.Language.AbsoludValue</b></th>
                            <th data-property="RelativeValue" ><b>@Resources.Language.RelativeValue</b></th>
                            <th data-property="UtilityType" data-visible="false"><b>UtilityType</b></th>
                            <th data-property="UtilitySummary" data-visible="false"><b>UtilitySummary</b></th>
                            <th data-property="FormUtilitys" data-visible="false"><b>FormUtilitys</b></th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>
</body>