<div data-disabled="false" data-visible="" id="searchNoticeTable">
    <div class="row">
        <div class="uif-col-12">
            <table id="tblNotices" class="uif-table" data-title="<b>@Resources.Language.ClaimRequestListing</b>" data-selectiontype="single">
                <thead>
                    <tr>
                        <th data-property="NoticeDate"><b>@Resources.Language.NoticeDate</b></th>
                        <th data-property="OcurrenceDate"><b>@Resources.Language.OcurrenceDate</b></th>
                        <th data-property="InternalConsecutive"><b>@Resources.Language.InternalConsecutive</b></th>
                        <th data-property="Number"><b>@Resources.Language.NoticeNumberAbbreviation</b></th>
                        <th data-property="PrefixDescription"><b>@Resources.Language.Prefix</b></th>
                        <th data-property="BranchDescription"><b>@Resources.Language.Branch</b></th>
                        <th data-property="DocumentNumber"><b>@Resources.Language.Policy</b></th>
                        <th data-property="RiskDescription"><b>@Resources.Language.Risk</b></th>
                        <th data-property="ContactInformation"><b>@Resources.Language.ContactInformation</b></th>
                        <th data-property="NoticeStateDescription"><b>@Resources.Language.Status</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>