@{
    Layout = null;
}

<h5>
    <strong>@Resources.Language.PaymmentSearch</strong>
</h5>
<hr />
<form id="formSearchPaymentRequests" class="form" autocomplete="off">
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.PaymentRequestPaymentSource</label>
            <select class="uif-select form-control" id="selectPaymentSource" data-val="true" data-id="Id" data-name="Description"
                    name="PaymentSource" data-native="false" data-filter="true"></select>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.PaymentBranch</label>
            <select class="uif-select form-control" id="selectBranchPayment" data-val="true" data-id="Id"
                    data-name="Description" name="BranchPayment" data-native="false" data-filter="true"></select>
            <span class="text-danger" data-valmsg-for="BranchPayment" data-valmsg-replace="true"></span>
        </div>
        <div class="uif-col-4">
            <div class="">
                <label >@Resources.Language.PaymentRequestNumber</label>
                <input type="text" id="inputPaymentRequestNumber" name="PaymentRequestNumber" class="rightAlign" maxlength="15" data-val="true">
                <span class="text-danger" data-valmsg-for="PaymentRequestNumber" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-3">
            <label>@Resources.Language.ClaimNumber</label>
            <input type="text" id="inputClaimNumber" maxlength="15" class="uif-input rightAlign"/>
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.EstimatedPaymentDate</label>
            <input type="text" class="uif-datepicker" id="inputPaymentRequestEstimatedDate" />
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.PaymentRequestBeneficiary</label>
            <input type="text" id="inputBeneficiaryDocumentNum" class="uif-autocomplete" data-source="@Url.Content("~/Claims/Claim/GetPaymentBeneficiariesByDescription")"
                   data-displaykey="DocumentNumber" data-id="Id" name="inputBeneficiaryDocumentNum">
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.BeneficiaryName</label>
            <input type="text" id="inputBeneficiaryName" class="uif-input" />
        </div>
    </div>
</form>