<div data-disabled="false" data-visible="" id="searchPaymentTable">
    <div class="row">
        <div class="uif-col-12">
            <table id="tblPayment" class="uif-table" data-title="<b>@Resources.Language.PaymmentList</b>"
                   data-filter="false" data-paginate="true" data-selectiontype="single">
                <thead>
                    <tr>
                        <th data-property="ClaimNumber"><b>@Resources.Language.ComplaintNotice</b></th>
                        <th data-property="Number"><b>@Resources.Language.PaymentRequestNumber</b></th>
                        <th data-property="BranchDescription"><b>@Resources.Language.ClaimBranch</b></th>
                        <th data-property="PrefixDescription"><b>@Resources.Language.Prefix</b></th>                        
                        <th data-type="currency" data-property="PayedAmount"><b>@Resources.Language.PayedAmount</b></th>
                        <th data-type="currency" data-property="TotalTax"><b>@Resources.Language.DeclaredAmount</b></th>
                        <th data-type="currency" data-property="TotalAmount"><b>@Resources.Language.TotalToPayOut</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>