<div data-disabled="false" data-visible="" id="searchPoliciesTable">

    <div class="row">
        <div class="uif-col-12">
            <table id="tblPolicies" class="uif-table" data-filter="false" data-paginate="true" data-selectiontype="single">
                <thead>
                    <tr>
                        <th data-property="BranchDescription"><b>@Resources.Language.Branch</b></th>
                        <th data-property="PrefixDescription"><b>@Resources.Language.Prefix</b></th>
                        <th data-property="ProducDescription"><b>@Resources.Language.LabelProduct</b></th>
                        <th data-property="DocumentNumber"><b>@Resources.Language.Policy</b></th>
                        <th data-property="RiskDescription"><b>@Resources.Language.Risk</b></th>
                        <th data-property="CurrentFrom"><b>@Resources.Language.DateFrom</b></th>
                        <th data-property="CurrentTo"><b>@Resources.Language.DateTo</b></th>
                        <th data-property="HolderName"><b>@Resources.Language.LabelTaker</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>