<form id="formDescription" class="form">
    <div class="row">
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.Prefix</label>
            <select class="uif-select form-control" id="Prefix" data-val="true" data-val-required="@Resources.Language.RequiredField"
                    data-id="Id" data-name="Description" name="Prefix"
                    data-filter="true" data-native="false" required></select>
            <span class="text-danger" data-valmsg-for="Prefix" data-valmsg-replace="true"></span>
        </div>
    
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.Description</label>
            <input type="text" id="Description" maxlength="60" />
        </div>
    </div>

    <div class="uif-modalbuttons" id="buttonSaveSubcauses">
        <button type="button" class="btn btn-default" id="btnCancel" data-dismiss="modal">@Resources.Language.Cancel</button>
        <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.Save</button>
    </div>
</form>

