@{
    ViewBag.Title = "Index1";

}
<div class="row">
    <div class="uif-col-12" id="main">
    </div>
</div>

@section Title
{
    <div class="row main-title">
        <div class="column">
        </div>
    </div>
}
@section Toolbar
{
    <footer></footer>
}

@section Scripts
{
    try
    {
    @Scripts.Render("~/bundle/js/Global");
    @Scripts.Render("~/bundle/js/SearchEndorsement");
    @Scripts.Render("~/bundle/js/Printer");
    @Scripts.Render("~/bundle/js/EndorsementChangeTerm");
    @Scripts.Render("~/bundle/js/EndorsementTexts");
    @Scripts.Render("~/bundle/js/EndorsementClauses");
    @Scripts.Render("~/bundle/js/EndorsementModification");
    @Scripts.Render("~/bundle/js/EndorsementRenewal");
    @Scripts.Render("~/bundle/js/EndorsementExtension");
    @Scripts.Render("~/bundle/js/Adjustment");
    @Scripts.Render("~/bundle/js/Declaration");
    @Scripts.Render("~/bundle/js/EndorsementChangePolicyHolder");
    @Scripts.Render("~/bundle/js/EndorsementChangeConsolidation");
    @Scripts.Render("~/bundle/js/EndorsementChangeCoinsurance");
    @*emision*@
    @Scripts.Render("~/bundle/js/Common");
    @Scripts.Render("~/bundle/js/Underwriting");
    @Scripts.Render("~/bundle/js/Temporal");
    @Scripts.Render("~/bundle/js/Quotation");
    @Scripts.Render("~/bundle/js/Risk");
    @Scripts.Render("~/bundle/js/Vehicle");
    @Scripts.Render("~/bundle/js/Coverage");
    @Scripts.Render("~/bundle/js/ThirdPartyLiability");
    @Scripts.Render("~/bundle/js/Property");
    @Scripts.Render("~/bundle/js/Surety");
    @Scripts.Render("~/bundle/js/CoverageSurety");
    @Scripts.Render("~/bundle/js/JudicialSurety");
    @Scripts.Render("~/bundle/js/Liability");
    @Scripts.Render("~/bundle/js/Transport");
    @Scripts.Render("~/bundle/js/Sarlaft");
    @Scripts.Render("~/bundle/js/ConditionText");
    @Scripts.Render(" ~/bundle/js/Person");
    @Scripts.Render("~/bundle/js/EndorsementReversion");
    @Scripts.Render("~/bundle/js/EndorsementCancellation");
    @Scripts.Render("~/bundle/js/EndorsementChangeAgent");
    @Scripts.Render("~/bundle/js/CreditNote");
    @Scripts.Render("~/bundle/js/Marine");
    @Scripts.Render("~/bundle/js/Aircraft");
    @Scripts.Render("~/bundle/js/Fidelity");

    }
    catch
    {}

}




