@{
    Layout = null;
}

<div class="uif-row">
    <div class="uif-col-12">
        <table lang="es" class="uif-table" data-title="" data-selectiontype="none" id="tableListEndorsement" data-filter="false" data-paginate="true">
            <thead>
                <tr>
                    <th data-property="EndorsementNumber">@Resources.Language.attributeListEndorsementNumber</th>
                    <th data-property="DescriptionEndorsementType">@Resources.Language.attributeListEndorsementType</th>
                    <th data-property="TotalPremium">@Resources.Language.attributeListEndorsementTotalPremiun</th>
                    <th data-property="AssuredSum">@Resources.Language.attributeListEndorsementAssuredSum</th>
                    <th data-property="EmissionDate">@Resources.Language.attributeListEndorsementEmissionDate</th>
                    <th data-property="CurrentFrom">@Resources.Language.attributeListEndorsementCurrentFrom</th>
                    <th data-property="CurrentTo">@Resources.Language.attributeListEndorsementCurrentTo</th>
                    <th data-property="DescriptionProduct">@Resources.Language.attributeListEndorsementProduct</th>
                </tr>
            </thead>
            <tbody lang="es" ></tbody>
        </table>
    </div>
</div>