@using Sistran.Core.Framework.UIF.Web.Resources

@*----------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                CODIGO HTML
----------------------------------------------------------------------------------------------------------------------------------------------------------  *@

<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="BankAccounts" data-exporttocsv="false" data-edit="false" data-delete="false" data-source=""
               data-filter="false" data-paginate="false" data-selectiontype="single"
               data-title="@Global.BankAccounts">
            <thead>
                <tr>
                    <th data-property="BankName">@Global.ReceivingBank</th>
                    <th data-property="AccountNumber">@Global.AccountBank</th>
                    <th data-property="AccountTypeName">@Global.AccountType</th>
                    <th data-property="CurrencyName">@Global.Currency</th>
                    <th data-property="AccountTypeCode" data-visible="false">AccountTypeCode</th>
                    <th data-property="AccountBankCode" data-visible="false">AccountBankCode</th>
                    <th data-property="BankCode" data-visible="false">BankCode</th>
                    <th data-property="CurrencyCode" data-visible="false">CurrencyCode</th>
                    <th data-property="IndividualId" data-visible="false">IndividualId</th>
                    <th data-property="TinyDescription" data-visible="false">TinyDescription</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="uif-row">
    <div class="uif-col-12">
        <div class="uif-alert" id="alertModal"></div>
    </div>
</div>
