@model Sistran.Core.Framework.UIF.Web.Areas.Massive.Models.MassiveViewModel

@section Title
{
    <div class="row main-title">
        <div class="column-70">
            @Resources.Language.LoadMassive
        </div>
        <div class="column-30 even" id="searchDiv">
            @Html.TextBox("Id", null, new { @class = "uif-input-search", id = "inputLoadId", @placeholder = @Resources.Language.PlaceHolderLoadSearch,  })
            <button class="btn btn-default" id="btnAdvancedSearch"><i class="fa fa-angle-down"></i></button>
        </div>
    </div>
}

@section Toolbar
{
    <footer>
        <div class="pull-right">
            <button class="btn btn-default cancel" id="btnExit">
                <i class="fa fa-times-circle" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonExit
            </button>
            <button type="button" class="btn btn-default" id="btnPrint">
                <i class="fa fa-print" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.LabelPrinter
            </button>
            <button class="btn btn-default" id="btnErrors">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonErrors
            </button>
            <button class="btn btn-default" id="btnReport">
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonReport
            </button>
            <button class="btn btn-default" id="btnDeleteLoad">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonDeleteLoad
            </button>
            <button type="button" class="btn btn-primary" id="btnNewLoad">
                <i class="fa fa-file-o" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonNew
            </button>
            <button class="btn btn-primary" id="btnTariff">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonTariff
            </button>
            <button class="btn btn-primary" id="btnIssue">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <span class="" aria-hidden="true"></span>
                @Resources.Language.ButtonEmit
            </button>
        </div>
    </footer>
}

<div id="uif-spinner-loading" hidden="hidden">
    <div class="spinner spinner-three-bounce">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<form id="formMassive" autocomplete="off" class="form">
    <div class="row">
        <div class="uif-col-12">
            <div class="row">
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.LabelProcessType</label>
                    <select class="uif-select form-control" id="selectProcessType" data-id="Value" data-name="Text" name="ProcessTypeId"
                            data-val="true" data-val-required="@Resources.Language.ProcessTypeObligatory">
                    </select>
                    @Html.ValidationMessageFor(model => model.ProcessTypeId)
                </div>
            </div>
            <div id="divMassive">
                <div class="row">
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelTypeLoad</label>
                        <select class="uif-select form-control" id="selectLoadType" data-id="Id" data-name="Description" name="LoadTypeId"
                                data-val="true" data-val-required="@Resources.Language.UploadTypeObligatory"></select>
                        @Html.ValidationMessageFor(model => model.LoadTypeId)
                    </div>
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelBillingGroup</label>
                        @Html.TextBoxFor(model => model.BillingGroupDescription, new { id = "inputBillingGroup", @class = "uif-input-search", disabled = "disabled", placeholder = @Resources.Language.PlaceHolderCodeName })
                    </div>
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelRequestGrouping</label>
                        @Html.TextBoxFor(model => model.RequestGroupDescription, new { id = "inputRequestGroup", @class = "uif-input-search", disabled = "disabled", placeholder = @Resources.Language.PlaceHolderCodeName })
                    </div>
                </div>
                <div class="row">
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelAgentPrincipal</label>
                        @Html.TextBoxFor(model => model.AgentName, new { id = "inputAgent", @class = "uif-input-search", disabled = "disabled" })
                        @Html.ValidationMessageFor(model => model.AgentName)
                    </div>

                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelBranch</label>
                        <select class="uif-select form-control" id="selectBranch" data-id="Id" data-name="Description" name="BranchId"
                                data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlBranch"></select>
                        @Html.ValidationMessageFor(model => model.BranchId)
                    </div>

                    <div class="uif-col-4" hidden>
                        <label class="field-required">@Resources.Language.LabelAgentAgency</label>
                        <select class="uif-select form-control" id="selectAgency" data-id="Id" data-name="FullName" name="AgencyId"
                                data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlAgency"></select>
                        @Html.ValidationMessageFor(model => model.AgencyId)
                    </div>
                    <div class="uif-col-4">
                        <label>@Resources.Language.LabelSalesPoint</label>
                        <select class="uif-select form-control" id="selectSalePoint" data-id="Id" data-name="Description" name="SalesPointId"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelPrefixCommercial</label>
                        <select class="uif-select form-control" id="selectPrefix" data-id="Id" data-name="Description" name="PrefixId"
                                data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlPrefixCommercial"></select>
                        @Html.ValidationMessageFor(model => model.PrefixId)
                    </div>
                    <div class="uif-col-4">
                        <label class="field-required">@Resources.Language.LabelCommercialProduct</label>
                        <select class="uif-select form-control" id="selectProduct" data-id="Id" data-name="Description" name="ProductId"
                                data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlProduct"></select>
                        @Html.ValidationMessageFor(model => model.ProductId)
                    </div>
                    <div class="uif-col-4">
                        <label>@Resources.Language.LabelBusinessType</label>
                        <select class="uif-select form-control" id="selectBusinessType" data-id="Value" data-name="Text" name="BusinessTypeId" disabled="disabled"></select>
                    </div>

                </div>
                <div class="row">

                    <div class="uif-col-12">
                        <label class="field-required">@Resources.Language.LabelNameLoad</label>
                        @Html.TextBoxFor(model => model.LoadName, new { id = "inputLoadName", maxlength = "60" })
                        @Html.ValidationMessageFor(model => model.LoadName)
                    </div>
                </div>
           </div>
            <div class="row">
                <div class="uif-col-10">
                    <label class="field-required">@Resources.Language.LabelExcelFile</label>
                    @Html.TextBoxFor(model => model.FileName,
                        new Dictionary<string, Object>
                        {
                            {"input,","false"},
                            { "id","inputFile"},
                            { "class", "uif-inputfile"},
                            { "type","file"},
                            {"data-text",Resources.Language.ChooseFile},
                            {"accept",".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"}
                        })
                </div>
                <div class="uif-col-2">
                    <div class="without-label" style="float: right">
                        <button type="button" class="btn btn-default secondary-Colombia" id="btnAddLoad">
                            @Resources.Language.ButtonLoad
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uif-col-10 withOutMargin">
                    <div class="progress" style="height: 35px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                            <span class="sr-only">0% complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uif-col-2">
                    <label>@Resources.Language.LabelStateLoad</label>
                    @Html.TextBoxFor(model => model.StateDescription, new { id = "inputStateDescription", disabled = "disabled" })
                </div>
                <div class="uif-col-2">
                    <label>@Resources.Language.TotalRecords</label>
                    @Html.TextBoxFor(model => model.RecordsTotal, new { id = "inputRecordsTotal", disabled = "disabled" })
                </div>
                <div class="uif-col-2">
                    <label>@Resources.Language.LabelCorrectRecords</label>
                    @Html.TextBoxFor(model => model.RecordsProcessed, new { id = "inputRecordsProcessed", disabled = "disabled" })
                </div>
                <div class="uif-col-2">
                    <label>@Resources.Language.Pendings</label>
                    @Html.TextBoxFor(model => model.RecordsPendings, new { id = "inputRecordsPendings", disabled = "disabled" })
                </div>
                <div class="uif-col-2">
                    <label>@Resources.Language.WithEvents</label>
                    @Html.TextBoxFor(model => model.RecordsEvents, new { id = "inputRecordsEvents", disabled = "disabled" })
                </div>
                <div class="uif-col-2">
                    <label>@Resources.Language.WithErrors</label>
                    @Html.TextBoxFor(model => model.RecordsErrors, new { id = "inputRecordsErrors", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12" id="divCollectivePolicies">
            <table data-paginate="false" data-selectiontype="none" class="uif-table" id="TableCollectiveIssue" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="DocumentNumber" class="input-money">@Resources.Language.LabelPolicy</th>
                        <th data-property="Premium">@Resources.Language.LabelTotalPremium</th>
                        <th data-property="Commiss">@Resources.Language.LabelCommission</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12" id="divErrors">
            <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableError" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="MassiveLoadVehiclePolicyId">@Resources.Language.LabelExcelRow</th>
                        <th data-property="LicensePlate">@Resources.Language.LabelPlate</th>
                        <th data-property="DescriptionType">@Resources.Language.LabelType</th>
                        <th data-property="DescriptionMake">@Resources.Language.LabelMake</th>
                        <th data-property="CountRiskErrors">@Resources.Language.LabelErrorMessage</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="uif-col-12" id="divTemporals">
            <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableTemporals" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="Risk.Policy.Id">@Resources.Language.LabelTemporal</th>
                        <th data-property="Risk.Policy.PolicyType.Description">@Resources.Language.LabelPolicyType</th>
                        <th data-property="Risk.Description">@Resources.Language.LabelRisks</th>
                        <th data-property="Risk.Policy.Summary.FullPremium">@Resources.Language.LabelPremium</th>
                        <th data-property="TotalCommission">@Resources.Language.LabelCommission</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="uif-col-12" id="divPolicies">
            <table data-paginate="true" data-selectiontype="none" class="uif-table" id="TableIssue" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="Risk.Policy.DocumentNumber">@Resources.Language.LabelPolicy</th>
                        <th data-property="Risk.Policy.PolicyType.Description">@Resources.Language.LabelPolicyType</th>
                        <th data-property="Risk.Description">@Resources.Language.LabelRisks</th>
                        <th data-property="Risk.Policy.Summary.FullPremium">@Resources.Language.LabelPremium</th>
                        <th data-property="TotalCommission">@Resources.Language.LabelCommission</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="uif-col-12" id="divCollectiveTemporals">
            <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableCollectiveTemporals" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="Risk.RiskId">@Resources.Language.LabelTemporal</th>
                        <th data-property="Risk.Description">@Resources.Language.LabelRisks</th>
                        <th data-property="Premium">@Resources.Language.LabelPremium</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="uif-col-12" id="divCollectiveTemporalsIssued">
            <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableCollectiveTemporalsIssued" data-title="" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="Risk.Description">@Resources.Language.LabelRisks</th>
                        <th data-property="Premium">@Resources.Language.LabelPremium</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
       
    </div>

</form>

@section Scripts
{
    @Scripts.Render("~/bundle/js/Massive");
}


@section Modals
{
    <div class="uif-modal" id="modalDefaultSearch">
        <div class="uif-modalbody">
            @Html.Partial("~/Areas/Underwriting/Views/Underwriting/DefaultResults.cshtml")
        </div>
    </div>

    <div class="uif-modal" id="modalPrinting">
        <div class="uif-modalbody">
            @Html.Partial("~/Areas/Massive/Views/Printing/Printing.cshtml")
        </div>
    </div>
}