@*Fields ListView*@
<script id="AdvancedBranchTemplate" type="text/template">
    <div>Código de ramo: <strong>{{Id}}</strong></div>
    <div>
        Descripción larga: <strong>{{Description}}</strong>
    </div>
    <div>
        Descripción corta: <strong>{{ShortDescription}}</strong>
    </div>
</script>
@*Formulario Principal*@
<form id="formSearchAdvancedLineBusiness" class="form">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearch</h4>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelNameofbranchTechnical</label>
            @Html.TextBox("LineBusinessName",null, new { id = "inputNameLineBusiness", placeholder = @Resources.Language.TechnicalBranchName })
            
            @*@Html.ValidationMessageFor(model => model.LineBusinessName)*@
        </div>
        <div class="uif-col-6">
            <label class="field-required">@Resources.Language.LabelRiskTypeCovered</label>
            <select class="uif-select form-control" id="selectRiskTypeCovered" data-id="Id" data-name="Description" name="PrefixId"
                    data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlPrefixCommercial"
                    data-filter="true" data-native="false"></select>
        </div>


    </div>

    <div class="row">
        <div class="uif-col-12">
            <button type="button" name="name" id="btnAdvancedSearchLineBusiness" class="btn btn-primary-Co width-container">@Resources.Language.search</button>            
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="listViewSearchAdvanced">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelLineBusinessSearchAdv" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnLoadUser" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>

@*@section Scripts
{
    
   <script src="@Url.Content("~/Areas/Parametrization/Scripts/LineBusiness/AdvancedSearchLineBusiness.js")"></script>
    
}*@
