@{
    Layout = null;
}
<form id="frmNoticeFidelity" class="form form-space-adjusted" autocomplete="off">
    <div class="row">
        <div class="uif-col-12">
            <div id="accContactInformation">
                <h5>
                    <strong>@Resources.Language.ContactInformation</strong>
                </h5>
                @Html.Partial("../Notice/ContactInformationPartial")
                <div>
                    <h5>
                        <strong>@Resources.Language.RiskFidelityData</strong>
                    </h5>
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelActivityRisk</label>
                            <select class="uif-select form-control" id="ddlActivityRisk" data-val="true" data-val-required="@Resources.Language.RequiredField"
                                    data-id="Id" data-name="Description" name="ActivityRisk" data-filter="true" data-native="false" required></select>
                            <span class="text-danger" data-valmsg-for="ActivityRisk" data-valmsg-replace="true"></span>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelIdOccupation</label>
                            <select class="uif-select form-control" id="ddlOccupation" data-val="true" data-val-required="@Resources.Language.RequiredField"
                                    data-id="Id" data-name="Description" name="Occupation" data-filter="true" data-native="false" required></select>
                            <span class="text-danger" data-valmsg-for="Occupation" data-valmsg-replace="true"></span>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelDiscoveryDate</label>
                            <input class="uif-datepicker" type="text" id="inputDiscoveryDate" name="DiscoveryDate" data-val="true" data-val-required="@Resources.Language.RequiredField" required />
                            <span class="text-danger" data-valmsg-for="DiscoveryDate" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div id="accPolicy">
                @Html.Partial("../Notice/PolicyInformationPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div id="accClaimNotice">
                @Html.Partial("../Notice/ClaimNotice")
            </div>
        </div>
    </div>
</form>

@* // -- // Modales // -- // *@

<div class="uif-modal" id="modalSearchbyInsured">
    <div class="uif-modalbody">
        @Html.Partial("../NoticeFidelity/SearchPoliciesFidelityDialog")
    </div>
</div>