@model Sistran.Core.Framework.UIF.Web.Areas.Printing.Models.PrinterModelsView

@section Title
{
    <div class="row main-title">
        <div class="column-70">
            @Resources.Language.PolicyEndorsementTemporaryPrinting
        </div>
        <div class="column-30">
            <div class="important">
                <div class="date">
                    <i class="fa fa-calendar"></i>@Resources.Language.LabelDate <span id="inputCurrentDate"></span>
                </div>
            </div>
        </div>
    </div>
}

@section Toolbar
{
    <footer>
        <div>
            <button type="button" class="btn btn-default" id="btnClose"><i class="fa fa-times-circle" aria-hidden="true"></i>@Resources.Language.ButtonExit</button>
            @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0659"))
            {
                <button type="button" class="btn btn-primary" id="btnPrint">
                    <i class="fa fa-print" aria-hidden="true"></i>@Resources.Language.LabelPrinter
                </button>
            }

        </div>
    </footer>
}

<div id="uif-spinner-loading" hidden="hidden">
    <div class="spinner spinner-three-bounce">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<form id="formPrinting" class="form without-peripheral">
    <div class="row">
        <div class="uif-col-3">
            <label>Proceso Impresión</label>
            @Html.TextBoxFor(model => model.TemporalId, new { id = "inputProcessCode", @class = "uif-input-search" })
        </div>
    </div>

    <div class="row">
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0038") || Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0039"))
        {
            <div class="uif-col-3">
                <label>@Resources.Language.LabelBranch</label>
                <select class="uif-select form-control" id="selectBranch" data-val="true" data-native="false" data-source='@Url.Content("~/Printer/GetBranches")'
                        @*data-val-required="@Resources.Language.ErrorDocumentControlBranch"*@ data-id="Id" data-name="Description" name="BranchId" data-selectedId="@Model.BranchId"></select>
                @Html.ValidationMessageFor(model => model.BranchId)
            </div>
            <div class="uif-col-3">
                <label>@Resources.Language.LabelPrefixCommercial</label>
                <select class="uif-select form-control" id="selectPrefixCommercial" data-native="false" data-val="true" data-source='@Url.Content("~/Printer/GetPrefixes")'
                        @*data-val-required="@Resources.Language.ErrorDocumentControlPrefixCommercial"*@ data-id="Id" data-name="Description" name="PrefixId" data-selectedId="@Model.PrefixId"></select>
                @Html.ValidationMessageFor(model => model.PrefixId)
            </div>
        }
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0038"))
        {
            <div class="uif-col-3">
                <label>@Resources.Language.LabelNumberPolicy</label>
                @Html.TextBoxFor(model => model.PolicyNumber, new { id = "inputPolicyNumber", @class = "uif-input-search" })
                @Html.ValidationMessageFor(model => model.PolicyNumber)
            </div>
            <div class="uif-col-3">
                <label>@Resources.Language.LabelEndorsement</label>
                <select class="uif-select form-control" id="selectEndorsement" data-native="false" data-id="Id" data-name="Description"
                        name="EndorsementId" data-val="true" data-val-required="@Resources.Language.ErrorDocumentEndorsement" data-selectedId="@Model.EndorsementId"></select>
                @Html.ValidationMessageFor(model => model.EndorsementId)
            </div>
        }
    </div>
    <div class="row">
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0040"))
        {
            <div class="uif-col-3">
                <label>@Resources.Language.LabelTemporal</label>
                @Html.TextBoxFor(model => model.TemporalId, new { id = "inputTemporal", @class = "uif-input-search" })
            </div>
        }
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0039"))
        {
            <div class="uif-col-3">
                <label>@Resources.Language.LabelNumeral @Resources.Language.LabelQuotation</label>
                <div class="input-group uif-inputsearch-group">
                    @*<input type="text" id="inputNumQuota" class="uif-input-search uif-inputsearch-pc form-control">*@
                    @Html.TextBoxFor(model => model.PolicyNumber, new { id = "inputNumQuota", @class = "uif-input-search" })
                </div>
            </div>

            <div class="uif-col-3">
                <label>@Resources.Language.LabelVersion @Resources.Language.LabelQuotation</label>
                <select class="uif-select form-control" id="selectVersionQuota" data-val="true"
                        data-id="TempId" data-name="VersionId" name="VersionId" data-native="false"></select>
            </div>
        }
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0040"))
        {
            <div class="uif-col-3">
                <label>@Resources.Language.LabelAdvice</label>
                <input class="uif-input-search" type="text" id="inputAdvice" name="inputAdvice">
                @*@Html.TextBoxFor(model => model.TemporalId, new { id = "inputTemporal", @class = "uif-input-search" })*@
            </div>
        }

    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-col-2">
                <div class="without-label">
                    <input type="checkbox" id="checkCollectFormat" name="checkCollectFormat" />
                    <label for="checkCollectFormat">Generar formato de recaudo</label>
                </div>
            </div>
            <div class="uif-col-2">
                <div class="without-label">
                    <input type="checkbox" id="checkCurrentFromFirst" name="checkCurrentFromFirst" />
                    <label for="checkCurrentFromFirst">@Resources.Language.PrintCurrentFromFirst</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-col-2">
                <div class="without-label">
                    <input type="checkbox" id="checkEmail" name="checkEmail" />
                    <label for="checkEmail">@Resources.Language.LabelSendEmail</label>
                </div>
            </div>
            <div class="uif-col-6">
                <div class="without-label">
                    <div class="uif-col-9">
                        <input type="text" id="inputEmail" data-val-maxlength-max="60" disabled="disabled" placeholder="Email..." />
                    </div>
                    <div class="uif-col-3" id="divSendMail" style="display:none">
                        <a id="btnSendEmail" class="btn btn-primary"><i class="fa fa-send" style="color:white"></i>Enviar</a>
                    </div>
                </div>
            </div>
            <div class="uif-col-2">
                <div class="without-label">
                    <input type="checkbox" id="checkPrintSelectEndoso" name="checkPrintSelectEndoso" />
                    <label for="checkPrintSelectEndoso">Imprimir Texto Endoso Seleccionado</label>
                </div>
            </div>
            <div class="uif-col-2">
                <div class="without-label">
                    <input type="checkbox" id="checkPrintAllEndoso" name="checkPrintAllEndoso" />
                    <label for="checkPrintAllEndoso">Imprimir Textos todos los Endosos</label>
                </div>
            </div>
        </div>
    </div>
    </br>
    @*<div class="row" id="areaAditional">
            <div class="uif-col-3">
                <div class="uif-col-12">
                    <input type="radio" id="radioNumPolicy" name="radiosPrint" />
                    <label for="radioNumPolicy">No. @Resources.Language.LabelPolicy</label>
                </div>
                <div class="uif-col-12">
                    <input type="radio" id="radioPay" name="radiosPrint" />
                    <label for="radioPay">@Resources.Language.PaymentAgreement</label>
                </div>
            </div>
        </div>*@
</form>

<div class="row without-peripheral">
    <div class="uif-col-12" id="divSummary" style="display:none">
        <div class="row">
            <div class="uif-col-12">
                <div class="uif-summary field-summary-alignment" id="printerTableSummary">
                    <div class="title">@Resources.Language.TitleTablePrinter</div>
                    <div class="items">
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelTableRisk</div>
                                <div id="PrinterRiskCount"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelTableSum</div>
                                <div id="PrinterAmountInsured"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelTablePremium</div>
                                <div id="PrinterPremium"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelTableExpenses</div>
                                <div id="PrinterExpenses"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelTableTaxes</div>
                                <div id="PrinterTaxes"></div>
                            </div>
                        </div>
                        <div class="item primary">
                            <div>
                                <div>@Resources.Language.LabelTableTotalPremium</div>
                                <div id="PrinterFullPremium"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="uif-col-12">
                <form id="formVehicle">
                    <div id="modalVehicle">
                        @Html.Partial("~/Areas/Printing/Views/Printer/Vehicle.cshtml", new Sistran.Core.Framework.UIF.Web.Areas.Printing.Models.VehicleModelsView())
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="uif-col-6" id="divDetail" style="display:none">
        <table data-paginate="true" data-selectiontype="none" class="uif-table" id="tableDetail" data-title="" data-filter="false">
            <thead>
                <tr>
                    <th data-property="Risk.Policy.DocumentNumber">@Resources.Language.LabelPolicy</th>
                    <th data-property="Risk.Policy.Id">@Resources.Language.LabelTemporal</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="uif-row" style="display:none" id="divQuotes">
    <div class="uif-col-12">
        <table data-paginate="false" data-selectiontype="multiple" data-filter="false" class="uif-table" id="tableQuote" data-title="Cuotas del endoso" data-add="false">
            <thead>
                <tr>
                    <th data-property="QuoteNumber" data-visible="true">N.Cuota</th>
                    <th data-property="Date" data-visible="true">Fecha Vencimiento</th>
                    <th data-property="TotalValue" data-visible="true">Prima Total</th>
                    <th data-property="State" data-visible="true">Estado</th>
                    <th data-property="QuoteValue" data-visible="true">Saldo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="row" style="display:none" id="divMassiveDetail">
    <div class="uif-col-2">
        <label>@Resources.Language.TotalRecords</label>
        @Html.TextBoxFor(model => model.TemporalId, new { id = "inputRecordsTotal", disabled = "disabled" })
    </div>
    <div class="uif-col-2">
        <label>Pendientes</label>
        @Html.TextBoxFor(model => model.TemporalId, new { id = "inputRecordsProcessed", disabled = "disabled" })
    </div>
    <div class="uif-col-2">
        <label>@Resources.Language.Error</label>
        @Html.TextBoxFor(model => model.TemporalId, new { id = "inputRecordsErrors", disabled = "disabled" })
    </div>
    <div class="uif-col-3">
        <div class="without-label">
            <a id="btnGenerateZip" class="btn btn-primary"><i class="fa fa-download" style="color:white"></i>Generar zip</a>
        </div>
    </div>
</div>
<div class="row" style="display:none" id="divDownload">
    @*<div class="uif-col-12">*@
    <div class="uif-col-3">
        <div class="without-label">
            <label>@Resources.Language.ProcessPrinting</label>
        </div>
    </div>
    <div class="uif-col-3">
        <div class="without-label">
            <a href="" id="hrfPathPdf" class="btn btn-primary" download="" target="_blank">
                <i class="fa fa-download"></i>
                <span id="hrfPathName" style="padding-left:5px"></span>
            </a>
        </div>
    </div>
    @*</div>*@
</div>
<div>
    <iframe src="" type="application/pdf" id="embed" width="100%" height="400px" style="display:none"> </iframe>
</div>
@section Scripts
{
    @Scripts.Render("~/bundle/js/Printer");
}