@{
    Layout = null;
}

<form  class="form uif-col-12" id="formsearch">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Global.AdvancedInquiryAccountAdvanced</h4>
        </div>
    </div>
    <div class="uif-row-12" id="panelSearchPerson">
        <div class="uif-row-12">
            <div class="row">
                <div class="uif-col-4" align="center">
                    <label align="center">@Resources.Global.AccountingAccountNumber</label>
                    <input type="text" id="AccountSearchNumber" maxlength="20" />
                </div>
                <div class="uif-col-4" align="center">
                    <label align="center">@Resources.Global.AccountingAccountName</label>
                    <input type="text" id="AccountSearchName" maxlength="20" style="text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" />
                </div>
                <div class="without-label uif-col-4">
                    <button class="btn btn-primary-Co width-container" id="AccountSearch" type="button">
                        <span aria-hidden="true"></span>
                        @Resources.LanguagePerson.search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div></div>
    <div class="uif-row-12">
        <div class="uif-col-12">
            <div class="uif-listview" id="ListViewAccount">
            </div>
        </div>
    </div>
    <hr />
    <div class="uif-col-12">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertSearchAccountName"></div>
        </div>
        <hr />
        <div class="uif-modalbuttons row ">
            <div class="uif-col-12" align="center">
                <div class="pull-right width-save">
                    <button class="btn btn-default" id="cancelButton" type="button">@Resources.LanguagePerson.Cancel</button>
                    <button class="btn btn-primary" id="saveButton" type="button">@Resources.LanguagePerson.Accept</button>
                </div>
            </div>
        </div>
    </div>
</form>
