@{
    Layout = null;
}

<script id="title-template" type="text/template">
    <div class="column-90">
        @Resources.Language.ParameterRolandSubrol
    </div>
    <div class="column-10 even">

    </div>
</script>

<form id="formParameterRolandSubrol" autocomplete="off" class="form form-space-adjusted">
    <br />
    <div class="uif-col-12">
        <label>@Resources.Language.Search1</label>
    </div>
    <div class="uif-col-12">
        <div class="row">
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.LabelNumDocument</label>
                <input type="text" id="InputNumDocument" maxlength="14" />
            </div>

            <div class="uif-col-8">
                <label class="field-required">@Resources.Language.LabelFullName</label>
                <input type="text" id="InputFullName" maxlength="14" />
            </div>
        </div>
    </div>
    <div class="uif-col-12">
        <div class="row">
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.Role</label>
                <select class="uif-select form-control" id="Role" data-val="true" data-val-required="@Resources.Language.RequiredField"
                        data-id="Id" data-name="Description" name="Role"
                        data-filter="true" data-native="false" required></select>
                <span class="text-danger" data-valmsg-for="Role" data-valmsg-replace="true"></span>
            </div>

            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.Subroles</label>
                <select class="uif-select form-control" id="Subroles" data-val="true" data-val-required="@Resources.Language.RequiredField"
                        data-id="Id" data-name="Description" name="Subroles"
                        data-filter="true" data-native="false" required></select>
                <span class="text-danger" data-valmsg-for="Subroles" data-valmsg-replace="true"></span>
            </div>

            <div class="uif-col-1">
                <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.search</button>
            </div>

            <div class="uif-col-1">
                <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.Cancel</button>
            </div>
                
            <div class="uif-col-1">
                <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.Save</button>
            </div>
        </div>
    </div>
    <div class="uif-col-12">
        <table class="uif-table" id="tblsubroles" data-pagesize="10" data-add="true" data-title="<b>Listado de Subroles</b>" data-selectiontype="none" data-delete="true" data-edit="true">
            <thead>
                <tr>
                    <th data-property="Description"><b>@Resources.Language.DocumentNumber</b></th>
                    <th data-property="Description"><b>@Resources.Language.Name</b></th>
                    <th data-property="Description"><b>@Resources.Language.Role</b></th>
                    <th data-property="Description"><b>@Resources.Language.Subroles</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</form>

