<div class="row">
    <div>
        <h5>
            <strong>@Resources.Language.Recoveries</strong>
        </h5>
        <table class="uif-table" data-title="<b>@Resources.Language.RecoverySummary</b>" data-source="null" id="tblRecoveriesSummary" data-selectiontype="none" data-add="false" data-edit="false" data-delete="false" data-filter="false" data-paginate="false">
            <thead>
                <tr>
                    <th data-property="Id"><b>@Resources.Language.RecoveryNumber</b></th>
                    <th data-property="SubClaimId"><b>@Resources.Language.SubClaim</b></th>
                    <th data-property="CurrencyDescription"><b>@Resources.Language.Currency</b></th>
                    <th data-property="RecoveryTypeDescription"><b>@Resources.Language.RecoveryType</b></th>
                    <th data-property="Description"><b>@Resources.Language.RecoveryDescription</b></th>
                    <th data-property="DebtorFullName"><b>@Resources.Language.Debtor</b></th>
                    <th data-property="TotalAmount" data-type="currency"><b>@Resources.Language.RecoveryAmount</b></th>
                    <th data-property="TotalAmount" data-type="currency"><b>@Resources.Language.RemainingAmount</b></th>
                    <th data-property="RecuperatorNameDocument" ><b>@Resources.Language.labelRecuperator</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

