@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li><a href="/Home">@Global.Reports</a></li>
        <li class="active">@Global.MenuBalance</li>
    </ol>
}

@section Toolbar
{
    <footer>
        <button type="button" id="btnGenerate" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i>@Global.BtnReport</button>
        <button type="button" id="btnExcel" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-file-excel-o"></i>@Global.GenerateExcel</button>
    </footer>
}

<form id="formData">
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="checkbox">@Global.DateFrom</label>
            <input type="text" class="uif-datepicker" data-mask="99/99/9999" id="dailyDateFrom" name="dailyDateFrom" data-val="true" data-val-required="@Global.RequiredField" />
            <span class="text-danger" data-valmsg-for="dailyDateFrom" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-4">
            <label class="checkbox">@Global.DateTo</label>
            <input type="text" class="uif-datepicker" data-mask="99/99/9999" id="dailyDateTo" name="dailyDateTo" data-val="true" data-val-required="@Global.RequiredField" />
            <span class="text-danger" data-valmsg-for="dailyDateTo" data-valmsg-replace="true" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alert"></div>
        </div>
    </div>
</form>


<iframe src="" name="framepdf" id="framePdf" scrolling="auto" frameborder="no" width="100%" height="900px" style="margin:0 0px 0 0;"></iframe>

@section scripts
{
    @Scripts.Render("~/generalLedger/bundles/Balance")
}
