@using Sistran.Core.Framework.UIF.Web.Resources

<div id="CommissionRetainedDialog" >

    <h5><b>@Global.DialogCommissionRetainedTitle</b></h5>
    <div class="uif-row">
        <div class="uif-col-8">
            <label class="control-label">@Global.Branch</label>
            <input type="text" id="ChangeAmountBranchName" name="_ChangeAmountBranchName" disabled="disabled" style="width: 100%" />
        </div>
        <div class="uif-col-4">
            <label class="control-label">@Global.Prefix</label>

            <input type="text" id="ChangeAmountPrefix" name="_ChangeAmountPrefix" disabled="disabled" style="width: 100%" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="control-label">@Global.Policy</label>
            <input type="text" id="ChangeAmountPolicy" name="_ChangeAmountPolicy" disabled="disabled" style="width: 100%"/>
        </div>
        <div class="uif-col-4">
            <label class="control-label">@Global.Endorsement</label>
            <input type="text" id="ChangeAmountEndorsement" name="_ChangeAmountEndorsement" disabled="disabled" style="width: 100%"/>
        </div>
        <div class="uif-col-4">
            <label class="control-label">@Global.Quota</label>
            <input type="text" id="ChangeAmountPayment" name="_ChangeAmountPayment" disabled="disabled" style="width: 100%"/>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label class="control-label">@Global.Agent</label>
            <input type="text" id="ChangeAmountAgent" name="_ChangeAmountAgent" disabled="disabled" style="width: 100%" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="control-label">@Global.DialogCommissionRetainedOutstandingCommission</label>
            <input type="text" id="ChangeAmountPendantCommission" name="_ChangeAmountPendantCommission" disabled="disabled" style="text-align: right; width: 100%"/>

        </div>
        <div class="uif-col-4">
            <label class="control-label">@Global.DialogCommissionRetainedCommissionGranted</label>
            <input type="text" id="ChangeAmountDiscountedCommission" name="_ChangeAmountDiscountedCommission" style="text-align: right; width: 100%"/>

        </div>
    </div>

    <div class="uif-col-12">
        <div class="uif-alert" id="alertCommissionRetained"></div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <div class="pull-right">
                <button id="AcceptCommissionDialog" class="btn btn-primary" role="button">
                    <span class="glyphicon glyphicon-floppy-disk"></span>  @Global.Accept

                </button>
                <button id="CancelCommissionDialog" class="btn btn-default" role="button">
                    <span class="glyphicon glyphicon-remove"></span>  @Global.Cancel
                </button>
            </div>
        </div>
    </div>
</div>


