@{
    Layout = null;
}
@model Sistran.Core.Framework.UIF.Web.Areas.Endorsement.Models.ChangeConsolidationViewModel

<script id="ChangeConsolidationTemplate" type="text/template">
    <div><strong>{{ConsolidationName}}</strong></div>
    <div><strong> @Resources.Language.PrincipalAddress {{ConsolidationAddress}}</strong></div>
    <div><strong> Tel.{{ConsolidationPhone}}</strong></div>
    <div><strong>{{ConsolidationEmail}}</strong></div>
</script>

<script id="title-template" type="text/template">
    <div class="column-60">
        @Resources.Language.ChangeConsolidationEndorsement
    </div>
    <div class="column-40">
        <div class="important">
            <div class="date">
                <i class="fa fa-calendar"></i>@Resources.Language.LabelDateIssuance <span id="inputIssueDate"></span>
                @Resources.Language.LabelNumberTemporal<span id="labelTemporalId"></span>
            </div>
        </div>
    </div>
</script>

<script id="footer-template" type="text/template">
    <div class="pull-right">
        <div class="row">
            <div class="uif-col-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" id="btnCancel">@Resources.Language.ButtonClose</button>
                    <button type="button" class="btn btn-default" id="btnPrintTemporalConsolidation">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <span class="" aria-hidden="true"></span>
                        @Resources.Language.PrintTemporal
                    </button>
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0739"))
                    {
                        <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.ModificationSave</button>
                    }
                </div>
            </div>
        </div>
    </div>
</script>

<div class="uif-modal" id="modalSaveChangeConsolidation">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Endorsement/Views/ChangeConsolidation/SaveChangeConsolidation.cshtml")
    </div>
    <div id="buttonsAgents" class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnChangeConsolidationClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0747"))
        {
            <button type="button" class="btn btn-primary" id="btnChangeConsolidationSave">@Resources.Language.ButtonSave</button>
        }
        </div>
</div>

<div class="uif-modal" id="modalIndividualSearch">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/IndividualResults.cshtml")
    </div>
</div>
<form id="formChangeConsolidation" class="without-peripheral">
    <div class="row">
        <div class="uif-col-12">
            <h5 id="globalTitle"></h5>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-summary field-summary-alignment">
                <div class="items">
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableRisk</div>
                            <div id="labelCurrentRisk">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSum</div>
                            <div id="labelCurrentSum">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablePremium</div>
                            <div id="labelCurrentPremium">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableExpenses</div>
                            <div id="labelCurrentExpenses">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelSurcharge</div>
                            <div id="labelCurrentSurcharges">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelDiscount</div>
                            <div id="labelCurrentDiscounts">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableTaxes</div>
                            <div id="labelCurrentTaxes">0</div>
                        </div>
                    </div>
                    <div class="item primary">
                        <div>
                            <div>@Resources.Language.LabelTableTotalPremium</div>
                            <div id="labelCurrentTotalPremium">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <h5><strong>@Resources.Language.Bonded</strong></h5>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div id="listChangeConsolidationCurrent" class="uif-listview"></div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-2">
            <label class="field-required">@Resources.Language.LabelDateStart</label>

            @Html.TextBoxFor(model => model.CurrentFrom, new { id = "inputCurrentFrom", @class = "uif-datepicker", @required = "required" })
            @Html.ValidationMessageFor(model => model.CurrentFrom)
        </div>
        <div class="uif-col-1">
            <label>@Resources.Language.LabelDays</label>
            @Html.TextBoxFor(model => model.Days, new { id = "inputDays", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Days)
        </div>
    </div>

    <h5>
        <strong>Riesgos</strong>
    </h5>

    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.Risk</label>
            <select class="uif-select form-control" id="selectRisk" data-val="true" data-native="false" )'
                    @*data-val-required="@Resources.Language.ErrorDocumentPrefix"*@ data-id="Id" data-name="Description" name="RiskId"></select>
            @Html.ValidationMessageFor(model => model.PrefixId)
        </div>
    </div>

    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelText</label>
            @Html.TextAreaFor(model => model.Text, new { id = "inputText", rows = "5", style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.LabelObservations</label>
            @Html.TextAreaFor(model => model.Observations, new { id = "inputObservations", rows = "5", style = "text-transform:uppercase" })
            @Html.ValidationMessageFor(model => model.Observations)
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.RecordObservations</label>
            <textarea id="inputRecord" name="inputRecord" rows="5" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right">
                @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0738"))
                {
                    <button type="button" class="btn btn-default secondary-Colombia" id="btnChangeConsolidationEndorsement">
                        @Resources.Language.Modify
                    </button>
                }
                </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <h5><strong>@Resources.Language.NewConditions</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <h5><strong>@Resources.Language.Bonded</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div id="listChangeConsolidationModify" class="uif-listview"></div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
        </div>
    </div>
</form>