<form id="formMassiveLoadTariffed" class="form">
    <div class="row">
        <div class="uif-col-3">
            <label>@Resources.Language.LabelProcess</label>
            <input type="text" disabled="disabled" id="inputProcessTariffed" />
        </div>

        <div class="uif-col-6">
            <label>@Resources.Language.LabelDescription</label>
            <input type="text" disabled="disabled" id="inputDescriptionTariffed" />
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.LabelRisks</label>
            <input type="text" disabled="disabled" id="inputRiskTariffed" />
        </div>
    </div>



    <table class="uif-table"
           data-source=""
           id="tableConsultLoadTariffed"
           data-title=""
           data-filter="true"
           data-paginate="true" data-selectiontype="none">
        <thead>
            <tr>
                <th data-property="CountRisk">@Resources.Language.LabelCorrectRecords</th>
                <th data-property="SumPremiun">@Resources.Language.LabelPremium</th>
                <th data-property="SumLimit">@Resources.Language.LabelSum</th>
                <th data-property="CountRiskErrors">@Resources.Language.ErrosPending</th>
                <th data-property="CountRiskEvents">@Resources.Language.RiskEvents</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


</form>
