<form id="formIssue" class="form">
        <div class="row">
            <div class="uif-col-3" style="display:none">
                <label>@Resources.Language.LabelTemporalIssuance</label>
                <input type="text" disabled="disabled" id="inputTemporalIssue" />
            </div>
            <div class="uif-col-3">
                <label>@Resources.Language.ProcessNumber</label>
                <input type="text" disabled="disabled" id="inputProcessIssue" />
            </div>
        </div>

        <div class="row">
            <div class="uif-col-12">
                <div class="uif-summary">
                    <div class="items">
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelRisks</div>
                                <div id="MassiveCountRisk"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.Premium</div>
                                <div id="MassiveSumPremiun"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.LabelSum</div>
                                <div id="MassiveSumLimit"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.ErrosPending</div>
                                <div id="MassiveCountRiskErrors"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.RiskEvents</div>
                                <div id="MassiveCountRiskEvents"></div>
                            </div>
                        </div>
                        <div class="item">
                            <div>
                                <div>@Resources.Language.PolicyEvents</div>
                                <div id="MassiveCountEventPolicy"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
