
<form id="formMassiveLoadFinished" class="form">
    @* <div class="uif-col-12">*@
    <div class="row" style="display:none">
                <div class="uif-col-2">
                    <label>@Resources.Language.LabelTemporyIssuance</label>
                    <input type="text" disabled="disabled" id="inputTemporalFinish" />
                </div>
    </div>
    <div class="row">
        <div class="uif-col-2">
            <label>@Resources.Language.LabelProcess</label>
            <input type="text" disabled="disabled" id="inputProcess" />
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelDescription</label>
            <input type="text" disabled="disabled" id="inputDescription" />
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelRisks</label>
            <input type="text" disabled="disabled" id="inputRisk" />
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelPendingErrors</label>
            <input type="text" disabled="disabled" id="inputRiskError" />
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelCorrectRecords</label>
            <input type="text" disabled="disabled" id="inputRiskProcessed" />
        </div>
    </div>

    <table class="uif-table" data-title="" id="tableProcessList" data-filter="single" data-paginate="true" data-selectiontype="none">
        <thead>
            <tr>
                <th data-property="MassiveLoadVehiclePolicyId">@Resources.Language.LabelExcelRow</th>
                <th data-property="LicensePlate">@Resources.Language.LabelPlate</th>
                <th data-property="DescriptionType">@Resources.Language.LabelType</th>
                <th data-property="DescriptionMake">@Resources.Language.LabelMake</th>
                <th data-property="ErrorId">@Resources.Language.LabelErrorMessage</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</form>
