@using Sistran.Core.Framework.UIF.Web.Resources

<div class="form">
    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.TransactionNumber:  </label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="TechnicalTransaction" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-8" hidden ="hidden">
            <input type="text" id="BallotId" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.BankNumberBallot:</label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="BallotNumber" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.Total:</label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="totAmountBallot" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.Date:</label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="BillingDateBallot" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.User:</label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="user" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row" id="accountingMessageDiv">
        <div class="uif-col-3">
            <label>@Global.AccountingIntegration:</label>
        </div>
        <div class="uif-col-8">
            <input type="text" id="accountingMessage" disabled="disabled" style="border: none" />
        </div>
    </div>
</div>

