@using Sistran.Core.Framework.UIF.Web.Resources

@*----------------------------------------------------------------------------------------------------------------------------------------------------------
                                                             CODIGO HTML                                                                                  
----------------------------------------------------------------------------------------------------------------------------------------------------------  *@     

    <div id="accCheckInformation" class="uif-panel" data-title="@Global.IssuingInformation">

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.IssuingBank:
                </label>

                <input type="text" id="checkBankDetail" name="checkBankDetail" maxlength="40" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label>
                    @Global.BankAccountNumber:
                </label>

                <input type="text" id="accountNumberDetail" name="accountNumberDetail" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.CheckNumber:
                </label>

                <input type="text" id="checkNumberDetail" name="checkNumberDetail" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">

                    @Global.IncomeReceiptNum:
                </label>
                <br />
                <input type="text" id="receiptCheckNumber" name="receiptCheckNumber" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">

                    @Global.Status:
                </label>
                <br />
                <input type="text" id="status" name="status" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
        </div>


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.CheckDate:
                </label>
                <br />
                <input type="text" id="checkDate" name="checkDate" maxlength="16" style="text-align:left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.Currency:
                </label>
                <br />
                <input type="text" id="checkCurrency" name="checkCurrency" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.Amount:
                </label>
                <br />
                <input type="text" id="amount" name="amount" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.Issuer:
                </label>
                <br />
                <input type="text" id="issuer" name="issuer" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
        </div>


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.IncomeConcept:
                </label>
                <br />
                <input type="text" id="incomeConcept" name="incomeConcept" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.IncomeDate:
                </label>
                <br />
                <input type="text" id="registerDate" name="registerDate" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.Branch:
                </label>
                <br />
                <input type="text" id="branch" name="branch" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
        </div>


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.Depositor:
                </label>
                <br />
                <input type="text" id="depositor" name="depositor" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
        </div>


    </div>

    <div id="accDepositInformation" class="uif-panel" data-title="@Global.DepositInformation">
        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.InternalBallotDate:
                </label>
                <br />
                <input type="text" id="internalBallotDate" name="internalBallotDate" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.InternalBallotNumber:
                </label>
                <br />
                <input type="text" id="internalBallotNumber" name="internalBallotNumber" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.ReceivingBank:
                </label>
                <br />
                <input type="text" id="receivingBank" name="receivingBank" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.ReceivingBankAccount:
                </label>
                <br />
                <input type="text" id="receivingAccount" name="receivingAccount" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
        </div>


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.DepositDate:
                </label>
                <br />
                <input type="text" id="depositDate" name="depositDate" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.DepositBallotNumber:
                </label>
                <br />
                <input type="text" id="depositBallotNumber" name="depositBallotNumber" maxlength="16" style="text-align: right" disabled="disabled" lass="uif2_required" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">

                    @Global.DepositTransaction:
                </label>
                <br />
                <input type="text" id="transactionDeposit" name="transactionDeposit" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
        </div>


    </div>

    <div id="accRejectedInformation" class="uif-panel" data-title="@Global.RejectInformation">
        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RejectionDate:
                </label>
                <br />
                <input type="text" id="dateRejection" name="dateRejection" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RejectionReason:
                </label>
                <br />
                <input type="text" id="motiveRejection" name="motiveRejection" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
        </div>


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RejectedComisionAmount:
                </label>
                <br />
                <input type="text" id="rejectedComision" name="rejectedComision" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RejectedVatAmount:
                </label>
                <br />
                <input type="text" id="rejectedIva" name="rejectedIva" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RejectedTransaction:
                </label>
                <br />
                <input type="text" id="rejectedTransaction" name="rejectedTransaction" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
        </div>


    </div>

    <div id="accRegularizedInformation" class="uif-panel" data-title="@Global.RegularizedInformation">


        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RegularizedDate:
                </label>
                <br />
                <input type="text" id="regularizedDate" name="regularizedDate" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.RegularizedTransaction:
                </label>
                <br />
                <input type="text" id="regularizedTransaction" name="regularizedTransaction" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
        </div>


    </div>

    <div id="accLegalInformation" class="uif-panel" data-title="@Global.LegalInformation">

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.LegalDate:
                </label>
                <br />
                <input type="text" id="legalDate" name="legalDate" maxlength="16" style="text-align: left" disabled="disabled" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">

                    @Global.LegalTransaction:
                </label>
                <br />
                <input type="text" id="legalTransaction" name="legalTransaction" maxlength="16" style="text-align: right" disabled="disabled" />
            </div>
        </div>


    </div>
