@using Sistran.Core.Framework.UIF.Web.Resources

 <div class="uif-panel" data-title="@Global.RejectedCheckSearch">

     <form id="frmLegalizeOne" class="form">
         <div class="uif-row">
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.IssuingBank:
                 </label>
                 <br />
                 <input type="text" id="LegalizeIssuingBankName" name="LegalizeIssuingBankName" disabled="disabled" />
                 <input type="hidden" id="LegalizeIssuingBankCode" name="LegalizeIssuingBankCode" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.BankAccountNumber:
                 </label>
                 <br />
                 <input type="text" id="LegalizeIssuingAccountBank" name="LegalizeIssuingAccountBank" disabled="disabled" />
                 <input type="hidden" id="LegalizePaymentCode" name="LegalizePaymentCode" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.CheckNumber:
                 </label>
                 <br />
                 <input type="text" id="LegalizeCheckNumber" name="LegalizeCheckNumber" disabled="disabled" />
                 <input type="hidden" id="LegalizePaymentMethodTypeCode" name="LegalizePaymentMethodTypeCode" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.CheckDate:
                 </label>
                 <br />
                 <input type="text" id="LegalizeCheckDate" name="LegalizeCheckDate" disabled="disabled" />
                 <input type="hidden" id="LegalizeBillCode" name="LegalizeBillCode" />
             </div>
             
         </div>

         <div class="uif-row">
             <div class="uif-col-6">
                 <label class="control-label">
                     @Global.Issuer:
                 </label>
                 <br />
                 <input type="text" id="LegalizeHolderName" name="LegalizeHolderName" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.Currency:
                 </label>
                 <br />
                 <input type="text" id="LegalizeCurrencyName" name="LegalizeCurrencyName" disabled="disabled" />
                 <input type="hidden" id="LegalizeCurrencyCode" name="LegalizeCurrencyCode" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.Amount:
                 </label>
                 <br />
                 <input type="text" id="LegalizeAmount" name="LegalizeAmount" disabled="disabled" style="text-align:right" />
             </div>
             
         </div>

         <div class="uif-row">
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.IncomeReceiptNum:
                 </label>
                 <br />
                 <input type="text" id="LegalizeReceiptNumber" name="LegalizeReceiptNumber" disabled="disabled" />
             </div>
             
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.DepositBallotNumber
                 </label>
                 <input type="text" id="LegalizeCheckDepositBallotNumber" name="LegalizeCheckDepositBallotNumber" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.ReceivingBank
                 </label>
                 <input type="text" id="LegalizeCheckReceivingBank" name="LegalizeCheckRecievingBank" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.ReceivingBankAccount
                 </label>
                 <input type="text" id="LegalizeCheckReceivingAccountBank" name="LegalizeCheckRecievingAccountBank" disabled="disabled" />
             </div>
             
         </div>

         <div class="uif-row">
             <div class="uif-col-6">
                 <label class="control-label">
                     @Global.Depositor
                 </label>
                 <input type="text" id="LegalizeCheckPayer" name="LegalizeCheckPayer" disabled="disabled" />
                 <input type="hidden" id="LegalizePayerId" name="LegalizePayerId" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.RejectionReason
                 </label>
                 <input type="text" id="LegalizeCheckRejectMotive" name="LegalizeCheckRejectMotive" disabled="disabled" />
             </div>
         </div>

         <div class="uif-row">
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.DepositDate
                 </label>
                 <input type="text" id="LegaizeCheckDepositDate" name="LegaizeCheckDepositDate" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.DepositTransaction
                 </label>
                 <input type="text" id="LegalizeCheckDepositTransaction" name="LegalizeCheckDepositTransaction" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.RejectionDate
                 </label>
                 <input type="text" id="LegalizeCheckRejectedDate" name="LegalizeCheckRejectedDate" disabled="disabled" />
             </div>
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.RejectionBillNum
                 </label>
                 <input type="text" id="LegalizeRejectionReceiptNumber" name="LegalizeRejectionReceiptNumber" disabled="disabled" />
             </div>
             <div class="uif-col-3" style="visibility:hidden">
                 <input type="text" id="LegalizeRejectionBranch" name="LegalizeRejectionBranch" style="visibility:hidden" disabled="disabled" />
             </div>
         </div>
         <input type="submit" id="validate_frmLegalizeOne" name="validate_frmLegalizeOne" style="visibility:hidden" />
     </form>
</div>

 <div class="uif-panel" data-title="@Global.LegalizingCheckInformation">

     <form id="LegalizeForm" class="form">
         <div class="uif-row">
             <div class="uif-col-3">
                 <label class="control-label">
                     @Global.LegalDate
                 </label>
                 <input type="text" id="CheckLegalTransferDate" name="CheckLegalTransferDate" class="uif-datepicker required"
                        data-val="true" data-mask="99/99/9999"
                        data-val-required='@Global.RequiredField' data-min-date="@ViewBag.CurrentDate" />
                 <span class="text-danger" data-valmsg-for="CheckLegalTransferDate" data-valmsg-replace="true" />
             </div>
         </div>
     </form>
</div> 




