@using Sistran.Core.Framework.UIF.Web.Resources

<form id="formSaveCheck" class="form">
    <div class="uif-row">
        <div class="uif-col-3">
            <label>
                @Global.VoucherNumber:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="ReceiptNumberCheck" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>
                @Global.Description:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="CheckDescription" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>
                @Global.TotalChecks:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="TotalAmountCheck" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>
                @Global.Date:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="ReceiptDate" disabled="disabled" style="border: none" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-3">
            <label>
                @Global.User:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="UserReceipt" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row" id="accountingMessageDiv">
        <div class="uif-col-6">
            <input type="text" id="accountingMessage" disabled="disabled" hidden="hidden" style="border: none;" />
        </div>
    </div>
</form>

    
