@using Sistran.Core.Framework.UIF.Web.Resources

@*----------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                CODIGO HTML
----------------------------------------------------------------------------------------------------------------------------------------------------------  *@
<form id="formSaveRejected" class="form">
    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.CheckNumber:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="RejectedCheckNumber" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.RejectionReason:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="RejectionMotiveDialog" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.RejectionDate:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="RejectedCheckDate" disabled="disabled" style="border: none" />
        </div>
    </div>


    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.TransactionNumber:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="RejectedCheckNewTechnicalTransaction" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-6" hidden ="hidden">
            <input type="text" id="RejectedCheckNewRecive" disabled="disabled" style="border: none" />
        </div>
    </div>

    <div class="uif-row" id="accountingMessageDiv">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.AccountingIntegration:
            </label>
        </div>
        <div class="uif-col-6">
            <input type="text" id="checkAccountingMessage" disabled="disabled" style="border: none" />
        </div>
    </div>
</form>




