<form id="formReason" class="form">
    <div class="row">
        <div class="uif-col-12 fit-col-main">
            <div class="uif-row">
                <div class="uif-col-4">
                    <label>@Resources.Language.Coverage:</label>
                    <select class="uif-select form-control" required="required" name="Coverage"
                            id="selectCoverage" data-id="Id" data-name="Description"
                            data-filter="true" data-native="false"></select>
                    <!--<input class="uif-autocomplete" type="text" data-source="Parametrization/ConfigurationPanels/GetCoveragesByPrintDescription" data-displaykey="Empresa" placeholder="" data-displayrecords="5" id="_coverage" disabled="disabled">-->
                </div>
                <br />
                <br />
                <div class="uif-col-2">
                    <input class="checkEnable" type="checkbox" id="checkDriver" name="enableCoverage" />
                    <label for="checkDriver">@Resources.Language.DriverMan </label>
                </div>


                <div class="uif-col-2">
                    <input class="checkEnable" type="checkbox" id="checkThird" name="enableCoverage" />
                    <label for="checkThird">@Resources.Language.Third</label>
                </div>

                <div class="uif-col-2">
                    <input class="checkEnable" type="checkbox" id="checkThirdV" name="enableCoverage" />
                    <label for="checkThirdV">@Resources.Language.ThirdPartyVehicle</label>
                </div>

                <div class="uif-col-2">
                    <input class="checkEnable" type="checkbox" id="checkAffectedProperty" name="enableCoverage" />
                    <label for="checkAffectedProperty">@Resources.Language.AffectedProperty</label>
                </div>

            </div>
            
            
        </div>
    </div>
</form>
