<form id="formAditionalInformation" class="form modal-Colombia">
    <div class="uif-row">
        <div class="uif-col-12">
            <h5>
                <b>@Resources.Language.ApplyTo</b>
            </h5>
        </div>
        <div class="uif-col-4">
            <div class="checkbox">
                <input type="checkbox" id="IsScore" />
                <label for="IsScore">@Resources.Language.DataCredito</label>
            </div>
        </div>
        <div class="uif-col-4">
            <div class="checkbox">
                <input type="checkbox" id="IsAlliance" />
                <label for="IsAlliance">@Resources.Language.Alliance</label>
            </div>
        </div>
        <div class="uif-col-4">
            <div class="checkbox">
                <input type="checkbox" id="IsMassive"/>
                <label for="IsMassive">@Resources.Language.Massive</label>
            </div>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
             <h5>
                 <b>Dias de Vigencia:</b>
             </h5>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Score</label>
            <input id="Score" type="text" maxlength="4" class="OnlyNumber" />
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Quote</label>
            <input id="Quote" type="text" maxlength="4" class="OnlyNumber" />
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Temporal</label>
            <input id="Temporal" type="text" maxlength="4" class="OnlyNumber" />
        </div>
    </div>
</form>