@{
    Layout = null;
}

<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearch</h4>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelPackages</label>
            <select class="uif-select form-control"
                    id="selectPackage"
                    data-selectedId="0"
                    data-source=""
                    data-id="PackageId"
                    data-name="Description"
                    data-native="false"></select>
        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.LabelLevels</label>
            <select class="uif-select form-control"
                    id="selectLevel"
                    data-selectedid="0"
                    data-source=""
                    data-id="LevelId"
                    data-name="Description"
                    data-native="false"></select>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.labelPublished</label>
            <select class="uif-select form-control"
                    id="selectPublished" data-native="false">
                <option>Todos</option>
                <option value="true">Publicadas</option>
                <option value="false">Sin publicar</option>
            </select>
        </div>
        <div class="uif-col-6">
            <div class="without-label">
                <button class="btn btn-primary-Co width-container" id="btnsearchDtAdv" type="button">
                    <span aria-hidden="true"></span>
                    @Resources.Language.search
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvSearchDesicionTable">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchDt" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnOkSearchDt" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>
