
@{
    Layout = null;
}
<div class="uif-row">
    <div class="uif-col-12">
        <h5>
            <strong>@Resources.Language.Risks</strong>
        </h5>
    </div>
    <div class="uif-col-12">
        <table class="uif-table" data-title="@Resources.Language.RiskListing" id="tableRiskVehicle"
               data-add="false" data-edit="false" data-delete="false" data-filter="true" data-paginate="true">
            <thead>
                <tr>
                    <th data-property="RiskId" data-visible="false">riskId</th>
                    <th data-property="Plate"><b>@Resources.Language.VehiclePlate</b></th>
                    <th data-property="Make"><b>@Resources.Language.VehicleMake</b></th>
                    <th data-property="Model"><b>@Resources.Language.VehicleModel</b></th>
                    <th data-property="Year"><b>@Resources.Language.Year</b></th>
                    <th data-property="Color"><b>@Resources.Language.Color</b></th>
                    <th data-property="Chasis"><b>@Resources.Language.Chassis</b></th>
                    <th data-property="InsuredAmount" data-type="currency"><b>@Resources.Language.InsuredAmount</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>