<form id="formIndividualDetail" class="form">
    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Resources.Language.LabelIdAllyIntermediary</label>
            <input type="number" id="SearchindividualId" , class="uif-input-search" placeholder="@Resources.Language.LabelIdAllyIntermediary" />
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.CodeTax</label>
            <input type="number" id="SearchCodeId" , class="uif-input-search" placeholder="@Resources.Language.CodeTax" />
        </div>
        <div class="uif-col-12">
            <table class="uif-table" data-selectiontype="single" id="tableIndividualDetail" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.LabelId</th>
                        <th data-property="CustomerType">@Resources.Language.LabelCustomerType</th>
                        <th data-property="Code">@Resources.Language.CodeTax</th>
                        <th data-property="DocumentNum">@Resources.Language.LabelDocumentNumber</th>
                        <th data-property="Description">@Resources.Language.LabelName</th>
                        <th data-property="CustomerTypeDescription">@Resources.Language.LabelCustomerType</th>
                        <th data-property="DocumentType">@Resources.Language.LabelTypeDocument</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>
