@{
    Layout = null;
}

<div class="uif-modal" id="ModalSinisterInformation">
    <div class="uif-modalbody">
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelPolicyInformation
                </label>
            </div>
        </div>
        <div class="uif-row">

            <div class="uif-col-4">
                <label> @Resources.Language.LabelCompany</label>
                <input type="text" disabled name="company" id="inputModalCompany" value="" />
            </div>
            <div class="uif-col-4">
                <label> @Resources.Language.LabelNroPolicy</label>
                <input type="text" disabled name="NumberPolice" id="inputModalNumberPolice" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.Order</label>
                <input type="text" disabled name="Order" id="inputModalOrder" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.Status</label>
                <input type="text" disabled name="company" id="inputModalCompany" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.BeginDate</label>
                <input type="text" disabled name="SValidity" id="inputModalSValidity" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.EndValidateDate</label>
                <input type="text" disabled name="EValidity" id="inputModalEValidity" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelDataVehicle
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelLicencesePlate</label>
                <input type="text" disabled name="Plate" id="inputModalPlate" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelMake</label>
                <input type="text" disabled name="Brand" id="inputModalBrand" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelClass</label>
                <input type="text" disabled name="Clase" id="inputModalClase" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelModel</label>
                <input type="text" disabled name="Model" id="inputModalModel" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelEngine</label>
                <input type="text" disabled name="Motor" id="inputModalMotor" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelChassis</label>
                <input type="text" disabled name="Chassis" id="inputModalChassis" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelType</label>
                <input type="text" disabled name="Type" id="inputModalType" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelInsuredDetail
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTypeDocument</label>
                <input type="text" disabled name="DocumentTypeInsured" id="inputModalDocumentTypeInsured" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelDocument</label>
                <input type="text" disabled name="DocumentInsured" id="inputModalDocumentInsured" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTableName</label>
                <input type="text" disabled name="NameInsured" id="inputModalNameInsured" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelHolderDetail
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTypeDocument</label>
                <input type="text" disabled name="DocumentTypeTaker" id="inputModalDocumentTypeTaker" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelDocument</label>
                <input type="text" disabled name="DocumentTaker" id="inputModalDocumentTaker" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTableName</label>
                <input type="text" disabled name="NameTaker" id="inputModalNameTaker" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelBeneficiaryDetail
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTypeDocument</label>
                <input type="text" disabled name="DocumentTypeBeneficiary" id="inputModalDocumentTypeBeneficiary" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelDocument</label>
                <input type="text" disabled name="DocumentBeneficiary" id="inputModalDocumentBeneficiary" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTableName</label>
                <input type="text" disabled name="NameBeneficiary" id="inputModalNameBeneficiary" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-md-12 text-center">
                <label>
                    @Resources.Language.LabelInformationAmparos
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                <table class="uif-table" id="TableInfoProtection">
                    <thead>
                        <tr>
                            <th data-property="Amparo">@Resources.Language.LabelProtection</th>
                            <th data-property="Notice">@Resources.Language.LabelAdvice</th>
                            <th data-property="status">@Resources.Language.LabelStatus</th>
                            <th data-property="Value">@Resources.Language.Value</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
       
        <br />
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelInsuredValue</label>
                <input type="text" disabled name="InsuredValue" id="inputModalInsuredValue" value="" />
            </div>
            <div class="uif-col-3">
                <label>@Resources.Language.LabelTotalClaim</label>
                <input type="text" disabled name="TotalClaim" id="inputModalTotalClaim" value="" />
            </div>
        </div>
        <div class="uif-row">
        </div>
    </div>

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Language.Close</button>
        <button type="button" class="btn btn-primary" id="btnExportModalPolicyInformation">@Resources.Language.ButtonExport</button>
    </div>
</div>