@model Sistran.Core.Framework.UIF.Web.Models.RegisterModel
@{
    Layout = null;
}
@*@Styles.Render("~/Lib/UifCss")

<div class="row main-title">
    <div class="column-70">
        @Resources.Language.UpdatePassword
    </div>
</div>*@
<script id="title-template" type="text/template">
    <div class="column-70">
        @Resources.Language.UpdatePassword
    </div>
    <div class="column-30">
    </div>
</script>

<script id="footer-template" type="text/template">
    <div id="buttonsVehicle">

        <button type="button" class="btn btn-default cancel" id="btnExit">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <span aria-hidden="true"></span>
            @Resources.Language.ButtonExit
        </button>
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0682"))
        {
            <button type="button" class="btn btn-primary" id="btnAccept">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                <span aria-hidden="true"></span>
                @Resources.Language.ButtonSave
            </button>
        }
    </div>
</script>

<form id="formChangePassword" class="form-wrapper">
    
    <label class="field-required">@Resources.Language.OldPassword</label>
    @Html.PasswordFor(model => model.OldPassword, new { id = "inputOldPassword", placeholder = @Resources.Language.PlaceHolderOldPassword })
    @Html.ValidationMessageFor(model => model.OldPassword)

    <label class="field-required">@Resources.Language.NewPassword</label>
    @Html.PasswordFor(model => model.Password, new { id = "inputPassword", placeholder = @Resources.Language.PlaceHolderNewPassword })
    @Html.ValidationMessageFor(model => model.Password)

    <label class="field-required">@Resources.Language.ConfirmPassword</label>
    @Html.PasswordFor(model => model.ConfirmPassword, new { id = "inputConfirmPassword", placeholder = @Resources.Language.PlaceHolderConfirmNewPassword })
    @Html.ValidationMessageFor(model => model.ConfirmPassword)

</form>


