@{
    Layout = null;
}
@model Sistran.Core.Framework.UIF.Web.Areas.Endorsement.Models.ModificationViewModel
<script id="title-template" type="text/template">
    <div class="column-70">
        <div>@Resources.Language.EndorsementChangeClauses</div>
    </div>
    <div class="column-30">
        <div class="important">
            <div class="date">
                <i class="fa fa-calendar"></i>@Resources.Language.LabelDateIssuance <span id="inputIssueDate"></span>
            </div>
        </div>
    </div>
</script>
<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnCancel">@Resources.Language.Close</button>
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0721"))
        {
            <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.ModificationSave</button>
        }
    </div>
</script>

<form id="formClauses" class="form">
    <div class="row">
        <div class="uif-col-12">
            <h5 id="globalTitle"></h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <h5><strong>@Resources.Language.EndorsementDataExchangeClauses</strong></h5>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-summary field-summary-alignment">
                <div class="items">
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableRisk</div>
                            <div id="labelCurrentRisk">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSum</div>
                            <div id="labelCurrentSum">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablePremium</div>
                            <div id="labelCurrentPremium">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableExpenses</div>
                            <div id="labelCurrentExpenses">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelSurcharge</div>
                            <div id="labelCurrentSurcharges">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelDiscount</div>
                            <div id="labelCurrentDiscounts">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableTaxes</div>
                            <div id="labelCurrentTaxes">0</div>
                        </div>
                    </div>
                    <div class="item primary">
                        <div>
                            <div>@Resources.Language.LabelTableTotalPremium</div>
                            <div id="labelCurrentTotalPremium">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-2">
            <label>@Resources.Language.LabelCurrentFrom</label>
            @Html.TextBoxFor(model => model.CurrentFrom, new { id = "inputFrom", @class = "uif-datepicker" })
            @Html.ValidationMessageFor(model => model.CurrentFrom)
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelCurrentTo</label>
            @Html.TextBoxFor(model => model.CurrentTo, new { id = "inputTo", @class = "uif-datepicker", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.CurrentTo)
        </div>
        <div class="uif-col-1">
            <label>@Resources.Language.LabelDays</label>
            @Html.TextBoxFor(model => model.Days, new { id = "inputDays", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Days)
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelEndorsement</label>
            <select class="uif-select form-control" id="selectEndorsement" data-id="Id" data-native="false" data-name="Description"
                    name="selectEndorsement" data-val="true" data-val-required="@Resources.Language.ErrorDocumentEndorsement"></select>
            @Html.ValidationMessageFor(model => model.EndorsementId)
        </div>

        <div class="uif-col-2" id="divCoInsuranceAccepted">
            <label>Nro. anexo cia lider</label>
            @Html.TextBoxFor(model => model.BusinessTypeDescription, new { id = "inputBusinessTypeDescription" })
            @Html.ValidationMessageFor(model => model.BusinessTypeDescription)
        </div>

    </div>
    <div class="row">
        <div class="uif-col-2">
            <label class="field-required">@Resources.Language.LabelFilingNumber</label>
            @Html.TextBoxFor(model => model.TicketNumber, new { id = "inputFilingNumber", type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TicketNumber)

        </div>
        <div class="uif-col-2">
            <label class="field-required">@Resources.Language.LabelFilingDate</label>
            @Html.TextBoxFor(model => model.TicketDate, new { id = "inputFilingDate", @class = "uif-datepicker" })
            @Html.ValidationMessageFor(model => model.TicketDate)
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <table class="uif-table" id="tableClauses" data-selectiontype="multiple" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Name">@Resources.Language.ClauseName</th>
                        <th data-property="Title">@Resources.Language.ClauseTitle</th>
                        <th data-property="Text" data-visible="false"></th>
                        <th data-property="IsMandatory" data-visible="false"></th>
                        <th data-property="Id" data-visible="false"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br />
            <label id="labelClausesDetail"><b>@Resources.Language.LabelDetail</b></label>
            <textarea id="textClausesDetail" readonly rows="8" style="max-height: 100%; resize: none">
            </textarea>
            <br />
            <label id="labelClausesDetail"><b>@Resources.Language.RecordObservations</b></label>
            <textarea id="textClausesRecord" readonly rows="8" style="max-height: 100%; resize: none">
            </textarea>
        </div>
    </div>
</form>

@section Modals
{
    <div class="uif-modal" id="modalChangeClause">
        <div class="uif-modalbody">
            <div class="row">
                <div class="uif-col-12">
                    <span id="alert"></span>
                </div>
            </div>
        </div>
        <div class="uif-modalbuttons" id="buttons">
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnModalClose">@Resources.Language.ButtonClose</button>
        </div>
    </div>
}