@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Modificar Reaseguro de Siniestro</h2>
        <p>
            Para modificar un reaseguro de siniestro debe seleccionarse en la pestaña de Búsqueda
            un siniestro como se muestra a continuación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationReinsuranceClaim.png")'>
        </div>
        <br />
        <p>
            Luego se debe presionar el botón Ajuste/Modificación, aparece un diálogo de confirmación, una vez ejecutado el
            procedimiento, se habilita la pestaña Modificación y en esta pestaña se muestra una alerta informativa indicando
            que le proceso ha sido satisfactorio, y se llena la grilla de modificación con la distribución de las nuevas líneas de reaseguro.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/Help/images/Process/ReinsuranceClaimRecalc.png")'>
        </div>
        <br />
        <p>
            Para modificar el monto de las líneas de reaseguro se debe presionar el botón Editar, de la
            línea deseada contenido dentro de la grilla, a continuación se muestra la pantalla siguiente:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimUpdate.png")'>
        </div>
        <br />
        <p>
            La pantalla de modificación muestra toda la información referente a línea que se desea modificar,
            permitiendo únicamente cambiar el valor del monto, luego se presiona el botón Grabar.
        </p>
        <p>
            Una vez ejecutado el cambio se actualiza la grilla con la información de las líneas
            de reaseguros y se muestra una alerta informativa indicando la varianza entre el monto
            total inicial y el actual.
        </p>

        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimRecalcAlert.png")'>
        </div>
        <br />
        <p>
            Una vez que se han realizados todos los cambios deseados en las líneas del reaseguro,
            se procede a grabar los cambios presionando el botón Grabar Reaseguro. Se debe tener en cuenta
            que la diferencia total entre el monto inicial y el monto actual debe ser cero.
        </p>
        <p>
            Luego se visualiza la pantalla de confirmación para grabar el reaseguro y para continuar
            se presiona el botón Si.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationReinsuranceClaimConfirm.png")'>
        </div>
        <br />
        <p>
            Luego se mostrará un mensaje de alerta informando la ejecución satisfactoria del proceso,
            como aparece en la siguiente pantalla:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/SaveModificationReinsuranceClaim.png")'>
        </div>
        <br />
    </div>
</div>