@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Capas</h2>
        <p>
            Para poder hacer una modificación de un reaseguro una vez que el endoso ha sido buscado y
            seleccionado se activa el botón Ajuste/Modificación, el mismo que se debe presionar y se desplegará
            un diálogo de confirmación, el cual al aceptarlo se llenará la grilla de Capas
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLayer.png")'>
        </div>
        <br />
        <p>
            se puede modificar una Capa al presionar el botón de Edición, con el cual se
            dispara una venta modal para modificar los porcentajes tanto de suma como de prima,
            tal como se muestra a continuación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLayerUpdate.png")'>
        </div>
        <br />
        <p>
            En esta pantalla solo es editable el porcentaje de suma y/o prima, el campo de Número de Capa
            es solo de lectura y autoincrementable. Al momento de hacer una modificación existe una
            validación de los porcentajes de suma y prima los mismos que no pueden sobrepasar sumadas
            entre todas las capas del 100%.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLayerUpdateAlert.png")'>
        </div>
        <br />
        <p>
            Para eliminar una capa, seleccionar el registro deseado con el botón Eliminar,
            y presionar Si de la ventana de diálogo de confirmación.
        </p>
        <p>
            Si el borrado no es en orden descendente el sistema emitirá una validación como se muestra en la pantalla:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLayerDelete.png")'>
        </div>
        <br />
        <p>
            caso contrario el registro será  eliminado.
        </p>
        <p>
            También es posible añadir una nueva capa siempre y cuando la suma de los porcentajes de suma y/o
            prima de todas las capas sean menores al 100 %, para hacer esto, presionar el botón Agregar y llenar los
            campos tanto de suma y prima:
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ModificationLayerAdd.png")'>
        </div>
        <br />
        <p>
            y presionar el botón  Grabar.
        </p>
    </div>
</div>