@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Reportes</h2>
        <br />
        <h3>Inconsistencias / Resumen de movimientos</h3>
        <br />
        <p>
            Esta pantalla permite generar informes exportables a Excel, los dos primeros son:
            de Inconsistencias y de Resumen de movimientos (BorderAux). En ambos casos primero
            se debe escoger el tipo de informe a procesar, como se muestra a continuación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReportMain.png")'>
        </div>
        <br />
        <p>
            luego,  el rango de fechas desde/hasta y presionar el botón Excel,
            se presenta el siguiente diálogo
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ExportReportDlg.png")'>
        </div>
        <p>
            el cual al ser aceptado nos presenta el diálogo de exportación a Excel
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/OpenFileExcel.png")'>
        </div>
        <p>
            si presionamos el botón Aceptar de este diálogo se abrira el aplicativo Excel
            y presentará la información correspondiente
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/InfoToExcel.png")'>
        </div>
        <br />

        <h3>Cuenta Técnica</h3>
        <br />
        <p>
            Para obtener este reporte primero seleccione del combo tipo la opción CUENTA TECNICA
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReportAccount.png")'>
        </div>
        <br />
        <p>
            luego digite el año y el mes de aplicación deseados
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReportAccountFields.png")'>
        </div>
        <br />
        <p>
            una vez hecho esto, presionar el botón Excel si el sistema encuentra data con los datos
            proporcionados presenta el diálogo de confirmación
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReportAccountExport.png")'>
        </div>
        <br />
        <p>
            si se confirma se presentará el diálogo de exportación a Excel
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/OpenFileExcel.png")'>
        </div>
        <br />
        <p>
            click en el botón Aceptar y se descargará el archivo de Excel
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReportAccountExcel.png")'>
        </div>

        <p>
            Esta pantalla también posee el botón Limpiar que limpia todos
            los campos previamente ingresados.
        </p>


    </div>
</div>