@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Proceso Reaseguro Masivo</h2>
        <p>
            La opción de Proceso Reaseguro Masivo permite ejecutar el proceso de reasegurar tanto:
            pólizas, siniestros y solicitudes de pago masivamente por un rango de fechas que el
            usuario deberá ingresar mediante la siguiente interface:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassive.png")'>
        </div>
        <br />
        <p>
            primero se debe seleccionar el tipo de proceso y luego el período de tiempo (rango de fechas)
            las mismas que deberán ser correctas caso contrario el sistema avisará
            mediante validaciones como las siguientes:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveValidate.png")'>
        </div>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveValidateDate.png")'>
        </div>
        <br />
        <p>

            una vez ingresado de forma correcta el rango de fechas pulsar el botón Iniciar,
            y se presenta el siguiente diálogo de confirmación:
        </p>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveValidateConf.png")'>
        </div>
        <br />
        <p>
            Si se confirma éste diálogo, se presentará un nuevo diálogo con el total de
            registros que serán procesados
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveValidateRec.png")'>
        </div>
        <br />
        <p>
            si el usuario no desea procesar ese número de registros el sistema emite el siguiente
            mensaje y se cancela la operación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveCancel.png")'>
        </div>
        <br />
        <p>
            pero en cambio si el usuario confirma el diálogo, el proceso iniciará, y en la grilla
            “Procesar Reaseguros” se podrá visualizar el progreso del proceso:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceMassiveProgress.png")'>
        </div>
        <br />
        <p>
            una vez culminado el mismo, el sistema emitirá un mensaje de proceso concluido
            satisfactoriamente como se muestra a continuación:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePolicyMassiveSuccess.png")'>
        </div>
        <br />
        <p>
            Esta pantalla también posee el botón “Limpiar” que lo que hace es limpiar todos los campos y vaciar la grilla
            de “Procesar Reaseguros” para que se ejecute un nuevo proceso.
        </p>
    </div>
</div>