@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Reasegurar Siniestros</h2>
        <p>
            Al hacer clic en la opción de Reasegurar Siniestro se muestra la siguiente pantalla:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaim.png")'>
        </div>
        <br />
        <p>
            La cual permite buscar los siniestros, ver los reaseguros que tienen éstas y reasegurar.
        </p>
        <p>
            Para realizar la búsqueda de los siniestros se debe seleccionar la sucursal, el ramo,
            el número de póliza, y de manera opcional el numero de siniestro, luego presionar el botón Buscar
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimSearch.png")'>
        </div>
        <br />
        <p>
            Las coincidencias encontradas para los valores introducidos en los campos de búsqueda serán
            cargadas en la grilla contenida dentro de la grilla Siniestros.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimSearchData.png")'>
        </div>
        <br />
        <p>
            Para reasegurar un sisniestro se debe seleccionar un elemento en la grilla Siniestro
            y luego presionar el botón Reasegurar Siniestro.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimReinsurance.png")'>
        </div>
        <br />
        <p>
            El sistema visualiza una pantalla de confirmación para ejecutar el proceso,
            en la cual se muestra el número  de siniestro que se desea reasegurar, para continuar se presiona
            el botón Si.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimConfirm.png")'>
        </div>
        <br />
        <p>
            Una vez ejecutado satisfactoriamente el proceso de reaseguro del siniestro seleccionado,
            se muestra una alerta informando la correcta ejecución del proceso y se carga la grilla
            Reaseguros con la distribución de los reaseguros para el siniestro en cuestión.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsuranceClaimSuccess.png")'>
        </div>

    </div>
</div>