@*@{
        Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
    }*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Reasegurar Pagos</h2>
        <p>
            Al hacer clic en la opción de Reasegurar Pagos se muestra la siguiente pantalla:
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePayment.png")'>
        </div>
        <br />
        <p>
            La cual permite buscar las solicitudes de pago, ver los reaseguros que tienen estas y
            reasegurar los pagos.
        </p>
        <p>
            Para realizar la búsqueda de las solicitudes de pago se debe seleccionar la sucursal,
            el ramo, el número de póliza, el siniestro, y de manera opcional la solicitud de pago si
            es que se conoce, luego presionar el botón Buscar.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePaymentSearch.png")'>
        </div>
        <br />
        <p>
            Las coincidencias encontradas para los valores introducidos en los campos de búsqueda
            serán cargadas en la grilla contenida dentro del panel Solicitudes de Pago.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePaymentGrid.png")'>
        </div>
        <br />
        <p>
            Para reasegurar un pago se debe seleccionar una de las solicitudes cargadas en la grilla
            del panel Solicitudes de pago y luego presionar el botón Reasegurar Pago.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePaymentGridData.png")'>
        </div>
        <br />
        <p>
            El sistema visualiza una pantalla de confirmación para ejecutar el proceso,
            en la cual se muestra la solicitud de pago que se desea reasegurar, para continuar se presiona el botón Si.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePaymentConfirm.png")'>
        </div>
        <br />
        <p>
            Una vez ejecutado satisfactoriamente el proceso de reaseguro del pago seleccionado,
            se muestra una alerta informando la correcta ejecución del proceso y se carga la grilla
            del panel Reaseguros con la distribución de los reaseguros para el pago en cuestión.
        </p>
        <br />
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Process/ReinsurancePaymentSuccess.png")'>
        </div>
        <br />
    </div>
</div>