@{
    Layout = null;
}

<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelPlate, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Address", null, new { @class = "uif-input-search", id = "inputLabelPlate" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-9">
    @Html.Label(@Resources.Language.LabelDescription, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Country", null, new { @class = "uif-input-search", id = "inputDescription", @readonly = "readonly", disabled = "disabled" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
