
@{
    Layout = null;
}

<div class="uif-row">
    <div class="uif-col-12">
        <h5>
            <strong>@Resources.Language.EstimationsSummary</strong>
        </h5>
    </div>
    <div class="uif-col-12">
        <table class="uif-table" data-title="@Resources.Language.Coverages" id="tableSubSinisterTransport"
               data-add="false" data-edit="true" data-delete="true" data-filter="true" data-paginate="10" data-selectiontype="none">
            <thead>
                <tr>
                    <th data-property="RiskId" data-visible="false"><b></b></th>
                    <th data-property="RiskDescription"><b>@Resources.Language.Risk</b></th>
                    <th data-property="AffectedFullName"><b>@Resources.Global.Coverage_Affected</b>
                    <th data-property="CoverageDescription"><b>@Resources.Language.Coverage</b></th>
                    <th data-property="Insured"><b>@Resources.Language.InsuredOrThird</b></th>
                    <th data-property="Currency"><b>@Resources.Language.Currency</b></th>
                    <th data-property="EstimationType"><b>@Resources.Language.EstimationConcept</b></th>
                    <th data-property="EstimateAmount" data-type="currency"><b>@Resources.Language.Value</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>