@{
	Layout = null;
}
<script id="advancedSearchTemplate" type="text/template">
	<div>
		@Resources.Language.LabelMake: {{VehicleMake.description}}  ({{VehicleMake.id}})
	</div>
	<div>
		@Resources.Language.Model: <strong>{{DescriptionModel}}({{Id}})</strong>
	</div>
</script>
<form class="form" id="frmAdvanzedSearch">
    @Html.Hidden("Id")
    @Html.Hidden("SmmalDescriptionModel")
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearch</h4>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelMake</label>
            <select class="uif-select form-control" id="MakeSearchId" name="MakeSearchId"
                    data-source='@Url.Content("~/Parametrization/VehicleModel/GetMakes")'
                    data-id="Id" data-name="Description"
                    data-val="true"
                    data-val-required="Campo requerido"
                    data-filter="true" data-native="false"></select>
        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.LabelInfringementDescription</label>
            @Html.TextBox("DescriptionModelSearch", null, new { id = "DescriptionModelSearch", maxlength = "50", placeholder = @Resources.Language.LabelInfringementDescription })
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
                <button class="btn btn-primary-Co width-container" id="btnSearchAdvVh" type="button">@Resources.Language.ButtonSearch</button>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="lvSearchAdvVehicleModel">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchAdvModel" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnOkSearchAdvModel" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>