@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = Global.VariousPaymentRequest;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.AccountingAdministrative</li>
        <li>@Global.MenuCashOtuflows</li>
        <li>@Global.VariousPaymentRequest</li>
    </ol>
}

@section Toolbar
{
    <footer>
        <button class="btn btn-default" id="CancelTicket">
            <i class="fa fa-remove"></i>  @Global.Cancel
        </button>
        <button class="btn btn-primary" id="ShowTaxes">
            <i class="fa fa-dollar"></i> @Global.ShowTaxes
        </button>
        <button class="btn btn-primary" id="SaveTicketOtherPayments">
            <i class="fa fa-save"></i> @Global.Accept
        </button>
      

    </footer>
}

@section Modals
{

    @* Modal de Condición Impositiva *@
    <form id="formTaxCondition" onsubmit="return false" class="form">
        <div class="uif-modal" id="ModalTaxCondition">
            <div class="uif-modalbody">
                @Html.Partial("../AccountsPayable/PaymentRequest/TaxConditionModal")
            </div>
        </div>
    </form>

    @* Modal de Ingreso de Conceptos de Pago *@
    <div class="uif-modal" id="PaymentConcepts">
        <div class="form">
            <div class="uif-modalbody">
                @Html.Partial("../AccountsPayable/PaymentRequest/PaymentConceptModal")
            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-default" id="AddPayment">
                <i class="fa fa-plus"></i>  @Global.Add
            </button>
            <button type="submit" class="btn btn-primary" id="AceptPayment" onclick="return false">
                <i class="fa fa-check"></i>  @Global.Accept
            </button>
        </div>
    </div>


    @*MODAL DE IMPUESTOS*@
    <div class="modal fade bs-example-modal-lg" id="modalTaxSelection" tabindex="-1"
         role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header " style="padding: 10px">
                    <button id="closeModalButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="fa fa-times-circle"></i>
                    </button>
                </div>
                <div class="modal-body" id="detailModal">
                    <div class="uif-panel" data-title="@Global.TaxByCategory">
                        @Html.Partial("../AccountsPayable/PaymentRequest/IndividualTaxModal")
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" id="btnTaxSelection" onclick="return false">@Global.Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @* Modal de Ver Impuestos *@
    <div class="uif-modal" id="ModalTaxes">
        <div class="uif-modalbody">
            <div class="uif-panel" data-title="@Global.TaxSettlement">
                <div id="taxesView" class="uif-listview">
                    <div class="footer">
                    </div>
                </div>
                <!--hh-->
                <table class="uif-table" id="TableCalculatedTaxes" data-exporttocsv="false"
                       data-add="false" data-edit="false" data-delete="false" data-selectiontype="NONE" data-filter="false"
                       data-paginate="true" data-title="">

                    <thead>
                        <tr>
                            <th data-property="TaxDescription"><b>@Global.Taxes</b></th>
                            <th data-property="TaxGroup"><b>@Global.GroupCondition</b></th>
                            <th data-property="Amount"><b>@Global.GroupAmount</b></th>
                            <th data-property="Rate"><b>@Global.Rate</b></th>
                            <th data-property="TaxAmount"><b>@Global.TaxAmount</b></th>
                            <th data-property="MinimumTax"><b>@Global.MinimunTax</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> @Global.Close
            </button>
        </div>
    </div>

    @* Modal de Impresión *@
    <div class="uif-modal" id="ModalSuccessPrint">
        <div class="form">
            <div class="uif-modalbody">
                <div class="uif-row">
                    <div class="uif-col-12">
                        <label>@Global.PaymentRequestSavedSuccessfully</label>
                        <label id="otherPaymentsRequestId"></label>
                    </div>
                </div>
                <div class="uif-row" id="OtherPaymentRequestAccountingMessageDiv">
                    <div class="uif-col-12">
                        <label id="OtherPaymentRequestAccountingMessage"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-default" id="PrintDetail">
                <i class="fa fa-print"></i> @Global.PrintDetail
            </button>
            <button type="button" class="btn btn-primary" id="PrintAcept">
                <i class="fa fa-check"></i> @Global.Accept
            </button>
        </div>
    </div>

    @*Modal de Selección de cuentas - ACE- 1042*@
    <div class="uif-modal" id="AccountBankInfoModal">
        <div class="uif-modalbody">
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.AccountType</label>
                    <input type="text" value="" id="AccountType" placeholder="" disabled="disabled">
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.AccountNumber</label>
                    <input type="text" value="" id="AccountNumber" placeholder="" disabled="disabled">
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.Bank</label>
                    <input type="text" value="" id="BankDescription" placeholder="" disabled="disabled">
                </div>
            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="button" data-dismiss="modal" class="btn btn-primary" id="Accept">
                <i class="fa fa-check"></i> @Global.Accept
            </button>
        </div>
    </div>

    @* Modal de Cuentas Bancarias Individuos *@
    <div class="uif-modal" id="ModalTransfer">
        <div class="uif-modalbody">
            <div class="uif-panel" data-title="@Global.BankAccounts">
                <table class="uif-table" id="TableTransferRequest" data-exporttocsv="false"
                       data-add="false" data-edit="false" data-delete="false" data-selectiontype="single" data-filter="false"
                       data-paginate="false" data-title="">
                    <thead>
                        <tr>
                            <th data-property="AccountBankId" data-visible="false"><b>AccountBankId</b></th>
                            <th data-property="BankDescription" style="text-align:left"><b>@Global.ReceivingBank</b></th>
                            <th data-property="AccountTypeDescription" style="text-align:left"><b>@Global.AccountType</b></th>
                            <th data-property="Number" style="text-align:left"><b>@Global.AccountNumber</b></th>
                            <th data-property="AccountBankEnabledDescription" data-visible="false"><b>IsActive</b></th>
                            <th data-property="DefaultDescription" style="text-align:left"><b>@Global.IsDefault</b></th>
                            <th data-property="IndividualId" data-visible="false"><b>IndividualId</b></th>
                            <th data-property="AccountBankEnabled" data-visible="false"><b>AccountBankEnabled</b></th>
                            <th data-property="Default" data-visible="false"><b>Default</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <span class="glyphicon glyphicon-remove"></span> @Global.Close
            </button>
        </div>
    </div>

}


@* Templates de LIstView *@

<script id="check-display" type="text/template">
    <div>
        <strong>@Global.VoucherType:</strong>{{VoucherTypeDescription}} | @Global.VoucherNumber: {{VoucherNumber}}| @Global.DateVoucher: {{Date}} |
        @Global.VoucherCurrency: {{Currency}} | @Global.ExchangeRate:{{PaymentConcept}} | @Global.TotalPaymentConcept:{{Amount}} |
        @Global.Taxes:{{Taxes}} | @Global.Retention:{{Retentions}}

    </div>
</script>

<script id="check-display-transfer" type="text/template">
    <div>
        <strong>@Global.ReceivingBank:</strong>{{BankDescription}} | @Global.AccountType: {{AccountTypeDescription}}| @Global.AccountNumber: {{Number}} |
        @Global.IsActive: {{AccountBankEnabledDescription}} | @Global.IsDefault:{{DefaultDescription}}
    </div>
</script>

<script id="taxes-display" type="text/template">
    <div>
        <strong>@Global.Taxes:</strong>{{TaxDescription}} | @Global.GroupCondition: {{GroupCondition}} |
        @Global.GroupAmount: {{GroupAmount}} | @Global.Rate: {{Rate}} |
        @Global.TaxAmount: {{TaxAmount}} | @Global.MinimunTax: {{MinimunTax}} |
    </div>
</script>

<script id="taxCondicional-display" type="text/template">
    <div>
        <strong>@Global.Tax:</strong>{{TaxDescription}} | @Global.TaxCondition: {{TaxConditionDescription}}| @Global.LocalTax: {{StateDescription}}
    </div>
</script>

@* -------------------------- *@


@*Código html*@
@model Sistran.Core.Framework.UIF.Web.Areas.Accounting.Models.CheckBookControlModel
<div class="uif-panel">
    <form id="OtherPaymentsRequestForm" onsubmit="return false">
        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">@Global.PaymentSource</label>
                @Html.DropDownList("PaymentOrigin", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 //data_source = @Url.Content("~/Accounting/Common/GetPaymentSources"),
                 data_id = "Id",
                 data_name = "Description",
                 disabled = "disabled",
                 data_native = "true",
             })
            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.MovementType</label>
                @Html.DropDownList("PaymentMovementType", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 data_id = "Id",
                 data_name = "Description",
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.ValidationRequired

             })
                <span class="text-danger" data-valmsg-for="PaymentMovementType" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.Company</label>
                @Html.DropDownList("PaymentAccountingCompany", Enumerable.Empty<SelectListItem>(), new
           {
               @class = "uif-select form-control",
               //data_source = @Url.Content("~/Accounting/Common/GetAccountingCompanies"),
               data_id = "Id",
               data_name = "Description",
               data_native = "true",
               disabled = "disabled",
               data_selectedid = @ViewBag.AccountingCompanyDefault
           })

            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.PaymentBranch</label>
                @Html.DropDownList("PaymentBranch", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 //data_source = @Url.Content("~/Accounting/Common/GetListBranchesbyUserName"),
                 data_id = "Id",
                 data_name = "Description",
                 data_selectedid = @ViewBag.BranchDefault,
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.ValidationRequired
             })
                <span class="text-danger" data-valmsg-for="PaymentBranch" data-valmsg-replace="true" />
            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">@Global.SalePoint</label>
                @Html.DropDownList("PaymentSalesPoint", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 data_id = "Id",
                 data_name = "Description",
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.ValidationRequired
             })
                <span class="text-danger" data-valmsg-for="PaymentSalesPoint" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.PayTo</label>
                @Html.DropDownList("PaymentPayTo", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 data_source = @Url.Content("~/Accounting/Common/GetPersonTypeByPaymentOrderEnableFilter"),
                 data_id = "Id",
                 data_name = "Description",
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.ValidationRequired
             })
                <span class="text-danger" data-valmsg-for="PaymentPayTo" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">
                    @Global.DocumentNumber:
                </label>
                <br />
                <div id="BeneficiaryDocumentNumberData">
                    <input type="text" id="BeneficiaryDocumentNumber" name="BeneficiaryDocumentNumber" disabled />
                </div>
                @*Campos Ocultos*@

                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetSuppliersByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchSuppliersByDocumentNumberRequest"
                       name="SearchSuppliersByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchSuppliersByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetInsuredByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchInsuredByDocumentNumberRequest"
                       name="SearchInsuredByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchInsuredByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetCoinsuranceByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchCoinsuranceByDocumentNumberRequest"
                       name="SearchCoinsuranceByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchCoinsuranceByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetPersonByDocumentNumber", "Billing")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchPersonByDocumentNumberRequest"
                       name="SearchPersonByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchPersonByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetAgentByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchAgentByDocumentNumberRequest"
                       name="SearchAgentByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchAgentByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetEmployeeByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchEmployeeByDocumentNumberRequest"
                       name="SearchEmployeeByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchEmployeeByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetReinsurerByDocumentNumber", "Common")"
                       data-displaykey="DocumentNumber" onkeypress="return JustNumbers(event, this);" maxlength="20"
                       placeholder='@Global.EnterDocumentNumber' id="SearchReinsurerByDocumentNumberRequest"
                       name="SearchReinsurerByDocumentNumberRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchReinsurerByDocumentNumberRequest" data-valmsg-replace="true">
                </span>
            </div>
            <div class="uif-col-3">
                <label class="control-label" id="LabelFullName">@Global.FullName</label>
                <br />
                <div id="BeneficiaryNameData">
                    <input type="text" id="BeneficiaryName" name="SearchPayerNamePaymentOrder" disabled />
                </div>
                @*Campos Ocultos*@

                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetSuppliersByName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchSuppliersByNameRequest" maxlength="60"
                       name="SearchSuppliersByNameRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchSuppliersByNameRequest" data-valmsg-replace="true">
                </span>

                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetInsuredByInsuredName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchInsuredByNameRequest" maxlength="100"
                       name="SearchInsuredByNameRequest" hidden="hidden" data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchInsuredByNameRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetCoinsurerByName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchCoinsuranceByNameRequest" maxlength="60"
                       name="SearchCoinsuranceByNameRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchCoinsuranceByNameRequest" data-valmsg-replace="true">
                </span>

                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetPersonByName", "Billing")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchPersonByNameRequest" maxlength="60"
                       name="SearchPersonByNameRequest" hidden="hidden" data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchPersonByNameRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetAgentByName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchAgentByNameRequest" maxlength="60"
                       name="SearchAgentByNameRequest" hidden="hidden"
                       data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchAgentByNameRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetEmployeeByName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchEmployeeByNameRequest" maxlength="60"
                       name="SearchEmployeeByNameRequest" hidden="hidden" data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchEmployeeByNameRequest" data-valmsg-replace="true">
                </span>
                <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetReinsurerByName", "Common")"
                       data-displaykey="Name" placeholder='@Global.EnterName' id="SearchReinsurerByNameRequest" maxlength="60"
                       name="SearchReinsurerByNameRequest" hidden="hidden" data-val="true" data-val-required='@Global.RequiredField' />
                <span class="text-danger" data-valmsg-for="SearchReinsurerByNameRequest" data-valmsg-replace="true">
                </span>

            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">@Global.PaymentType</label>
                @Html.DropDownList("PaymentType", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 //data_source = @Url.Content("~/Accounting/PaymentRequest/GetEnabledPaymentTypes"),
                 data_id = "PaymentMethodTypeCode",
                 data_name = "PaymentMethodTypeDescription",
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.ValidationRequired
             })
                <span class="text-danger" data-valmsg-for="PaymentType" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <input type="hidden" id="DefaultCurrencyCode" value="@System.Configuration.ConfigurationManager.AppSettings["DefaultCurrencyCode"]" />
                <label class="control-label">@Global.Currency</label>
                @Html.DropDownList("PaymentCurrency", Enumerable.Empty<SelectListItem>(), new
                 {
                     @class = "uif-select form-control",
                     data_source = @Url.Content("~/Accounting/Common/GetCurrencies"),
                     data_id = "Id",
                     data_name = "Description",
                     data_val = "true",
                     data_native = "true",                     
                     data_val_required = @Global.ValidationRequired
                 })
                <span class="text-danger" data-valmsg-for="PaymentCurrency" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.TotalToPay</label>
                @Html.TextBox("PaymentTotal", "", new
                        {
                            @onkeypress = "return OnlyDecimalNumber(event,this)",
                            style = "text-align: right",
                            data_val = "true",
                            data_val_required = @Global.ValidationRequired
                        })
                <span class="text-danger" data-valmsg-for="PaymentTotal" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-3">
                <label class="control-label">@Global.EstimatedPaymentDate</label>
                @Html.TextBox("EstimatedPaymentDate", "", new
                       {
                           id = "EstimatedPaymentDate",
                           @class = "uif-datepicker",
                           data_mask = "99/99/9999",
                           data_val = "true",
                           data_min_date = @ViewBag.CurrentDate,
                           data_val_required = @Global.ValidationRequired
                       })
                <span class="text-danger" data-valmsg-for="EstimatedPaymentDate" data-valmsg-replace="true" />
            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-3">
                <label class="control-label">@Global.AccountingDate</label>
                <input type="text" value="@ViewBag.AccountingDate.Data" id="PaymentAccountingDate" disabled="disabled" />
            </div>
            <div class="uif-col-9">
                <label class="control-label">@Global.Description</label>
                @Html.TextBox("PaymentDescription", "", new
                        {
                            style = "text-align: left",
                            @onblur = "this.value = this.value.toUpperCase();",
                            data_val = "true",
                            data_val_required = @Global.ValidationRequired
                        })
                <span class="text-danger" data-valmsg-for="PaymentDescription" data-valmsg-replace="true" />
            </div>
        </div>
        <div class="uif-row">
            <div class="pull-left">
                <div class="uif-col-12">
                    <button id="TaxCondition" class="btn btn-default" role="button">
                        <i class="fa fa-plus"></i>  @Global.TaxCondition
                    </button>
                </div>
            </div>
        </div>
        <div class="uif-row" id="TransferPanel">
            <div class="uif-col-12">
                <div id="TransferInformationListView" class="uif-listview">
                    <div class="footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                <div class="uif-alert" id="alertMainOtherPayment"></div>
            </div>
        </div>
    </form>
</div>

<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="TablePaymentRequest" data-exporttocsv="false"
               data-add="true" data-edit="false" data-delete="true" data-selectiontype="none" data-filter="false"
               data-paginate="false" data-title="">

            <thead>
                <tr>
                    <th data-property="VoucherTypeId" data-visible="false"><b>VoucherTypeId</b></th>
                    <th data-property="VoucherTypeDescription" style="text-align:left"><b>@Global.VoucherType</b></th>
                    <th data-property="VoucherNumber" style="text-align:left"><b>@Global.VoucherNumber</b></th>
                    <th data-property="VoucherDate" style="text-align:left"><b>@Global.Date</b></th>
                    <th data-property="VoucherCurrencyId" data-visible="false"><b>VoucherCurrencyId</b></th>
                    <th data-property="VoucherCurrency" style="text-align:left"><b>@Global.Currency</b></th>
                    <th data-property="ExchangeRate" style="text-align:left"><b>@Global.ExchangeRate</b></th>
                    <th data-property="Taxes" style="text-align:left"><b>@Global.TotalTaxes</b></th>
                    <th data-property="Retentions" style="text-align:left"><b>@Global.TotalRetention</b></th>
                    <th data-property="Amount" style="text-align:left"><b>@Global.TotalAmountLocalCurrency</b></th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7"><b>@Global.Total</b></td>
                    <td><b id="VoucherTaxesTotal">$ 0.00</b></td>
                    <td><b id="VoucherRetentionsTotal">$ 0.00</b></td>
                    <td><b id="VouchersTotal">$ 0.00</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



@*VIEWBAGS*@
<input type="hidden" id="ViewBagPaymentSources" value="@ViewBag.PaymentSources" />
<input type="hidden" id="ViewBagBranchDisableMainOther" value="@ViewBag.BranchDisable" />
<input type="hidden" id="ViewBagAccountingDate" value="@ViewBag.AccountingDate.Data" />
<input type="hidden" id="ViewBagParamPaymentMethodTransferMainOther" value="@ViewBag.ParamPaymentMethodTransfer" />
<input type="hidden" id="ViewBagSupplierCodeMainOther" value="@ViewBag.SupplierCode" />
<input type="hidden" id="ViewBagProducerCodeMainOther" value="@ViewBag.ProducerCode" />
<input type="hidden" id="ViewBagEmployeeCodMainOther" value="@ViewBag.EmployeeCode" />
<input type="hidden" id="ViewBagThirdPartyCodeMainOther" value="@ViewBag.ThirdPartyCode" />
<input type="hidden" id="ViewBagAgentCodeMainOther" value="@ViewBag.AgentCode" />
<input type="hidden" id="ViewBagParameterMulticompany" value="@ViewBag.ParameterMulticompany" />
<input type="hidden" id="ViewBagSalePointBranchUserDefault" value="@ViewBag.SalePointBranchUserDefault" />
<input type="hidden" id="ViewBagAccountingCompanyDefault" value="@ViewBag.AccountingCompanyDefault" />
<input type="hidden" id="ViewBagParamPaymentMethodElectronicPayment" value="@ViewBag.ParamPaymentMethodElectronicPayment" />
<input type="hidden" id="ViewBagTitle" value="@Global.PaymentConcept" />
<input type="hidden" id="ViewBagSaveSuccess" value="@Global.ReceiptSaveSuccess" />




@section scripts
{
    @Scripts.Render("~/accounting/bundles/MainPaymentRequest")
}