@using Sistran.Core.Framework.UIF.Web.Resources

<div class="uif-panel">
    <div  class="scroll" style="text-align: left; overflow: scroll">

                <table class="uif-table" id="tableDetails"
                       data-exporttocsv="false" data-exportname="cultura" data-add="false" data-edit="false"
                       data-delete="false" data-filter="false"   data-paginate="false" 
                       data-selectiontype="none">
                    <thead>
                        <tr>
                            <th data-property="MovementOrigin">@Global.Source</th>
                            <th data-property="Id" data-visible="false">Id</th>
                            <th data-property="BankId" data-visible="false">BankId</th>
                            <th data-property="MovementId" data-visible="false">MovementId</th>
                            <th data-property="BankingMovementTypeId">@Global.Code</th>
                            <th data-property="BankingMovementTypeDescription">@Global.DocumentType</th>
                            <th data-property="BranchId" data-visible="false">BranchId</th>
                            <th data-property="BranchDescription" data-visible="false">BranchDescription</th>
                            <th data-property="VoucherNumber">@Global.DocumentNumber</th>
                            <th data-property="MovementDescription">@Global.Description</th>
                            <th data-property="MovementDate">@Global.Date</th>
                            <th data-property="MovementAmount" data-type="currency">@Global.Amount</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
</div>
