<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="tblSalvagesSummary" data-title="<b>@Resources.Language.SalvagesSummary</b>" data-source="null" data-edit="false" data-delete="false" data-filter="false" data-paginate="10" data-selectiontype="none">
            <thead>
                <tr>
                    <th data-property="SubClaim"><b>@Resources.Language.SubClaim</b></th>
                    <th data-property="Risk"><b>@Resources.Language.Risk</b></th>
                    <th data-property="Coverage"><b>@Resources.Language.Coverage</b></th>
                    <th data-property="InsuredThird"><b>@Resources.Language.InsuredOrThird</b></th>
                    <th data-property="Currency"><b>@Resources.Language.Currency</b></th>
                    <th data-property="Number"><b>@Resources.Language.SalvageShortNumber</b></th>
                    <th data-property="Description"><b>@Resources.Language.SalvageDescriptionAbbreviation</b></th>
                    <th data-property="Quantity"><b>@Resources.Language.UnitsShortNumber</b></th>
                    <th data-property="SaleNumber"><b>@Resources.Language.SaleShortNumber</b></th>
                    <th data-property="SaleBuyer"><b>@Resources.Language.Buyer</b></th>
                    <th data-property="SaleQuantity"><b>@Resources.Language.SaleQuantityShortNumber</b></th>
                    <th data-property="SaleAmount" data-type="currency"><b>@Resources.Language.SaleAmount</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>