@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.TaxViewModel
@{
    Layout = null;
}


<script id="title-template" type="text/template">
    <div class="column column-70">
        @Resources.Language.TitleTax
    </div>
    <div class="column column-30">
        @Html.TextBox("SeachTax", null, new { @class = "uif-input-search", id = "SearchTax", @placeholder = @Resources.Language.SearchTax })
        <button class="btn background-dark" id="AdvSearch"><i class="fa fa-angle-down"></i></button>
    </div>
</script>

<form id="formTax" class="form without-space">
    <div class="row">
        <div class="uif-col-9">
            <div class="uif-row fit-col-main">
                <div class="uif-col-5">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label field-required" })
                    @Html.TextBoxFor(model => model.Description, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.Abbreviation, htmlAttributes: new { @class = "control-label field-required" })
                    @Html.TextBoxFor(model => model.Abbreviation, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Abbreviation)
                </div>
                <div class="uif-col-3">
                    @Html.LabelFor(model => model.CurrentFrom, htmlAttributes: new { @class = "control-label field-required" })
                    @Html.TextBoxFor(model => model.CurrentFrom, htmlAttributes: new { @class = "uif-datepicker" })
                    @Html.ValidationMessageFor(model => model.CurrentFrom)
                </div>
            </div>

            <div class="uif-row fit-col-main">
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.RateTypeTax, htmlAttributes: new { @class = "control-label field-required" })
                    <select data-filter="true" data-native="false" class="uif-select form-control" id="RateTypeTax" name="RateTypeTax"
                            data-id="Id" data-name="DescriptionLong"
                            data-val="true"
                            data-val-required=""></select>
                    <span class="text-danger" data-valmsg-for="RateTypeTax" data-valmsg-replace="true"></span>
                </div>
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.RateTypeAdditionalTax, htmlAttributes: new { @class = "control-label" })
                    <select data-filter="true" data-native="false" class="uif-select form-control" id="RateTypeAdditionalTax" name="RateTypeAdditionalTax"
                            data-id="Id" data-name="DescriptionLong"
                            data-val="true"></select>
                    <span class="text-danger" data-valmsg-for="RateTypeAdditionalTax" data-valmsg-replace="true"></span>
                </div>
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.ConditionBaseTax, htmlAttributes: new { @class = "control-label" })
                    <select data-filter="true" data-native="false" class="uif-select form-control" id="ConditionBaseTax" name="ConditionBaseTax"
                            data-id="Id" data-name="DescriptionShort"
                            data-val="true"></select>
                    <span class="text-danger" data-valmsg-for="ConditionBaseTax" data-valmsg-replace="true"></span>
                </div>
            </div>


            <div class="uif-row fit-col-main">
                <div class="uif-col-4">
                    <label>@string.Empty</label>
                    <div class="row-space-adjusted">
                        <input type="checkbox" id="AccrualCalculation" name="AccrualCalculation" />
                        @Html.LabelFor(model => model.AccrualCalculation, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="uif-col-4">
                    <label>@string.Empty</label>
                    <div class="row-space-adjusted">
                        <input type="checkbox" id="MinimumBaseCalculation" name="MinimumBaseCalculation" />
                        @Html.LabelFor(model => model.MinimumBaseCalculation, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="uif-col-4">
                    <label>@string.Empty</label>
                    <div class="row-space-adjusted">
                        <input type="checkbox" id="RateAdditionalCalculation" name="RateAdditionalCalculation" />
                        @Html.LabelFor(model => model.RateAdditionalCalculation, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
            </div>

            <div class="uif-row fit-col-main">
                <div class="uif-col-4">
                    <label>@string.Empty</label>
                    <div class="row-space-adjusted">
                        <input type="checkbox" id="Enabled" name="Enabled" />
                        @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="uif-col-4">
                    <label>@string.Empty</label>
                    <div class="row-space-adjusted">
                        <input type="checkbox" id="Retention" name="Retention" />
                        @Html.LabelFor(model => model.Retention, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.BaseTaxWithholding, htmlAttributes: new { @class = "control-label" })
                    <select data-filter="true" data-native="false" class="uif-select form-control" id="BaseTaxWithholding" name="BaseTaxWithholding"
                            data-id="Id" data-name="DescriptionShort"
                            data-val="true"
                            data-val-required=""></select>
                    <span class="text-danger" data-valmsg-for="BaseTaxWithholding" data-valmsg-replace="true"></span>
                </div>
            </div>

            <div class="uif-row fit-col-main">
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.FeesApplies, htmlAttributes: new { @class = "control-label  field-required" })
                    <select class="uif-multiselect"
                            data-id="Id" data-name="DescriptionLong"
                            multiple="multiple"
                            id="FeesApplies"
                            data-native="false"></select>
                    <span class="text-danger" data-valmsg-for="FeesApplies" data-valmsg-replace="true"></span>
                </div>
                <div class="uif-col-4">
                    @Html.LabelFor(model => model.Roles, htmlAttributes: new { @class = "control-label field-required" })
                    <select class="uif-multiselect"
                            data-id="Id" data-name="DescriptionLong"
                            multiple="multiple"
                            id="Roles"
                            data-native="false"></select>
                    <span class="text-danger" data-valmsg-for="Roles" data-valmsg-replace="true"></span>
                </div>
                <div class="uif-col-4">
                </div>
            </div>
        </div>
        <div class="uif-col-3 col-space-adjusted">
            <div class="uif-right-bar" id="panelButtonsRight">
                <ul>
                    <li>
                        <a href="#" id="Category">@Resources.Language.LabelCategory</a>
                        <p id="selectedCategory"></p>
                    </li>
                    <li>
                        <a href="#" id="Condition">@Resources.Language.LabelCondition</a>
                        <p id="selectedCondition"></p>
                    </li>
                    <li>
                        <a href="#" id="Rate">@Resources.Language.LabelRate</a>
                        <p id="selectedRate"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</form>

<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="New">
            @Resources.Language.ButtonNew
        </button>
        <button type="button" class="btn btn-default" id="Exit">
            <i class="fa fa-times"></i> @Resources.Language.ButtonExit
        </button>
        <button type="button" class="btn btn-default" id="Excel">
            <i class="fa fa-cloud-download"></i> @Resources.Language.ButtonExport
        </button>
        <button type="button" class="btn btn-primary" id="Save">
            <i class="fa fa-floppy-o"></i> @Resources.Language.ButtonSave
        </button>
    </div>
</script>

