@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Asociación de Líneas</h2>
        <p>
            Para ingresar a asociar líneas de contrato, seleccionar Parametrización /Asociación de Líneas, y se despliega la siguiente pantalla:
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLine.png")'  >  
        </div>
        <br/>
        <p>
            Aquí escogemos el Ejercicio y el Tipo de asociación y automáticamente  se recuperarán las asociaciones de línea grabadas en el sistema
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineGrid.png")'  >      
        </div>
        <br/>
        <p>
            Una vez hecho esto, presionamos el botón Agregar, y se visualiza la siguiente pantalla de ingreso de Nuevo Registro
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineNew.png")'  >      
        </div>
        <br/>
        <p>
            Los campos que conforman la información de asociación de línea son los siguientes:
        </p>
        <ol>
            <li>
                <p>
                    Línea, Campo de selección de Línea. Es un campo obligatorio.
                </p>
            </li>
            <li>
                <p>
                    Ramo Desde, Campo de selección de valor desde. Es un campo obligatorio.
                </p>
            </li>
            <li>
              <p>
                Ramo Hasta, Campo de selección de valor hasta. Es un campo obligatorio.
            </p>
            </li>
            <li>
                <p>
                    Fecha Desde, Campo de texto tipo fecha  para ingresar la fecha de inicio de vigencia de la asociación de línea. Es un campo obligatorio.
                </p>
            </li>
            <li>
                <p>
                    Fecha Hasta, Campo de texto tipo fecha, para ingresar la fecha final de vigencia de la asociación de línea. Es un campo obligatorio.
                </p>
            </li>
        </ol>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineNewData.png")'>      
        </div>
        <br/>
        <p>
            En el caso de que se haya seleccionado “RAMO/SUB RAMO” en el Tipo de Asociación, habría que 
            ingresar también el Sub Ramo  desde y el Sub Ramo hasta, Una vez ingresada la información,
            presionar el botón Grabar.
        </p>
        <p>
            El registro se visualiza en la grilla asociación de líneas.
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineGridData.png")' >      
        </div>
        <br/>
        <p>
            Para editar una asociación de línea de contrato, seleccionar el registro deseado y presionar el botón de Selección
            correspondiente a edición y se recuperará el registro guardado previamente 
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineUpdate.png")' >      
        </div>
        <br/>
        <p>
            Para eliminar una asociación de línea, seleccionar la línea presionando el botón Eliminar,
            en el registro deseado, tal como se indica en la pantalla,
        </p>
        <p>
            presionar Si de la ventana de diálogo y se eliminará el registro.
        </p>    
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/AsociationLineDelete.png")' >      
        </div>
    </div>
</div>