@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
    <h2>Compañía de Nivel</h2>
    <p>
        Para agregar una nueva Compañía de nivel, seleccionar el nivel de contrato deseado presionando el botón de Selección,
        tal como se indica en la pantalla:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/CompanyLevel.png")' >  
    </div>
    <br/>
    <p>
        Luego hacer click en la pestaña “Compañía de Nivel”
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/GridCompanyLevel.png")' >      
    </div>
     <br/>
    <p>
        Presionar el botón Agregar, y se visualiza la siguiente formulario:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/NewCompanyLevel.png")' >      
    </div>
    <br/>
    <p>
    Los campos requeridos que conforman la información de Compañía de Nivel son los siguientes:
    </p>    
        <ol>
            <li >
                <p>
                    Intermediario, Campo de texto autocompletable para el ingreso del corredor de reaseguro. Es un campo obligatorio.
                </p> 
            </li>
            <li>
                <p>
                    Compañía Reaseguradora, Campo de texto autocompletable para el ingreso de la compañía reaseguradora. Es un campo obligatorio.
                </p>
            </li>
            <li>
                <p>
                    Porcentaje Participación, Campo de texto numérico para el ingreso del porcentaje de participación 
                    de la compañía reaseguradora (acepta decimales). Es un campo obligatorio y carga automáticamente su valor, 
                    por defecto su valor será cargado con cien la primera vez, luego para el ingreso de otra compañía 
                    se recalcula en función del porcentaje ya asignado.
                </p>
            </li>
            <li>
                <p>
                    Porcentaje Comisión, Campo de texto numérico para el ingreso del porcentaje de comisión (acepta decimales). 
                    Es un campo obligatorio y por defecto su valor será cargado con cero.
                </p>  
            </li>
            <li>
                <p>
                    Porcentaje Reserva de Prima, Campo que Permite ingresar solamente números positivos del 0 al 100, pueden ser decimales.
                </p>  
            </li>
             <li>
                <p>
                    Porcentaje de Interés sobre liberación reservas, Campo que Permite ingresar solamente números positivos del 0 al 100, pueden ser decimales.
                </p>  
            </li>
        </ol>
        <br/>
    <p>
        Una vez ingresada toda la información, presionar el botón Grabar. Posteriormente el registro se 
        visualiza en la grilla de la pestaña Compañía de Nivel.
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/GridCompanyLeveFulll.png")' >      
    </div>
    <br/>
    <p>
        Para modificar una Compañía de Nivel presionar el botón Editar del registro deseado y se recupera el registro previamente guardado.
    </p>
     <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/UpdateCompanyLevel.png")' >      
    </div>
    <br/>
    <p>
        Se procede a modificar la información, y presionar el botón Grabar. El registro se visualiza en la grilla de Compañía de Nivel.
    </p>
    </div>
</div>