@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
    <div class="uif-col-9">
        <h2>Nivel de Contrato</h2>
        <p>
            Para agregar un nivel de contrato, se debe seleccionar el contrato deseado dentro de la grilla Contratos
            y presionar el botón de Selección, luego se debe hacer click en la pestaña “Nivel de Contrato"
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LevelContract.png")' alt="Ingreso" class="imagen">  
        </div>
        <br/>
        <p>
            Presionar el botón Agregar, la visualizacion de los campos de la pantalla Nuevo Nivel de Contrato 
            dependerá del tipo de contrato al que se le esta asignando el nivel.
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/NewContractLevel.png")' alt="Ingreso" class="imagen">      
        </div>
        <br/>
        <p>
            Los campos que conforman la información de nivel de contrato son los siguientes (los campos desplegados dependerá del tipo de contrato seleccionado):
        </p>
        <ol>
            <li>
                <p>
                    Nro. Nivel, Campo de texto informativo que mostrará el número secuencial de nivel que se crea. Es un campo de solo lectura y su valor no se puede cambiar. 
                </p>  
            </li>
            <li>
                <p>
                    Límite Contrato, Campo de texto numérico para el ingreso del límite de contrato. Es un campo obligatorio.
                </p> 
            </li>
            <li>
                <p>
                    Porcentaje Asignación, Campo de texto numérico para el ingreso del porcentaje de asignación del contrato (acepta decimales). Es un campo obligatorio.  
                </p> 
            </li>
            <li>
                <p>
                    Límite Retención (Prioridad), Campo de texto numérico para el ingreso del límite de retención del contrato (acepta decimales). Dependiendo del tipo de contrato, este puede ser o no un campo obligatorio.
                </p>    
            </li>
            <li>
                <p>
                    Nro. Líneas, Campo de texto numérico para el ingreso del número de líneas del contrato. Dependiendo del tipo de contrato, este puede ser o no un campo obligatorio. 
                </p>   
            </li>
            <li>
                <p>
                    Límite Evento, Campo de texto numérico para ingresar e límite de evento del contrato (acepta decimales). 
                    Dependiendo del tipo de contrato, este puede ser o no un campo obligatorio.
                </p>
            </li>
        </ol>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/NewContractLevelData.png")' alt="Ingreso" class="imagen">      
        </div>
        <br/>
        <p>
            Una vez ingresado la información, presionar el botón Grabar. El registro se visualiza en la grilla de la pestaña Nivel de Contratos.
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/GridContractLevel.png")' alt="Ingreso" class="imagen">      
        </div>
        <br/>
        <p>
            Para modificar un nivel de contrato, dentro de la grilla presionar el botón Editar del registro deseado,
            se mostrará una pantalla similar a la utilizada para agregar un nuevo nivel, pero ya con la información del registro recuperado 
        </p>
        <br/>
        <div style="text-align: center">
            <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/UpdateContractLevel.png")' alt="Ingreso" class="imagen">      
        </div>
        <br/>
        <p>
            Una vez modificado la información deseada, presionar el botón Grabar. El registro se visualiza en la grilla de la pestaña Nivel de Contrato.
        </p>
    </div>
    <br/>
</div>