@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
<div class="uif-col-9">
    <h2>Contratos por Líneas</h2>
    <p>
        Para agregar un nuevo Contrato por Líneas, primeramente hay que seleccionar una Línea presionando
        el botón de Selección de la Línea, tal como se indica en la pantalla:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LineSelect.png")'  >  
    </div>
    <br/>
    <p>
       click en la pestaña “Contratos por Líneas”, Presionamos el botón Agregar, y se despliega la pantalla para el registro
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/ContractLine.png")'  >      
    </div>
     <br/>
    <p>
        Primeramente se debe buscar un contrato, para ello seleccionar el Ejercicio y el Tipo de contrato, 
        una vez encontrado el contrato lo seleccionamos mediante el botón de Slección de la grilla
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/ContractLineContractSel.png")'>      
    </div>
    <p>
        el registro se resalta y queda seleccionado. La Prioridad se asigna automáticamente de acuerdo al orden 
        en que se van grabando los registros, el primero sería la Prioridad 1, el segundo será Prioridad 2, etc.
    </p>
    <p>
        Una vez seleccionado el contrato, presionar el botón Grabar. El registro se visualiza en la grilla de
        Contratos por Línea.
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/ContractLineGrid.png")'>      
    </div>
   <br/>
    <p>
        Para modificar un Contrato por Línea, presionar el botón de Selección del registro deseado y 
        se recupera y visualiza el registro previamente guardado.
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/ContractLineUpdate.png")' >      
    </div>
    <br/>
    <p>
        Una vez modificado la información, presionar el botón Grabar. El registro se visualiza en la grilla 
        de línea de contratos. El sistema no permite grabar un contrato que ya haya sido grabado previamente.
    </p>
    <p>
        Para eliminar una asociación de línea, seleccionar la línea presionando el botón Eliminar,
        del registro deseado tal como se indica en la pantalla , presionar Si de la ventana de diálogo y se eliminará el registro.
    </p>
     <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/ContractLineDelete.png")' >      
    </div>
</div>
</div>