@*@{
    Layout = "~/Views/Shared/_UIFLayout-r2.cshtml";
}*@
<div id="endorsement" class="uif-row">
<div class="uif-col-9">
    <h2>Línea</h2>
    <p>
        Al hacer clic en la opción “Líneas” se nos despliega todas las Líneas que están registradas en el sistema,
        como se muestra a continuación:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/Line.png")'  >  
    </div>
    <br/>
    <p>
        Para agregar una nueva línea presionar el botón Agregar, y se visualiza la siguiente pantalla:
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LineAdd.png")'  >      
    </div>
    <br/>
    <p>
        Los campos que conforman la información de línea son los siguientes:
    </p>
    <ol>
        <li>
            <p>
                Tipo de Cúmulo, Campo de selección del tipo de cúmulo al que pertenecerá la Línea. 
                Es un campo obligatorio.
            </p>
        </li>
        <li>
            <p>
                Descripción, Campo de texto alfanumérico para el ingreso de la descripción de la línea. 
                Es un campo obligatorio.
            </p>
        </li>
    </ol>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LineAddData.png")'>      
    </div>
    <br/>
    <p>
        Una vez ingresado la información, presionar el botón Grabar. El registro se visualiza en la grilla de líneas.          
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LineGrid.png")' >      
    </div>
    <br/>
    <p>
        Para modificar una línea presionar el botón Editar del registro deseado y se recuperará el registro previamente guardado 
    </p>
    <br/>
    <div style="text-align: center">
        <img src='@Url.Content("~/Content/Reinsurance/help/images/Parameters/LineUpdate.png")' >      
    </div>
    <br/>
    <p>
        Una vez modificado la información, presionar el botón Grabar. El registro se visualiza en la grilla de líneas.
    </p>
    </div>
</div>