@using Sistran.Core.Framework.UIF.Web.Resources
@{
    ViewBag.Title = "Parameter";
}

<div class="uif-row">
    <div class="uif-col-9">
        <div class="uif-list">
            <ul class="nav">
                <li><a href="@Url.Action("MainContract", "Parameter")">@Global.Contracts</a></li>
                <li><a href="@Url.Action("MainLine", "Parameter")">@Global.Lines</a></li>
                <li><a href="@Url.Action("AssociationLine", "Parameter")">Asociación de Líneas</a></li>
            </ul>
        </div>
    </div>
</div>