<div class="row">
    <div class="uif-col-12">
        <table class="uif-table" id="tableVehicleRisk" data-selectiontype="single" data-add="false" data-edit="false" data-filter="true"
               data-delete="false" data-paginate="10" data-filter="false">
            <thead>
                <tr>
                    <th data-property="DocumentNumber"><b>@Resources.Language.PolicyNumberAbbreviation</b></th>
                    <th data-property="Plate"><b>@Resources.Language.VehiclePlate</b></th>
                    <th data-property="Make"><b>@Resources.Language.VehicleMake</b></th>
                    <th data-property="Model"><b>@Resources.Language.VehicleModel</b></th>
                    <th data-property="Year"><b>@Resources.Language.Year</b></th>
                    <th data-property="Color"><b>@Resources.Language.Color</b></th>
                    <th data-property="Chasis"><b>@Resources.Language.Chassis</b></th>
                    <th data-property="Motor"><b>@Resources.Language.VehicleEngine</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>