@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}

<form id="SearchCardVoucherPartial" onsubmit="return false">
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="control-label">
                @Global.Conduit
            </label>
            @Html.DropDownList("CreditCardType", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 data_source = @Url.Content("~/Accounting/Common/GetCreditCardTypes"),
                 data_id = "Id",
                 data_name = "Description",
                 data_native = "true",
                 data_val = "true",
                 data_val_required = @Global.RequiredField
             })
            <span class="text-danger" data-valmsg-for="CreditCardType" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-4">
            <label class="control-label">
                @Global.VoucherNumber
            </label>
            <input type="text" value="" id="CardVoucherNumber" placeholder="" style="text-align: right" onkeypress="return JustNumbers(event, this)" maxlength="12" />
        </div>
        <div class="uif-col-4">
            <label class="control-label">
                @Global.CreditCardNumber
            </label>
            <input type="text" value="" id="CardNumber" placeholder="" style="text-align: right" onkeypress="return JustNumbers(event, this)" maxlength="16" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="control-label">
               @Global.TransactionNumber
            </label>
            <input type="text" value="" id="TechnicalTransaction" placeholder="" style="text-align: right" onkeypress="return JustNumbers(event, this)" maxlength="16" />
        </div>
        <div class="uif-col-4">
            <label class="control-label">
                @Global.Branch
            </label>
            <select class="uif-select form-control" id="CardBranch" data-native="true"
                    data-source='@Url.Content("~/Accounting/Common/GetListBranchesbyUserName")' data-id="Id" data-name="Description" data-selectedid="@ViewBag.BranchDefault"></select>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="form-footer">
                @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0549"))
                {
                    <button id="Clean" class="btn btn-default" role="button">
                        <span class="fa fa-paint-brush"></span>    @Global.Clean
                    </button>
                }
                @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0550"))
                {
                    <button id="SearchCardVoucher" class="btn btn-primary" role="button">
                        <span class="fa fa-search"></span>    @Global.Search
                    </button>
                }

            </div>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertSearchPartial"></div>
        </div>
    </div>
</form>
<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="VoucherPolicies" data-source="" data-exporttocsv="false" data-exportname="cultura" data-add="false" data-edit="true"
               data-delete="false" data-filter="true" data-selectiontype="single" data-title="@Global.Search">
             <thead>
                <tr>
                    <th data-property="BranchCode" data-visible="false">BranchCode</th>
                    <th data-property="Description">@Global.Branch</th>
                    <th data-property="CardDescription">@Global.Conduit</th>
                    <th data-property="DocumentNumber">@Global.Card</th>
                    <th data-property="Voucher">@Global.VoucherNumber</th>
                    <th data-property="CurrencyCode" data-visible="false">CurrencyCode</th>
                    <th data-property="CurrencyDescription">@Global.Currency</th>
                    <th data-property="Amount">@Global.Amount</th>
                    <th data-property="Taxes">@Global.TotalTaxes</th>
                    <th data-property="Retention">@Global.TotalRetention</th>
                    <th data-property="TechnicalTransaction">@Global.TransactionNumber</th>
                    <th data-property="CollectCode" data-visible="false">@Global.BillNum</th>
                    <th data-property="CardDate">@Global.InternalBallotDepositCardGridCardDate</th>
                    <th data-property="Status" data-visible="false">Status</th>
                    <th data-property="StatusDescription">@Global.Status</th>
                    <th data-property="CreditCardTypeCode" data-visible="false">CreditCardTypeCode</th>
                    <th data-property="PaymentCode" data-visible="false">PaymentCode</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

