@using Sistran.Core.Framework.UIF.Web.Resources

<div class="uif-panel">
    <div class="uif-row">
        <div class="uif-col-12">
            <div style="padding: 0 0 0 0">
                <h4>
                    <b>&nbsp;&nbsp;&nbsp;@Global.AfectedPrimesWarningLabel</b>
                </h4>
            </div>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" id="PremiumReceivableListSelectionTable" data-exporttocsv="false" data-edit="false" data-delete="false"
                   data-filter="false" data-paginate="true" data-selectiontype="none"
                   data-title="<b>@Global.AfectedPrimesLabel</b>" >
                <thead>
                    <tr>
                        <th data-property="PremiumReceivableItemId">Id</th>
                        <th data-visible="false" data-property="ImputationId"></th>
                        <th data-visible="false" data-property="PolicyId"></th>
                        <th data-property="PolicyDocumentNumber">@Global.PolicyNumber</th>
                        <th data-visible="false" data-property="EndorsementId"></th>
                        <th data-property="EndorsementDocumentNumber">@Global.EndorsementNumber</th>
                        <th data-property="PaymentNumber">@Global.QuotaNumber</th>
                        <th data-visible="false" data-property="BranchId"></th>
                        <th data-visible="false" data-property="BranchDescription"></th>
                        <th data-visible="false" data-property="PrefixId"></th>
                        <th data-property="PrefixDescription">@Global.Prefix</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
