@model Sistran.Core.Framework.UIF.Web.Areas.Endorsement.Models.CancellationViewModel

<script id="title-template" type="text/template">
    <div class="column-60">
        @Resources.Language.LabelCancelPolicy
    </div>
    <div class="column-40">
        <div class="important">
            <div class="date">
                <i class="fa fa-calendar"></i>@Resources.Language.LabelDateIssuance <span id="inputIssueDate"></span>
                @Resources.Language.LabelNumberTemporal<span id="labelTemporalId"></span>
            </div>
        </div>
    </div>
</script>

<script id="footer-template" type="text/template">
    <div class="pull-right">
        <div class="row">
            <div class="uif-col-12">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" id="btnCancel">@Resources.Language.ButtonExit</button>
                    <button type="button" class="btn btn-default" id="btnPrintTemporalCancellation">
                        <i class="fa fa-print" aria-hidden="true"></i>
                        <span class="" aria-hidden="true"></span>
                        @Resources.Language.PrintTemporal
                    </button>
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0724"))
                    {
                        <button type="button" class="btn btn-primary" id="btnSave">@Resources.Language.ButonSaveCancellation</button>
                    }
                </div>
            </div>
        </div>
    </div>
</script>

<div class="uif-alert" id="alert"></div>

<form id="formCancellation" class="without-peripheral">
    <div class="row">
        <div class="uif-col-12">
            <h5 id="globalTitle"></h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-summary field-summary-alignment">
                <div class="items">
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableRisk</div>
                            <div id="labelCurrentRisk">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSum</div>
                            <div id="labelCurrentSum">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablePremium</div>
                            <div id="labelCurrentPremium">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableExpenses</div>
                            <div id="labelCurrentExpenses">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSurcharges</div>
                            <div id="labelCurrentSurcharges">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableDiscounts</div>
                            <div id="labelCurrentDiscounts">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablesTaxes</div>
                            <div id="labelCurrentTaxes">0</div>
                        </div>
                    </div>
                    <div class="item primary">
                        <div>
                            <div>@Resources.Language.LabelTableTotalPremium</div>
                            <div id="labelCurrentTotalPremium">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <h5><strong> @Resources.Language.LabelDataCancelEndorsement</strong></h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-4">
            <label class="field-required">@Resources.Language.LabelCancelType</label>
            <select class="uif-select form-control" id="selectCancellationType" data-id="Value" data-name="Text"
                    name="CancellationTypeId" data-native="false" data-source='@Url.Content("~/Endorsement/Cancellation/GetCancellationTypes")'
                    data-val="true" data-val-required="@Resources.Language.ErrorDocumentEndorsement"></select>
        </div>
        <div class="uif-col-2">
            <label>@Resources.Language.LabelCancelDateFrom</label>
            @Html.TextBoxFor(model => model.CurrentFrom, new { id = "inputCancellationFrom", @class = "uif-datepicker" })
            @Html.ValidationMessageFor(model => model.CurrentFrom)
        </div>
        <div class="uif-col-3">
            <label>@Resources.Language.LabelCancelDays</label>
            @Html.TextBoxFor(model => model.Days, new { id = "inputCancellationDays", disabled = "disabled" })
            @Html.ValidationMessageFor(model => model.Days)
        </div>
        <div class="uif-col-3">
            <label class="field-required">@Resources.Language.LabelCancellationReason</label>
            <select class="uif-select form-control" data-native="false" id="selectEndorsementReason" data-id="Id" data-name="Description"
                    name="EndorsementReasonId" data-val="true" data-val-required="@Resources.Language.ErrorCancellationReason"></select>
            @Html.ValidationMessageFor(model => model.EndorsementReasonId)
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.LabelText</label>
            @Html.TextAreaFor(model => model.Text, new { id = "inputText", rows = "5" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.LabelObservations</label>
            @Html.TextAreaFor(model => model.Observations, new { id = "inputObservations", rows = "5" })
            @Html.ValidationMessageFor(model => model.Observations)
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.RecordObservations</label>
            <textarea id="inputRecord" name="inputRecord" rows="5" required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-2">
            <label class="field-required">@Resources.Language.LabelFilingNumber</label>
            @Html.TextBoxFor(model => model.TicketNumber, new { id = "inputFilingNumber", type = "text", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.TicketNumber)

        </div>
        <div class="uif-col-2">
            <label class="field-required">@Resources.Language.LabelFilingDate</label>
            @Html.TextBoxFor(model => model.TicketDate, new { id = "inputFilingDate", @class = "uif-datepicker" })
            @Html.ValidationMessageFor(model => model.TicketDate)
        </div>
    </div>
    <div class="row lineDividing">
        <div class="uif-col-12">
            <div class="pull-right">
                @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0723"))
                {
                    <button type="button" class="btn btn-primary btn-calculate" id="btnCalculate">
                  
                        <div>
                            <i class="fa fa-calculator"></i>
                            <div>
                                @Resources.Language.LabelButtonCalculate
                            </div>
                        </div>
                    </button>
                }
                </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-summary field-summary-alignment">
                <div class="title">@Resources.Language.LabelSummaryCancelation</div>
                <div class="items">
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableRisk</div>
                            <div id="labelRisk">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSum</div>
                            <div id="labelSum">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablePremium</div>
                            <div id="labelPremium">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableExpenses</div>
                            <div id="labelExpenses">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableSurcharges</div>
                            <div id="labelSurcharges">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTableDiscounts</div>
                            <div id="labelDiscounts">0</div>
                        </div>
                    </div>
                    <div class="item">
                        <div>
                            <div>@Resources.Language.LabelTablesTaxes</div>
                            <div id="labelTaxes">0</div>
                        </div>
                    </div>
                    <div class="item primary">
                        <div>
                            <div>@Resources.Language.LabelTableTotalPremium</div>
                            <div id="labelTotalPremium">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
