@model Sistran.Core.Framework.UIF.Web.Areas.Guarantees.Models.PrefixAssociatedViewModel
<form>
    <div class="row uif-row-pc" style="padding-top:5px;">
        @Html.HiddenFor(model => model.SecureName, new { id = "inputPrefixSecureName" })
        @Html.HiddenFor(model => model.NumberDocument, new { id = "PrefixAssociated-NumberDocument" })
        <div class="uif-col col-md-2">
            <label>@Resources.Language.LabelGuarantee</label>
        </div>
        <div class="uif-col col-md-6">
            <input type="text" id="inputTypeGuaranteePrefixAssociated" disabled="disabled" />
        </div>
    </div>
    <br />
    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" id="tablePrefixAssociated" data-title="@Resources.Language.LabelPrefixAssociated"
                   data-selectiontype="multiple" data-filter="false" data-paginate="false">
                <thead>
                    <tr>
                        <th data-property="Id" data-visible="true">@Resources.Language.LabelId</th>
                        <th data-property="Description" data-visible="true">@Resources.Language.LabelDescription</th>
                        
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>