@{
    Layout = null;
}

<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelAddress, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Address", null, new { @class = "uif-input-search", id = "inputAddress", @placeholder = @Resources.Language.NumberNotice, maxlength = "50" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelCountry, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Country", null, new { @class = "uif-input-search", id = "inputCountry", maxlength = "50" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelDepartment, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Department", null, new { @class = "uif-input-search", id = "inputDepartment", maxlength = "50" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelCity, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("City", null, new { @class = "uif-input-search", id = "inputCity", maxlength = "50" })
</div>
