<h5>
    <strong>@Resources.Language.TypeSuretyData</strong>
</h5>
<div class="row">
    <div class="uif-col-6">
        <label class="field-required">@Resources.Language.Bonded/@Resources.Language.InsuredName</label>
        <input class="uif-input-search" data-displaykey="FullName" type="text" placeholder="@Resources.Language.PlaceHolderDocumentName" maxlength="50"
               id="inputSurety" name="inputSurety" data-val="true" data-val-required="@Resources.Language.FieldRequired">
        <span class="text-danger" data-valmsg-for="inputSurety" data-valmsg-replace="true"></span>
    </div>
    <div class="uif-col-3">
        <label>@Resources.Language.ContractNumberAbbreviation</label>
        <input type="text" name="txtContractNumber" id="txtContractNumber" class="uif-input" maxlength="20"
               onkeypress="return event.charCode >= 48 && event.charCode <= 58" />
    </div>
    <div class="uif-col-3">
        <label>@Resources.Language.JudgmentNumber</label>
        <input type="text" name="txtNumber" value="" id="txtNumber" class="uif-input" maxlength="20"
               onkeypress="return event.charCode >= 48 && event.charCode <= 58" />
    </div>
</div>
<div class="row">
    <div class="uif-col-4">
        <label>@Resources.Language.InsuredName</label>
        <input type="text" name="txtInsuredName" value="" id="txtInsuredName" class="uif-input" maxlength="50" />
    </div>
  </div>