@using Sistran.Core.Framework.UIF.Web.Resources

<script id="ItemToPayViewTemplate" type="text/template">
    <div><label><b>@Global.BranchPrefixPolicyEndorsement</b>:</label> <span class="label label-warning">{{BranchPrefixPolicyEndorsement}}</span> </div>
    <div><label><b>@Global.Quota:</b></label> {{PaymentNumber}}</div>
    <div><label><b>@Global.DocNumInsured:</b></label> {{InsuredDocumentNumberName}} </div>
    <div><label><b>@Global.DocNumPayer:</b></label> {{PayerDocumentNumberName}} </div>
    <div><label><b>@Global.Currency:</b></label> {{CurrencyDescription}} <label><b>@Global.Balance:</b></label> {{PaymentAmount}} </div>
    <div></div>
    <div><label><b>@Global.PayExpDate:</b></label> {{PaymentExpirationDate}}</div>
    <div><label><b>@Global.BusinessType:</b></label> {{BussinessTypeDescription}}</div>
</script>

<script id="ItemToApplyViewTemplate" type="text/template">
    <div><label><b>@Global.BranchPrefixPolicyEndorsement</b>:</label> <span class="label label-warning">{{BranchPrefixPolicyEndorsement}}</span> </div>
    <div><label><b>@Global.Quota:</b></label> {{PaymentNumber}}</div>
    <div><label><b>@Global.Currency:</b></label> {{CurrencyDescription}} </div>
    <div><label><b>@Global.PayExpDate:</b></label> {{PaymentExpirationDate}}</div>
    <div><label><b>@Global.DocNumPayer:</b></label> {{PayerDocumentNumberName}} </div>
    <div><label><b>UPD:</b></label> {{Upd}} </div>
    <div><label><b>@Global.QuotaValue:</b></label> {{PayableAmount}}</div>
    <div><label><b>@Global.DialogCommissionRetainedCommissionGranted:</b></label> {{DiscountedCommission}}</div>
    <div><label><b>@Global.ValueToCollect:</b></label> {{ValueToCollect}}</div>
    <div><label><b>@Global.Balance:</b></label> {{PaymentAmount}} </div>
    <div><label><b>@Global.AgentDocumentNumber:</b></label> {{PolicyAgentDocumentNumber}}</div>
    <div><label><b>@Global.DialogCommissionRetainedOutstandingCommission:</b></label> {{PendingCommission}}</div>
    <div><label><b>@Global.DialogDepositPremiumsOverPayment:</b></label> {{ExcessPayment}}</div>
    <di hidden="hidden">{{CurrencyId}}</di>
</script>



<form id="PoliciesSearchForm" onsubmit="return false" class="form">
    <div class="row">
        <div class="uif-col-6">
            <h5 class="subTitle"><b>@Global.DialogSearchPolicyTitle</b></h5>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label class="control-label">@Global.SearchBy</label>
                    <select class="uif-select form-control" id="SearchBy" data-id="Id" data-name="Description"></select>
                    <span class="text-danger" data-valmsg-for="SearchBy" data-valmsg-replace="true" />
                </div>
            </div>

            @*POR ASEGURADO*@
            <div id="insuredSearch" class="uif-row">
                <div class="uif-col-5">
                    <label class="control-label">@Global.DocNumInsured</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetInsuredByDocumentNumber", "Common")"
                           data-displaykey="DocumentNumber"
                           @*onkeypress="return JustNumbers(event, this);"*@
                           maxlength="20"
                           placeholder='@Global.EnterDocumentNumber'
                           id="InsuredDocumentNumberSearch"
                           name="InsuredDocumentNumberSearch"
                           data-val="true"
                           data-val-required='@Global.RequiredField' />



                    <span class="text-danger" data-valmsg-for="InsuredDocumentNumberSearch" data-valmsg-replace="true">
                    </span>
                </div>
                <div class="uif-col-7">
                    <label class="control-label">@Global.InsuredName</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetInsuredByInsuredName", "Common")"
                           data-displaykey="Name"
                           placeholder='@Global.EnterName'
                           id="InsuredNameSearch"
                           maxlength="100"
                           name="InsuredNameSearch"
                           data-val="true"
                           data-val-required='@Global.RequiredField' />

                    <span class="text-danger" data-valmsg-for="InsuredName" data-valmsg-replace="true">
                    </span>
                </div>
            </div>
            @*POR PAGADOR*@
            <div class="uif-row" id="payerSearch">
                <div class="uif-col-5">
                    <label class="control-label">@Global.DocNumPayer</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetInsuredByDocumentNumber", "Common")"
                           data-displaykey="DocumentNumber"
                           onkeypress="return JustNumbers(event, this);"
                           maxlength="20"
                           placeholder='@Global.EnterDocumentNumber'
                           id="PayerDocumentNumber"
                           name="PayerDocumentNumber"
                           data-val="true"
                           data-val-required='@Global.RequiredField' />

                    <span class="text-danger" data-valmsg-for="PayerDocumentNumber" data-valmsg-replace="true" />
                </div>
                <div class="uif-col-7">
                    <label class="control-label">@Global.NamePayer</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetInsuredByInsuredName", "Common")"
                           data-displaykey="Name"
                           placeholder='@Global.EnterPayerName'
                           id="PayerName"
                           maxlength="100"
                           name="PayerName"
                           data-val="true"
                           data-val-required='@Global.RequiredField' />


                    <span class="text-danger" data-valmsg-for="PayerName" data-valmsg-replace="true" />
                </div>
            </div>
            @*POR AGENTE*@
            <div class="uif-row" id="agentSearch">
                <div class="uif-col-5">
                    <label class="control-label">@Global.AgentDocumentNumber</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetAgentByDocumentNumber", "Common")"
                           data-displaykey="DocumentNumber"
                           placeholder='@Global.EnterAgentDocument'
                           id="AgentDocumentNumberDialog"
                           name="AgentDocumentNumberDialog"
                           data-val-required='@Global.RequiredField'
                           data-val="true" />
                    <span class="text-danger" data-valmsg-for="AgentDocumentNumberDialog" data-valmsg-replace="true" />
                </div>
                <div class="uif-col-7">
                    <label class="control-label">@Global.AgentName</label>
                    <br />
                    <input class="uif-autocomplete" type="text"
                           data-source="@Url.Action("GetAgentByName", "Common")"
                           data-displaykey="Name"
                           placeholder='@Global.EnterAgentName'
                           id="AgentNameDialog"
                           name="AgentNameDialog"
                           data-val-required='@Global.RequiredField'
                           data-val="true" />
                    <span class="text-danger" data-valmsg-for="AgentNameDialog" data-valmsg-replace="true" />
                </div>
            </div>
            @*POR GRUPO*@
            <div class="uif-row" id="groupSearch">
                <div class="uif-col-5">
                    <label class="control-label">@Global.CodeGroup</label>
                    <br />
                    <input class="uif-autocomplete"
                           type="text"
                           data-source="@Url.Action("GetBillingGroupByNumber", "PremiumsReceivable")"
                           data-displaykey="Id"
                           placeholder='@Global.EnterGroupCode'
                           id="GroupNumber"
                           name="GroupNumber"
                           data-minlenght="1"
                           onkeypress="return JustNumbers(event, this);"
                           maxlength="10">
                </div>
                <div class="uif-col-7">
                    <label class="control-label">@Global.NameGroup</label>
                    <br />
                    <input class="uif-autocomplete"
                           type="text"
                           data-source="@Url.Action("GetBillingGroupByName", "PremiumsReceivable")"
                           data-displaykey="Description"
                           placeholder='@Global.EnterGroupName'
                           id="GroupName"
                           name="GroupName">
                </div>
            </div>
            @*POR FACTURA*@
            <div class="uif-row" id="salesTicketSearch">
                <div class="uif-col-5">
                    <label class="control-label">@Global.BillNumber</label>
                    <br />
                    <input type="text" id="SaleTicketDocumentNumber" onkeypress=" return JustNumbers(event, this); " maxlength="10" />
                </div>
            </div>

            <div id="SearchAdvancedSection" title="@Global.SearchLabel @Global.Advanced">
                <div class="uif-row">
                    <div class="uif-col-5">
                        <label class="control-label">@Global.Branch</label>
                        <br />
                        <select class="uif-select form-control" id="BranchSearch" data-id="Id" data-name="Description"></select>
                    </div>
                    <div class="uif-col-7">
                        <label class="control-label">@Global.Prefix</label>
                        <br />
                        <select class="uif-select form-control" id="PrefixSearch" data-id="Id" data-name="Description"></select>
                    </div>
                </div>
                @*POR POLIZA*@
                <div class="uif-row">
                    <div id="policySearch">
                        <div class="uif-col-5">
                            <label class="control-label">@Global.PolicyNumber</label>
                            <br />
                            <input type="text" id="PolicyDocumentNumber"
                                   onkeypress=" return JustNumbers(event, this); "
                                   data-val-required='@Global.RequiredField'
                                   data-val="true"
                                   name="PolicyDocumentNumber"
                                   maxlength="10" />
                            @*<span class="text-danger" data-valmsg-for="PolicyDocumentNumber" data-valmsg-replace="true" />*@
                        </div>

                        <div class="uif-col-3">
                            <label class="control-label">@Global.Endorsement</label>
                            <br />
                            <input type="text" id="Endorsement"
                                   onkeypress=" return JustNumbers(event, this); " maxlength="10" />
                        </div>
                    </div>



                </div>
                <div class="uif-row">
                    <div class="uif-col-6">
                        <label class="control-label">@Global.PayExpDateQuotaFrom</label>
                        <br />
                        <input type="text" class="uif-datepicker"
                               data-mask="99/99/9999"
                               id="PayExpDateQuotaFrom"
                               name="PayExpDateQuotaFrom"
                               value="@ViewBag.DateAccounting"
                               data-val="false" />
                    </div>
                    <div class="uif-col-6">
                        <label class="control-label">@Global.PayExpDateQuotaTo</label>
                        <br />
                        <input type="text" class="uif-datepicker"
                               data-mask="99/99/9999"
                               id="PayExpDateQuotaTo"
                               name="PayExpDateQuotaTo"
                               value="@ViewBag.DateAccounting"
                               data-val="false" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12">
                        <label class="control-label"></label>
                        <div class="pull-right">
                            <button id="CleanSearchPoliciesButton" class="btn btn-default" role="button">
                                <i class="fa fa-paint-brush"></i> @Global.Clean
                            </button>
                            <button id="AdvancedSearchButton" class="btn btn-primary" role="button">
                                <i class="fa fa-search"></i> @Global.Search
                            </button>
                        </div>
                    </div>
                </div>

                <div class="uif-alert padded" id="alertPrime"></div>
            </div>

            <div class="uif-alert padded" id="alertItemToPayView"></div>


        </div>
        <div class="uif-col-6">
            <div id="ItemToPayView" class="uif-listview">
                <div class="footer">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <button id="AcceptButtonSearch" class="btn btn-primary" role="button">
                                <i class="fa fa-search"></i> @Global.Accept
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


