<div class="uif-row">
    <div class="uif-col-12">
        <div class="row row-space-adjusted">
            <div class="uif-col-5">
                <label>@Resources.Language.TitleHistoricalPolicy</label>
                <select class="uif-select login-form-control" id="TypeCrossing" data-val="true"
                        data-id="Id" data-name="Description" data-native="false" name=""></select>
            </div>
        </div>
    </div>
</div>

<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="single" id="tableResultsPolicies" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="CompanyName">@Resources.Language.LabelCompany</th>
                        <th data-property="PolicyNumber">@Resources.Language.LabelPolicyNumbers</th>
                        <th data-property="Plate">@Resources.Language.LabelLicensePlate</th>
                        <th data-property="Engine">@Resources.Language.LabelEngine</th>
                        <th data-property="Chassis">@Resources.Language.LabelChassis</th>
                        <th data-property="EffectiveDate" data-type="date">@Resources.Language.LabelEffectiveDate</th>
                        <th data-property="EndEffectiveDate" data-type="date">@Resources.Language.LabelEndvalidity</th>
                        <th data-property="Valid">@Resources.Language.LabelValid</th>
                        @*<th data-property="Insured">@Resources.Language.LabelInsured</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="uif-modal" id="ModalPolicyCexperDetail">
    <div class="uif-modalbody">
        @Html.Partial("PolicyDetailCexper")
    </div>
</div>