<div class="uif-row">
    <div class="uif-col-12">
        <div class="uif-col-5">
            <label>@Resources.Language.TitleHistoricalSinisters</label>
            <select class="uif-select login-form-control" id="TypeCrossingSinister" data-val="true"
                    data-id="Id" data-name="Description" data-native="false" name="IdentificationType"></select>
        </div>

    </div>
</div>

<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="single" id="tableResultsSinister" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="CompanyName">@Resources.Language.LabelCompany</th>
                        <th data-property="SinisterNumber">@Resources.Language.LabelClaimsNumbers</th>
                        <th data-property="Plate">@Resources.Language.LabelLicensePlate</th>
                        <th data-property="Engine">@Resources.Language.LabelEngine</th>
                        <th data-property="Chassis">@Resources.Language.LabelChassis</th>
                        <th data-property="SinistereDate" data-type="date">@Resources.Language.LabelSinisterDate</th>
                        <th data-property="Insured">@Resources.Language.LabelInsured</th>
                        @* <th style="visibility:hidden" data-property="Amparos[,].NombreAmparado">@Resources.Language.LabelPerilName</th>
                             <th style="visibility:hidden" data-property="Amparos[,].ValorReclamaAmparo">@Resources.Language.LabelClaimValue</th>
                            <th style="visibility:hidden" data-property="Amparos[,].ValorPagadoAmparo">Valor Pagado</th>
                            <th style="visibility:hidden" data-property="Amparos[,].FechaSiniestro">@Resources.Language.LabelDate</th>
                               <th style="visibility:hidden"   data-property="Amparos[,].Estado">@Resources.Language.LabelStatus</th>*@
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="uif-modal" id="ModalSinisterCexperDetail">
    <div class="uif-modalbody">
        @Html.Partial("SinisterDetailCexper")
    </div>
</div>