
<form id="formDetailPolicy" autocomplete="off" class="form form-space-adjusted">
        @Html.AntiForgeryToken()
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="row row-space-adjusted"></div>
            <div class="row row-space-adjusted">
                <div class="uif-col-12">
                    <label><strong>@Resources.Language.LabelPolicyInformation</strong></label>
                </div>
            </div>

            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelCompany</label>
                    <input type="text" id="CompanyName" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPolicyNumbers</label>
                    <input type="text" id="PolicyNumbers" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelOrder</label>
                    <input type="text" id="Order" disabled="disabled" />
                </div>
            </div>
        </div>


        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelStatusPolicy</label>
                    <input type="text" id="StatusPolicy" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelEffectiveDate</label>
                    <input type="text" id="EffectiveDate" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPolicyClass</label>
                    <input type="text" id="PolicyClass" disabled="disabled" />
                </div>
            </div>
        </div>
       
        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-12">
                    <label><strong>@Resources.Language.LabelDataVehicle</strong></label>
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelLicensePlate</label>
                    <input type="text" id="LicensePlate" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelEngine</label>
                    <input type="text" id="Engine" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelChassis</label>
                    <input type="text" id="Chassis" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelMake</label>
                    <input type="text" id="Make" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelClassVehicle</label>
                    <input type="text" id="ClassVehicle" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelTypeVehicle</label>
                    <input type="text" id="TypeVehicle" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelModel</label>
                    <input type="text" id="Model" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelColor</label>
                    <input type="text" id="Color" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelService</label>
                    <input type="text" id="Service" disabled="disabled" />
                </div>
            </div>
        </div>


        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-12">
                    <label><strong>@Resources.Language.LabelInsuredDetail</strong></label>
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    <input type="text" id="InsuredTypeDocument" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    <input type="text" id="InsuredDocumentNumber" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelInsuredName</label>
                    <input type="text" id="InsuredName" disabled="disabled" />
                </div>
            </div>
        </div>

        
        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-12">
                    <label><strong>@Resources.Language.LabelProtections</strong></label>
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPTD</label>
                    <input type="text" id="PTD" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPPD</label>
                    <input type="text" id="PPD" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPH</label>
                    <input type="text" id="PH" disabled="disabled" />
                </div>
            </div>
        </div>

        <div class="uif-col-12">
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelPPH</label>
                    <input type="text" id="PPH" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <label>@Resources.Language.LabelRC</label>
                    <input type="text" id="RC" disabled="disabled" />
                </div>
            </div>
        </div>

    </div>

    </form>

<div class="uif-modalbuttons width-save">
    <button type="button" class="btn btn-default" id="btnExitPolicyCexperDetail">
        @Resources.Language.ButtonExit
    </button>
</div>

