
<form id="formDetailSinister" autocomplete="off" class="form form-space-adjusted">
        @Html.AntiForgeryToken()
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="row row-space-adjusted"></div>
            <div class="row row-space-adjusted">
                <div class="uif-col-12">
                    <!--  <label><strong>@Resources.Language.LabelPolicyInformation</strong></label> -->
                     <label><strong>Reclamos de Siniestros:</strong></label>
                    
                </div>
            </div>

            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <!--    <label>@Resources.Language.LabelCompany</label> -->
                    <label>Amparo</label>
                    <input type="text" id="protection" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <!--     <label>@Resources.Language.LabelPolicyNumbers</label> -->
                    <label>Valor Reclamado</label>
                    <input type="text" id="Claim" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <!--      <label>@Resources.Language.LabelOrder</label>-->
                    <label> Valor Pagado</label>
                    <input type="text" id="paid" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <!--      <label>@Resources.Language.LabelOrder</label>-->
                    <label> Fecha</label>
                    <input type="text" id="Date" disabled="disabled" />
                </div>
                <div class="uif-col-4">
                    <!--      <label>@Resources.Language.LabelOrder</label>-->
                    <label> Estado</label>
                    <input type="text" id="status" disabled="disabled" />
                </div>
            </div>
            </div>



        </div>

        </form>

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnExitSinisterCexperDetail">
            @Resources.Language.ButtonExit
        </button>
    </div>

