@{
    Layout = null;
}

<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelSecure, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("Secure", null, new { @class = "uif-input-search", id = "inputSecure" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelContractNumber, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("ContractNumber", null, new { @class = "uif-input-search", id = "inputContractNumber" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
<div class="uif-col-3">
    @Html.Label(@Resources.Language.LabelProcessNumber, new { @class = "field-required", @style = "padding-top: 10px" })
    @Html.TextBox("ProcessNumber", null, new { @class = "uif-input-search", id = "inputProcessNumber" })
    @*@Html.ValidationMessageFor(model => model.EstimationTypeCode)*@
</div>
