@{
    Layout = null;
}

@*TITULO*@
<script id="title-template" type="text/template">
    <div class="column">
        <div id="Title">@Resources.Language.Rules</div>
    </div>
</script>
@**@

@*FOOTER*@
<script id="footer-template" type="text/template">
    <button type="button" class="btn btn-primary" id="btnRecordRuleNode">
        <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
        <span class="" aria-hidden="true">@Resources.Language.LabelPublishVersion</span>
    </button>
    <button type="button" class="btn btn-default" id="btnExit">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        <span class="" aria-hidden="true">@Resources.Language.ButtonExit</span>
    </button>
    <button type="button" class="btn btn-primary" id="btnLoadRecordRuleNode">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <span class="" aria-hidden="true">@Resources.Language.btnLoadRegisterRuleSetCache</span>
    </button>
</script>
@**@


<div class="main-container">
    <div class="panel-table">
        <div class="panel-heading panel-heading-table">
            <h3 class="panel-title">@Resources.Language.LabelPublishedRuleSet</h3>
            <div class="panel-actions"> </div>
        </div>
        <!--primero se debe crear el elemento-->
        <table class="uif-table" data-selectiontype="none" id="tableJsonVersion">
            <thead>
                <tr>
                    <th data-property="Id">@Resources.Language.LabelNumberRuleSet</th>
                    <th data-property="Guid">@Resources.Language.LabelCodeRuleSet</th>
                    <th data-property="VersionDatetime">@Resources.Language.LabelPublicationDate</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
    <hr />
    <div class="panel-table">
        <div class="panel-heading panel-heading-table">
            <h3 class="panel-title">@Resources.Language.LabelLastVersionNodeRuleSet</h3>
            <div class="panel-actions"> </div>
        </div>

        <!--primero se debe crear el elemento-->
        <table class="uif-table" data-selectiontype="none" id="tableJsonVersionNode">
            <thead>
                <tr>
                    <th data-property="Id">@Resources.Language.LabelNumberRuleSetNode</th>
                    <th data-property="Node">@Resources.Language.LabelMachineName</th>
                    <th data-property="Guid">@Resources.Language.LabelCodeRuleSetNode</th>
                    <th data-property="CreationDate">@Resources.Language.LabelRechargeDate</th>
					<th data-property="FinishDate">@Resources.Language.LabelDateImplementation</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>


    </div>
</div>