@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.TechnicalPlanAllyCoverageViewModel
<div class="uif-row form">
	<div class="uif-col-6">
		@Html.Hidden("Id")
		@Html.Hidden("AllyIndex")
		@Html.LabelFor(model => model.Description)
		@Html.TextBoxFor(model => model.Description, new { @disabled = "disabled", @id = "EditAllyCoverage" })
	</div>
	<div class="uif-col-6">
		@Html.Hidden("Status")
		@Html.LabelFor(model => model.CoveragePercentage)
		@Html.TextBoxFor(model => model.CoveragePercentage, new { @id = "EditAllyCoveragePercentage" })
	</div>
</div>

