
<title>DetailDeclaration</title>

<div class="uif-row">
    <div class="uif-col-6">
        <label>@Resources.Language.LabelMerchandiseType</label>
        <input type="text" disabled="disabled" id="Description">
    </div>
    <div class="uif-col-6">
        <label>@Resources.Language.LabelPackagingType</label>
        <input type="text" disabled="disabled" id="PackagingDescription">
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-6">
        <label>@Resources.Language.Origin</label>
        <input type="text" disabled="disabled" id="Source">
    </div>
    <div class="uif-col-6">
        <label>@Resources.Language.Destiny</label>
        <input type="text" disabled="disabled" id="Target">
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-6">
        <label>@Resources.Language.LabelTransportType</label>
        <textarea id="TransportTypeDescriptions" disabled="disabled" maxlength="16"></textarea>
    </div>
    <div class="uif-col-6">
        <label>@Resources.Language.Via</label>
        <input type="text" disabled="disabled" id="ViaDescription">
    </div>
</div>