@using Sistran.Core.Framework.UIF.Web.Resources

<div class="form">
    <div class="uif-row">
        <div class="uif-col-4">
            @Global.Branch:
            <input type="text" id="branchNameSuccessModal" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-4">
            @Global.ReceivingBank:
            <input type="text" id="receivingBankNameSuccessModal" disabled="disabled" style="border: none" />
            <input type="hidden" id="paymentTicketCodeSuccessModal" style="border: none" />
            <input type="hidden" id="paymentMethodTypeCodeSuccessModal" style="border: none" />
        </div>
        <div class="uif-col-4">
            @Global.InternalBallotNumber:
            <input type="text" id="paymentTicketItemIdSuccessModal" disabled="disabled" style="border: none" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            @Global.AccountNumber:
            <input type="text" id="accountBankSuccessModal" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-4">
            @Global.Date:
            <input type="text" id="dateBallotSuccessModal" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-4">
            @Global.Currency:
            <input type="text" id="accountCurrencySuccessModal" disabled="disabled" style="border: none" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            @Global.User:
            <input type="text" id="userBallotSuccessModal" disabled="disabled" style="border: none" />
        </div>
        <div class="uif-col-4">
            @Global.TotalCards:
            <input type="text" id="totalCardsSuccessModal" disabled="disabled" style="border: none; text-align: left" />
        </div>
        <div class="uif-col-4">
            @Global.InternalBallotDialogBallotTotal:
            <input type="text" id="totalBallotSuccessModal" disabled="disabled" style="border: none; text-align: left" />
        </div>
    </div>

    <div class="uif-modalbuttons">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="CancelTicketSuccessModal">@Global.Cancel</button>
        <button type="submit" class="btn btn-primary" id="PrintReportSuccessModalCardInternal" onclick="return false">@Global.BallotPrint</button>
    </div>
</div>