<div class="uif-row">
    <div class="uif-col-3">
        <label>label1</label>
        <input type="number" id="SearchindividualId" , class="uif-input-search" placeholder="placeholder1" />
    </div>
    <div class="uif-col-3">
        <label>label2</label>
        <input type="number" id="SearchCodeId" , class="uif-input-search" placeholder="placeholder2" />
    </div>
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableIndividualResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.LabelId</th>
                        <th data-property="CustomerType">@Resources.Language.LabelCustomerType</th>
                        <th data-property="Code">@Resources.Language.CodeTax</th>
                        <th data-property="DocumentNum">@Resources.Language.LabelDocumentNumber</th>
                        <th data-property="Description">@Resources.Language.LabelName</th>
                        <th data-property="CustomerTypeDescription">@Resources.Language.LabelCustomerType</th>
                        <th data-property="DocumentType">@Resources.Language.LabelTypeDocument</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>