<div class="uif-alert" id="alert"></div>
<div data-title="@Resources.LanguagePerson.Insured" id="ppanel">

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.IntermediaryPincipal</label>
            <input class="uif-input-search upperCase-co" type="search" id="inputAgentPrincipal" data-minlenght="3">
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.Agency</label>
            <select class="uif-select form-control" id="selectAgency" data-id="Id" data-name="FullName"></select>
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.CodPerson</label>
            <br />
            <label id="CodPersonId" style="color: red"></label>
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.CodInsured</label>
            <br />
            <label id="CodInsured" style="color: red"></label>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.DateCreate</label>
            <input type="text" id="inputCreationDate" class="uif-datepicker" disabled />
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.DateModifid</label>
            <input type="text" class="uif-datepicker" id="inputModificationDate" disabled />
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.LabelDateLow</label>
            <input type="text" class="uif-datepicker" id="InputDateDeclinedInsured" disabled />
        </div>
        <div class="uif-col-3">
            <label>@Resources.LanguagePerson.LowReason</label>
            <select class="uif-select form-control" id="selectLowReason" data-id="Id" data-name="Description"></select>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label class="field-required">@Resources.LanguagePerson.Branch</label>
            <select class="uif-select form-control" id="selectBranchInsured" data-id="Id" data-name="Description"></select>
        </div>
        <div class="uif-col-3">
            <label class="field-required">@Resources.LanguagePerson.LabelBusinessType</label>
            <select class="uif-select form-control" id="selectInsSegment" data-id="IndividualId" data-name="Description"></select>
        </div>
        <div class="uif-col-6">
            <label class="field-required">@Resources.LanguagePerson.LabelWalletClassification</label>
            <select class="uif-select form-control" id="selectInsProfile" data-id="IndividualId" data-name="Description"></select>
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-6">

            <div class="uif-row">
                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="SMS" name="rdSMS" id="rdAuthorizeSMS" />
                        <label for="rdAuthorizeSMS">@Resources.LanguagePerson.LabelAuthorizeSMS</label>
                    </div>
                </div>

                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="Email" name="rdEmail" id="rdAuthorizeEmail" />
                        <label for="rdAuthorizeEmail">@Resources.LanguagePerson.LabelAuthorizeEmail</label>
                    </div>
                </div>

            </div>
            
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.LanguagePerson.Concept</label>
                </div>
            </div>

            <div class="uif-row">
                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="Asegurado" name="rdPrincipalInsured" id="rdAsegurado" />
                        <label for="rdAsegurado">@Resources.LanguagePerson.InsuredName</label>
                    </div>
                </div>

                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="Beneficiario" name="rdPrincipalInsured" id="rdbeneficiary" />
                        <label for="rdbeneficiary">@Resources.LanguagePerson.Beneficiary</label>
                    </div>
                </div>
            </div>

            <div class="uif-row">
                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="Tomador" name="rdPrincipalInsured" id="rdholder" />
                        <label for="rdholder">@Resources.LanguagePerson.Holder</label>
                    </div>
                </div>

                <div class="uif-col-6">
                    <div class="checkbox">
                        <input type="checkbox" value="Pagador" name="rdPrincipalInsured" id="rdPayer" />
                        <label for="rdPayer">@Resources.LanguagePerson.Payer</label>
                    </div>
                </div>

            </div>

        </div>

        <div class="uif-col-6" style="height:114px">
            <label>@Resources.LanguagePerson.Notes</label>
            <textarea style="height:100%" id="notesInsured" class="upperCase-co">
            </textarea>
        </div>

    </div>

</div>

@section Styles
{
    <style>
        .boxWithoutMargin {
            padding: 0px !important;
        }
    </style>

}

@section Modals
{
    <form id="modalForm"></form>

}

