<div class="row">
    <div class="uif-col-12">
        <div class="uif-col-12 fit-col-secondary">
            <div class="uif-right-bar" id="panelButtonsRight">
                <div class="right-bar-title" style="display:none">
                    <!--Se oculta, debido a q' aun no hay desarrollo de guiones para personas-->
                    <a href="#" id="btnScript">
                        <i class="fa fa-gear"></i>
                        <b class="primary">@Resources.LanguagePerson.LabelScript</b>
                    </a>
                </div>
                <ul>
                    @*<li><a href="#" id="btnSarlaft">@Resources.LanguagePerson.Sarlaft</a></li>*@
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0042"))
                    {
                        <li><a href="#" id="btnStaffLabour">@Resources.LanguagePerson.InformationStaffLabour</a></li>
                    }
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0159"))
                    {
                        <li><a href="#" id="btnPaymentMethods">@Resources.LanguagePerson.PaymentMethods</a></li>
                    }
                    @*<li><a href="#" id="btnRepresentLegal">@Resources.LanguagePerson.Representlegal</a></li>*@
                    @*<li><a href="#" id="btnPartner">@Resources.LanguagePerson.LabelPartner</a></li>*@
                    <li><a href="#" id="btnConsortiumMembers">@Resources.LanguagePerson.LabelConsortium</a></li>
                    <li><a href="#" id="btnTradeName">@Resources.Language.TradeName</a></li>
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0160"))
                    {
                        <li><a id="btnGuarantee">@Resources.LanguagePerson.LabelGuarantees</a></li>
                    }
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0161"))
                    {
                        <li><a href="#" id="btnOperatingQuota">@Resources.LanguagePerson.OperatingQuota</a></li>
                    }
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0162"))
                    {
                        <li><a href="#" id="btnTax">@Resources.LanguagePerson.Taxes</a></li>
                    }
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0163"))
                    {
                        <li><a href="#" id="btnBankTransfers">@Resources.LanguagePerson.BankTransfers</a></li>
                    }
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0800"))
                    {
                        <li><a href="#" id="btnElectronicBilling">@Resources.LanguagePerson.ElectronicBilling</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>

