<script id="sarlaftTemplate" type="text/template">
    <div><strong>Formulario Sarlaft: {{Id}}</strong></div>
    <div><br>Fecha de actualización: {{RegistrationDate}}</div>
</script>
<div class="uif-alert" id="alert"></div>
<form id="" class="form modal-Colombia" autocomplete="off">
    <div class="uif-row">
        <div class="uif-col-6">
            <div class="uif-row">
                <div class="uif-col-6">
                    <label class="field-required">@Resources.LanguagePerson.LabelIncome</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputIncome" maxlength="16" placeholder="0" />
                </div>
                <div class="uif-col-6">
                    <label class="field-required">@Resources.LanguagePerson.LabelExpensesSarlaft</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputExpenses" maxlength="16" placeholder="0" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <label class="field-required">@Resources.LanguagePerson.LabelTotalAssets</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputTotalAssets" maxlength="16" placeholder="0" />
                </div>
                <div class="uif-col-6">
                    <label class="field-required">@Resources.LanguagePerson.LabelTotalLiabilities</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputTotalLiabilities" maxlength="16" placeholder="0" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <label>@Resources.LanguagePerson.LabelOtherIncomeValue</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputOtherIncomeValue" maxlength="16" placeholder="0" />
                </div>
                <div class="uif-col-6">
                    <label>@Resources.LanguagePerson.LabelOtherIncomeConcepts</label>
                    <input type="text" class="upperCase-co" id="InputOtherIncomeConcepts" maxlength="100" />
                </div>
            </div>
            <div class="uif-col-6">
                <br />
                <input type="checkbox" name="rdPrincipal" id="chkTransactionsForeignCurrencies">
                <label for="chkTransactionsForeignCurrencies">@Resources.LanguagePerson.TransactionsForeignCurrencies</label>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <label>@Resources.LanguagePerson.AmountOtherOperations</label>
                    <input type="text" class="rightAlign OnlyNumber" id="InputDetailsOtherOperations" maxlength="16" placeholder="0" />
                </div>

                <input type="hidden" name="SarlaftId" id="SarlaftId">
                <input type="hidden" name="SarlaftId" id="StatusTypeService">
            </div>
        </div>
        <div class="uif-col-6">
            <div id="listSarlaft" class="uif-listview"></div>
        </div>
    </div>
    <div class="row lineDividing">
        <div class="uif-col-6">
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="btnNewSarlaft">
                    <span aria-hidden="true"></span>
                    @Resources.LanguagePerson.New
                </button>
                <button type="button" class="btn btn-primary" id="btnCreateSarlaft">
                    <span aria-hidden="true"></span>
                    @Resources.LanguagePerson.Add
                </button>
            </div>
        </div>
        <div class="uif-col-6">
            <div class="uif-summary">
                <div class="items">
                </div>
            </div>
        </div>
    </div>
</form>


