<form id="formBasicInformationLabourPerson">
    <div class="uif-alert" id="alert"></div>  
    <div class="row">
        <div class="uif-col-12">

            <ul class="uif-tab" id="tab1">
                <li class="active"><a href="#tabPersonalInformation">@Resources.LanguagePerson.PersonaInformation</a></li>
                <li><a href="#tabInformationLabour">@Resources.LanguagePerson.IformationLabour</a></li>
                <li><a href="#tabInterestGroups">@Resources.LanguagePerson.TitleInterestGroup</a></li>
            </ul>

            <div class="uif-tab-content">
                <div id="tabPersonalInformation" class="active">
                    <div class="row">
                        <div class="uif-col-12">
                            <h4>@Resources.LanguagePerson.PersonaInformation</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.PersonType</label>
                            <select class="uif-select form-control" id="selectPersonIndividualType" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LevelEducation</label>
                            <select class="uif-select form-control" id="selectLevelEducation" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.Nchildren</label>
                            <input type="text" id="inputNchildren" maxlength="2" placeholder="0" class="rightAlign" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.TypeHouse</label>
                            <select class="uif-select form-control" id="selectTypeHouse" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.Stratum</label>
                            <select class="uif-select form-control" id="selectStratum" data-id="Id" data-name="Description"></select>
                        </div>

                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelTypeDocSpouse</label>
                            <select class="uif-select form-control" id="selectDocumentTypePn" data-id="Id" data-name="SmallDescription"></select>
                        </div>

                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelNroDocSpouse</label>
                            <input type="text" id="inputSpouseNroDoc" maxlength="14" class="upperCase-co" />
                        </div>

                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.SpouseName</label>
                            <input type="text" id="inputSpouseName" maxlength="70" class="upperCase-co" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.CountryOfBirth</label>
                            <input class="uif-input-search"
                                   data-val="true" id="inputCountryInfoPn" name="inputCountryInfoPn" placeholder="@Resources.LanguagePerson.NameCountry" type="text">
                        </div>

                        <!--Pais hidden residencia-->
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelResidenceCountry</label>
                            <input class="uif-input-search"
                                   data-val="true" id="inputCountryInfoPn" name="inputCountryInfoPn" placeholder="@Resources.LanguagePerson.NameCountry" type="text">
                        </div>

                        <!--Condicion de residencia-->
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelResidenceCondition</label>
                            <select class="uif-select form-control" id="selectStratum" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <input type="checkbox" checked="checked" id="rdAceptadoPn" />
                            <label for="rdAceptadoPn">@Resources.LanguagePerson.LabelCitizenResident</label>
                        </div>
                    </div>

                </div>
                <div id="tabInformationLabour">
                    <div class="row">
                        <div class="uif-col-12">
                            <h4>@Resources.LanguagePerson.IformationLabour</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.Occupation</label>
                            <select class="uif-select form-control" id="selectOccupation" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.Specialty</label>
                            <select class="uif-select form-control" id="selectSpecialty" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.OtherOccupation</label>
                            <select class="uif-select form-control" id="selectOtherOccupation" data-id="Id" data-name="Description"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.IncomeLevel</label>
                            <select class="uif-select form-control" id="selectIncomeLevel" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.NameCompany</label>
                            <input type="text" id="inputNameCompany" maxlength="70" class = "upperCase-co"/>
                        </div>

                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelSector</label>
                            <input type="text" id="inputSector" maxlength="30" class = "upperCase-co" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelOffice</label>
                            <input type="text" id="inputofifce" maxlength="30" class="upperCase-co" />
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.LabelContactCompany</label>
                            <input type="text" id="inputContactCompany" maxlength="50" class="upperCase-co" />
                        </div>
                        <div class="uif-col-4">
                            <label>@Resources.LanguagePerson.PhoneCompany</label>
                            <input type="text" id="inputPhoneConpany" maxlength="15" class="rightAlign" />
                        </div>
                    </div>
                </div>
                <div id="tabInterestGroups">
                    <div class="row">
                        <div class="uif-col-12">
                            <table data-paginate="true" data-selectiontype="multiple" class="uif-table" id="TableInterestGroups" data-filter="false" data-add="false" data-source="@Url.Content("~/Person/Person/GetInterestGroupTypes")">
                                <thead>
                                    <tr>
                                        <th data-property="InterestGroupTypeId" data-visible="false">@Resources.LanguagePerson.LabelCurrencyId</th>
                                        <th data-property="Description">@Resources.LanguagePerson.LabelTabInterestGroup</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
