@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @Global.AnalysisAccountTransaction;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
    <li>@Global.Reports</li>
    <li>@Global.AccountingReports</li>
    <li>@Global.Accounts</li>
    <li class="active">@Global.AnalysisAccountTransaction</li>
</ol>
}

@section Toolbar
{
    <footer>
        <button id="btnCleanAnalysisTransactioon" class="btn btn-default" role="button">
            <span class="glyphicon glyphicon-remove"></span>  @Global.Clean
        </button>
        <button id="btnPlayAnalysisReport" class="btn btn-primary" role="button">
            <span class="glyphicon glyphicon-play"></span>  @Global.btnPlay
        </button>
    </footer>
}

@section modals{

    <!-- Modal Confirma proceso de masivos-->
    <div class="modal fade" id="modalConfirmAnalysisTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>@Global.AnalysisConsult</b></h4>
                </div>
                <div class="modal-body">
                    <b id="pnlModalTotRecordsAnalysis"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnModalConfirmAnalysis">@Global.Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Global.No</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Confirmacion del Proceso Masivo de cada reporte -->
    <div class="modal fade" id="modalAnalysisTransaction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>@Global.AnalysisConsult</b></h4>
                </div>
                <div class="modal-body">
                    @Global.ConfirmMessageProcess
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnModalAnalysis">@Global.Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Global.No</button>
                </div>
            </div>
        </div>
    </div>
}

<form id="ReportAnalysisForm" onsubmit=" return false ">
    <div class="uif-row">
        <div class="uif-col-4">
            <label>@Global.DateFrom</label>
            <input type="text" class="uif-datepicker" data-mask="99/99/9999" id="AnalysisDateFrom"
                   name="AnalysisDateFrom" data-val="true" data-val-required='@Global.RequiredField' />
            <span class="text-danger" data-valmsg-for="AnalysisDateFrom" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-4">
            <label>@Global.DateTo</label>
            <input type="text" id="AnalysisDateTo" name="AnalysisDateTo" class="uif-datepicker" data-mask="99/99/9999"
                   data-val="true" data-val-required='@Global.RequiredField' />
            <span class="text-danger" data-valmsg-for="AnalysisDateTo" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-4">
            <label class="control-label">@Global.AnalysisType</label>
            <select class="uif-select form-control" id="AnalysisType"
                    data-source='@Url.Content("~/GeneralLedger/AnalysisConceptByCode/GetAnalysisCodes")'
                    data-id="Id" data-name="Description"></select>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="control-label">@Global.AnalysisConcept</label>
            <select class="uif-select form-control" id="AnalysisConcept"
                    data-source='@Url.Content("~/GeneralLedger/Base/GetAnalysisConcepts")'
                    data-id="AnalysisConceptId" data-name="Description"></select>
        </div>

        <div class="uif-col-4">
            <label class="control-label">@Global.Currency</label>
            <select class="uif-select form-control required" id="CurrencyAnalisis" name="CurrencyAnalisis"
                    data-source='@Url.Content("~/Accounting/Common/GetCurrencies")' data-id="Id"
                    data-name="Description" data-val="true"
                    data-val-required='@Global.RequiredField' data-native="true"></select>
            <span class="text-danger" data-valmsg-for="CurrencyAnalisis" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-4">
            <label class="control-label" for="AccountingNumber">
                @Global.AccountingAccountNumber
            </label>
            <input class="uif-autocomplete" type="text"
                   data-source="@Url.Action("GetAccountintAccountByNumber", "Parameters")"
                   data-displaykey="AccountingNumber" placeholder='@Global.EnterNumberAccount' id="AccountingNumber"
                   value="" name="AccountingNumber" onkeypress="return JustNumbers(event, this);" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertAnalysisTransaction"></div>
        </div>
    </div>
</form>


@section scripts
{
    @Scripts.Render("~/accounting/bundles/Analysis")
}

<div class="uif-row">
    <div class="uif-col-12">
        <div style="padding: 0 0 0 0">
            @Html.Partial("PartialProgressReports")
        </div>
    </div>
</div>