@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @Global.BalanceSheet;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.Reports</li>
        <li>@Global.AccountingReports</li>
        <li>@Global.AccountingLable</li>
        <li class="active">@Global.BalanceSheet</li>
    </ol>
}


@section modals{
    <div class="modal fade" id="modalMassiveTotRecordsBS" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><b>@Global.GeneralLedgerReport</b></h4>
                </div>
                <div class="modal-body">
                    <b id="pnlModalTotRecords"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="BSReportModal">@Global.Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@Global.No</button>
                </div>
            </div>
        </div>
    </div>
}

@section Toolbar
{
    <footer>
        <div class="pull-right">
            <button id="BSReportCancel" class="btn btn-default" role="button">
                <i class="fa fa-remove"></i>  @Global.Clean
            </button>
            <button id="BSReportGenerate" class="btn btn-primary" role="button">
                <i class="glyphicon glyphicon-play"></i>  @Global.btnPlay
            </button>
        </div>
    </footer>
}

<form id="BSReportForm" onsubmit=" return false ">
    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.MonthFrom
            </label>
            @Html.DropDownList("BSReportMonthFrom", Enumerable.Empty<SelectListItem>(), new
       {
           @class = "uif-select form-control",
           data_source = @Url.Content("~/Accounting/Common/GetYearMonths"),
           data_id = "Id",
           data_name = "Description",
           data_val = "true",
           data_native = "true",
           data_val_required = @Global.RequiredField
       })
            <span class="text-danger" data-valmsg-for="BSReportMonthFrom" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.MonthTo
            </label>
            @Html.DropDownList("BSReportMonthTo", Enumerable.Empty<SelectListItem>(), new
       {
           @class = "uif-select form-control",
           data_source = @Url.Content("~/Accounting/Common/GetYearMonths"),
           data_id = "Id",
           data_name = "Description",
           data_val = "true",
           data_native = "true",
           data_val_required = @Global.RequiredField
       })
            <span class="text-danger" data-valmsg-for="BSReportMonthTo" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">@Global.Year</label>
            <input class="form-control" placeholder='@Global.ExampleYear' data-val="true" data-val-required="@Global.RequiredField"
                   id="BSReportYear" name="BSReportYear" type="text" onkeypress="return JustNumbers(event, this);" maxlength="4" min="1900" />
            <span class="text-danger" data-valmsg-for="BSReportYear" data-valmsg-replace="true"></span>
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.Branch
            </label>
            @Html.DropDownList("BSReportBranch", Enumerable.Empty<SelectListItem>(), new
       {
           @class = "uif-select form-control",
           data_source = @Url.Content("~/Accounting/Common/GetBranchs"),
           data_id = "Id",
           data_name = "Description",
           data_selectedid = @ViewBag.BranchDefault,
           data_val = "true"
       })
            
        </div>
    </div>
  
    <div class="uif-row">
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkAllBS"></span><input type="checkbox" id="checkAllBS"> @Global.AllAccounts
        </div>
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkAccumulatedBS"></span><input type="checkbox" id="checkAccumulatedBS"> @Global.Accumulated
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkAssetsBS"></span><input type="checkbox" id="checkAssetsBS"> @Global.Assets
        </div>
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkLiabilitiesBS"></span><input type="checkbox" id="checkLiabilitiesBS"> @Global.Liabilities
        </div>
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkPatrimonyBS"></span><input type="checkbox" id="checkPatrimonyBS"> @Global.Patrimony
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkIncomeBS"></span><input type="checkbox" id="checkIncomeBS"> @Global.Income
        </div>
        <div class="uif-col-3">
            <span class="glyphicon glyphicon-check" id="checkExpensesBS"></span><input type="checkbox" id="checkExpensesBS"> @Global.Expenses
        </div>
    </div>


    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertBs"></div>
        </div>
    </div>
    
</form>

@*VIEWBAGS*@
<input type="hidden" id="ViewBagAssets" value="@ViewBag.Assets" />
<input type="hidden" id="ViewBagLiabilities" value="@ViewBag.Liabilities" />
<input type="hidden" id="ViewBagPatrimony" value="@ViewBag.Patrimony" />
<input type="hidden" id="ViewBagIncome" value="@ViewBag.Income" />
<input type="hidden" id="ViewBagExpenses" value="@ViewBag.Expenses" />

<div class="uif-row">
    <div class="uif-col-12">
        <div style="padding: 0 0 0 0">
            @Html.Partial("PartialProgressReports")
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/accounting/bundles/BalanceSheet")
}
