
@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @Global.ClientTax;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.Reports</li>
        <li>@Global.AccountingReports</li>
        <li>@Global.TaxesAndEncumbrances</li>
        <li class="active">@Global.ClientTax</li>
    </ol>
}

@section Toolbar
{
    <footer>
        <div class="pull-right">
            <button id="CancelClientTax" class="btn btn-default" role="button">
                <i class="fa fa-remove"></i>  @Global.Clean
            </button>
            <button id="MassiveClientTax" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-play"></span>  @Global.btnPlay
            </button>
        </div>
    </footer>
}

<form id="ReportFormClientTax" onsubmit=" return false ">
    <div class="uif-row">
        <div class="uif-col-2">
            <label>@Global.Year</label>
                <input class="form-control" type="text" placeholder='Ej.: Ingrese el año' id="YearClientTax" name="YearClientTax"  
                maxlength="4" onkeypress="return JustNumbers(event)" data-val="true" data-val-required="@Global.RequiredField">
            <span class="text-danger" data-valmsg-for="YearClientTax" data-valmsg-replace="true" />
        </div>

        <div class="uif-col-2">
            <label class="control-label">
                @Global.Month
            </label>
            @Html.DropDownList("MonthClientTax", Enumerable.Empty<SelectListItem>(), new
             {
                 @class = "uif-select form-control",
                 data_source = @Url.Content("~/Accounting/Common/GetYearMonths"),
                 data_id = "Id",
                 data_name = "Description",
                 data_val = "true",
                 data_native = "true",
                 data_val_required = @Global.RequiredField
             })
            <span class="text-danger" data-valmsg-for="MonthClientTax" data-valmsg-replace="true" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertForm"></div>
        </div>
    </div>

    @section modals{

        @*VENTANAS MODALES DE CONFIRMACION*@
        <!-- Modal Confirma proceso de masivos reaseguros -->
        <div class="modal fade" id="modalMassiveTotRecords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><b>@Global.ClientTax</b></h4>
                    </div>
                    <div class="modal-body">
                        <b id="pnlModalTotRecords"></b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnModalClientTax">@Global.Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalMassiveNo">@Global.No</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Modal Confirmacion del Proceso Masivo de cada reporte -->
        <div class="modal fade" id="modalMassiveReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><b>@Global.ClientTax</b></h4>
                    </div>
                    <div class="modal-body">
                        @Global.ConfirmMessageProcess
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnModalMassiveProcessReport">@Global.Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Global.No</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts
    {
        @Scripts.Render("~/accounting/bundles/ClientTax")
    }

</form>

<div class="uif-row">
    <div class="uif-col-12">
        <div style="padding: 0 0 0 0">
            @Html.Partial("PartialProgressReports")
        </div>
    </div>
</div> 