@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @Global.WrittenCheck;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.Reports</li>
        <li>@Global.AccountingReports</li>
        <li>@Global.Financial</li>
        <li class="active">@Global.WrittenCheck</li>
    </ol>
}


@section Toolbar
{
    <footer>
        <div class="pull-right">
            <button id="CancelWrittenCheck" class="btn btn-default" role="button">
                <i class="fa fa-remove"></i>  @Global.Clean
            </button>
            <button id="MassiveWrittenCheck" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-play"></span>  @Global.btnPlay
            </button>
        </div>
    </footer>
}

<form id="ReportFormWrittenCheck" onsubmit=" return false ">
    <div class="uif-row">
        <div class="uif-col-3">
            <label>@Global.DateFrom</label>
            @Html.TextBox("StartDateWrittenCheck", "", new
            {
                @class = "uif-datepicker",
                style = "text-align: left",
                data_mask = "99/99/9999",
                data_val = "true",
                data_val_required = @Global.RequiredField
            })
            <span class="text-danger" data-valmsg-for="StartDateWrittenCheck" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-3">
            <label>@Global.DateTo</label>
            @Html.TextBox("EndDateWrittenCheck", "", new
            {
               @class = "uif-datepicker",
               style = "text-align: left",
               data_mask = "99/99/9999",
               data_val = "true",
               data_val_required = @Global.RequiredField
            })
            <span class="text-danger" data-valmsg-for="EndDateWrittenCheck" data-valmsg-replace="true" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertForm"></div>
        </div>
    </div>

    @section modals{

        @*VENTANAS MODALES DE CONFIRMACION*@
        <!-- Modal Confirma proceso de masivos reaseguros -->
        <div class="modal fade" id="modalMassiveTotRecords" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><b>@Global.WrittenCheck</b></h4>
                    </div>
                    <div class="modal-body">
                        <b id="pnlModalTotRecords"></b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnModalWrittenCheck">@Global.Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="btnModalMassiveNo">@Global.No</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- Modal Confirmacion del Proceso Masivo de cada reporte -->
        <div class="modal fade" id="modalMassiveReport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><b>@Global.WrittenCheck</b></h4>
                    </div>
                    <div class="modal-body">
                        @Global.ConfirmMessageProcess
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnModalMassiveProcessReport">@Global.Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">@Global.No</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @section scripts
    {
        @Scripts.Render("~/accounting/bundles/WrittenCheck")
    }

</form>

<div class="uif-row">
    <div class="uif-col-12">
        <div style="padding: 0 0 0 0">
            @Html.Partial("PartialProgressReports")
        </div>
    </div>
</div> 

