<form id="formReject" class="form">
    <div id="RejectOption" class="row">
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.LabelAuthorizationToBeRejected</label>
            <select class="uif-select form-control" id="selectPoliciesToRejectOption" data-id="Value" data-name="Text" name="PolicyOptionId" disabled="disabled" required></select>
        </div>
    </div>
    <div id="divIndividualReject" hidden>
        <div class="row">
            <div class="uif-col-12">
                <textarea cols="20" id="inputPoliciesToReject" name="PoliciesToReject" rows="2" required></textarea>
                <span class="field-validation-valid" data-valmsg-for="PoliciesToReject" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
    <div id="divRangeReject" hidden>
        <div class="row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelFromPrinter</label>
                @Html.TextBox("RangeFrom", null, new { id = "inputPoliciesToRejectRangeFrom", type = "number" })
            </div>
            <div class="uif-col-2">
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelToPrinter</label>
                @Html.TextBox("RangeTo", null, new { id = "inputPoliciesToRejectRangeTo", type = "number" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <label class="field-required">@Resources.Language.LabelReason</label>
            <select id="RejectionCausesId" data-id="id" data-name="description" required="required"></select>
            <textarea rows="4" id="txtReasonReject" required="required" placeholder="@Resources.Language.PlaceHolderInputText"></textarea>
        </div>
    </div>
    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0702"))
    {
        <button class="btn btn-primary" type="button" id="btnSendReject">@Resources.Language.ButtonSend</button>
    }
</form>