@model Sistran.Core.Framework.UIF.Web.Areas.Underwriting.Models.AdditionalDataTPLModelsView
<form id="formAdditionalData" class="form">
    <div class="row">
        <div class="uif-col-6">
            <div class="without-label">
                <label>@Resources.Language.LabelTrailerQuantity</label>
                @Html.TextBoxFor(model => model.TrailerQuantity, new { id = "TrailerQuantity" , maxLength = "2" })
            </div>
        </div>
        <div class="uif-col-6">
            <div class="without-label">
                <label>@Resources.Language.LabelTons</label>
                @Html.TextBoxFor(model => model.Tons, new { id = "Tons",maxLength = "4" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <div class="without-label">
                <label>@Resources.Language.LabelPhoneNumber</label>
                @Html.TextBoxFor(model => model.PhoneNumber, new { id = "PhoneNumber", maxLength = "5" })
            </div>
        </div>
    </div>

</form>
