<form class="form" id="formRangeEntityValue">
    <input type="hidden" name="Index" value="" id="IndexRangeEntityValue" />
    <input type="hidden" name="StatusTypeService" value="" id="StatusRangeEntityValue" />
    <input type="hidden" name="RangeValueCode" value="" id="RangeValueCode" />

    <div class="row">
        <div class="uif-col-6">
            <label class="field-required">@Resources.Language.LabelFromValue</label>            
            <input data-val="true" data-val-length="Longitud máxima de 9." data-val-length-max="9" data-val-required="Campo requerido"
                   id="FromValue" maxlength="9" name="FromValue" placeholder="@Resources.Language.LabelFromValue" type="text" value="">
            @Html.ValidationMessage("FromValue", "")
        </div>
        <div class="uif-col-6">
            <label class="field-required">@Resources.Language.LabelToValue</label>
            <input data-val="true" data-val-length="Longitud máxima de 9." data-val-length-max="9" data-val-required="Campo requerido"
                   id="ToValue" maxlength="9" name="ToValue" placeholder="@Resources.Language.LabelToValue" type="text" value="">            
            @Html.ValidationMessage("ToValue", "")
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <input type="button" class="btn btn-default" id="btnCancelRangeEntityValue" value="@Resources.Language.ButtonCancel" />
                <input type="button" class="btn btn-primary" id="btnAddRangeEntityValue" value="@Resources.Language.ButtonAdd" />
            </div>
        </div>
    </div>
</form>