@using Sistran.Core.Framework.UIF.Web.Resources

<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="DetailCardsCardDepositSlipsSearch" data-exporttocsv="false" data-edit="false"
               data-delete="false" data-filter="false" data-paginate="true"
               data-title="@Global.BallotCardInternalDeposit" data-selectiontype="none">
            <thead>
                <tr>
                    <th data-property="CreditCardDescription">@Global.Conduit</th>
                    <th data-property="BankDescription">@Global.IssuingBank</th>
                    <th data-property="DocumentNumber">@Global.CreditCardNumber</th>
                    <th data-property="CurrencyDescription">@Global.Currency</th>
                    <th data-property="Amount">@Global.Amount</th>
                    <th data-property="Tax">@Global.TotalTaxes</th>
                    <th data-property="Voucher">@Global.VoucherNumber</th>
                    <th data-property="Holder">@Global.HolderCardName</th>
                    <th data-property="BillCode">@Global.BillNum</th>
                </tr>
            </thead>
            <tbody></tbody>

        </table>
    </div>
</div>
