<div class="row">
    <div class="uif-col-12">
        <table class="uif-table" id="tableAirCraftRisk" data-selectiontype="single" data-add="false" data-edit="false" data-filter="true"
               data-delete="false" data-filter="true">
            <thead>
                <tr>
                    <th data-property="Risk"><b>@Resources.Language.Risk</b></th>
                    <th data-property="Make"><b>@Resources.Language.Make</b></th>
                    <th data-property="Model"><b>@Resources.Language.Model</b></th>
                    <th data-property="Type"><b>@Resources.Language.LabelAircraftType</b></th>
                    <th data-property="Use"><b>@Resources.Language.LabelAircraftUse</b></th>
                    <th data-property="Register"><b>@Resources.Language.labelEnrollment</b></th>
                    <th data-property="Operator"><b>@Resources.Language.LabelAircraftOperator</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>