@using Sistran.Core.Framework.UIF.Web.Resources

@model Sistran.Core.Application.CommonService.Models.ExchangeRate

<form id="ExchangeRateForm" onsubmit=" return false ">
    <div class="uif-row">
        <div class="uif-col-6">            
            <label>@Global.RateDate</label>
            <br />
            <input type="text" class="uif-datepicker" data-mask="99/99/9999" id="RateDate"
                   name="RateDate" data-val="true" data-val-required='@Global.RequiredField' />
            <span class="text-danger" data-valmsg-for="RateDate" data-valmsg-replace="true" />
        </div>
        <div class="uif-col-6">
            <label>@Global.Currency</label>
            @Html.DropDownList("ExchangeRateCurrency", Enumerable.Empty<SelectListItem>(),
                                    new
                                    {
                                        id = "ExchangeRateCurrency",
                                        @class = "uif-select form-control",
                                        data_source = @Url.Content("~/Accounting/Common/GetCurrencies"),
                                        data_id = "Id",
                                        data_name = "Description",
                                        data_val = "true",
                                        data_native = "true",
                                        data_val_required = @Global.RequiredField
                                    })
            <span class="text-danger" data-valmsg-for="ExchangeRateCurrency" data-valmsg-replace="true" />
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label id="lblSellAmount">@Global.SaleRate</label>
            <br />
            <input type="text" id="SellAmount" name="SellAmount"
                   onkeypress="return OnlyNumberFourDecimal(event, this);" style="text-align:right"
                   data-val="true" data-val-required='@Global.RequiredField' maxlength="12">
            <span class="text-danger" data-valmsg-for="SellAmount" data-valmsg-replace="true" />

        </div>
        <div class="uif-col-6">
            <label id="lblBuyAmount">@Global.BuyRate</label>
            <br />
            <input type="text" id="BuyAmount" name="BuyAmount" onkeypress="return OnlyNumberFourDecimal(event, this);" style="text-align:right"
                   data-val="true" data-val-required='@Global.RequiredField' maxlength="12">
            <span class="text-danger" data-valmsg-for="BuyAmount" data-valmsg-replace="true" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-12">
            <div class="uif-alert" id="alertExchangeRate"></div>
        </div>
    </div>

</form>
