@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.CoBranchViewModel
@{
    Layout = null;
}

<script id="title-template" type="text/template">
    <div class="column-70">
        @Resources.Language.TitleBranch
    </div>
    <div class="column-30 even">
        @Html.TextBox("Branch", null, new { @class = "uif-input-search", id = "inputBranch", @placeholder = @Resources.Language.SearchBranch })

    </div>
</script>

<script id="BranchTemplate" type="text/template">
    {{#ifCond Status "==" 2}}
    <div><strong class="success"><strong>{{Description}}</strong> </strong></div>
    {{else ifCond Status "==" 3}}
    <div><strong class="warning"><strong>{{Description}} ({{BranchId}})</strong> </strong></div>
    {{else ifCond Status "==" 4}}
    <div><strong class="danger"><strong>{{Description}} ({{BranchId}})</strong> </strong></div>
    {{else}}
    <div><strong>{{Description}} ({{BranchId}})</strong></div>
    {{/ifCond}}
    <div>{{IsIssue}}</div>
</script>

<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button type="button" class="btn btn-default" id="btnExit">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
            <span class="" aria-hidden="true">
                @Resources.Language.ButtonExit
            </span>
        </button>
        <button class="btn btn-default" id="btnExport">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
            <span class="" aria-hidden="true">
                @Resources.Language.ButtonExport
            </span>
        </button>
        <button class="btn btn-primary" id="btnSave">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <span class="" aria-hidden="true">@Resources.Language.ButtonSave</span>
        </button>
    </div>
</script>

<form id="formBranch" autocomplete="off" class="form form-space-adjusted">
    <br />
    <input type="hidden" name="Id" id="Id" />
    <div class="row">
        <div class="uif-col-6">
            <div class="row">
                <div class="uif-col-8">
                    <label class="field-required">@Resources.Language.LabelLongDescription</label>
                    @Html.TextBoxFor(model => model.Description, new { id = "inputDescription", maxlength = "50", placeholder = @Resources.Language.LabelLongDescription })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.LabelShortDescription</label>
                    @Html.TextBoxFor(model => model.SmallDescription, new { id = "inputSmallDescription", maxlength = "15", placeholder = @Resources.Language.LabelShortDescription })
                    @Html.ValidationMessageFor(model => model.SmallDescription)
                </div>
              
            </div>

            <div class="row">
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.AddressType</label>
                    <select class="uif-select form-control" id="selectAddressType"
                            data-id="Id" data-name="Description" name="AddressType"
                            data-val="true" data-val-required="@Resources.Language.ErrorRequired" 
                            data-filter="true" data-native="false"></select>
                    @Html.ValidationMessageFor(model => model.AddressType)
                </div>
                <div class="uif-col-8">
                    <label class="field-required">@Resources.Language.Address</label>
                    @Html.TextBoxFor(model => model.Adress, new { id = "inputAdress", maxlength = "50" })
                    @Html.ValidationMessageFor(model => model.Adress)
                </div>

            </div>
            <div class="row">
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.Country</label>
                    <select class="uif-select form-control" id="selectCountry"
                            data-id="Id" data-name="Description" name="Country"
                            data-val="true" data-val-required="@Resources.Language.ErrorRequired"
                            data-filter="true" data-native="false"></select>
                    @Html.ValidationMessageFor(model => model.Country)
                </div>
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.State</label>
                    <select class="uif-select form-control" id="selectState"
                            data-id="Id" data-name="Description" name="State"
                            data-val="true" data-val-required="@Resources.Language.ErrorRequired"
                            data-filter="true" data-native="false"></select>
                    @Html.ValidationMessageFor(model => model.State)
                </div>
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.City</label>
                    <select class="uif-select form-control" id="selectCity"
                            data-id="Id" data-name="Description" name="City"
                            data-val="true" data-val-required="@Resources.Language.ErrorRequired"
                            data-filter="true" data-native="false"></select>
                    @Html.ValidationMessageFor(model => model.City)
                </div>

            </div>
            <div class="row">
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.PhoneType</label>
                    <select class="uif-select form-control" id="selectPhoneType"
                            data-id="Id" data-name="Description" name="PhoneType"
                            data-val="true" data-val-required="@Resources.Language.ErrorRequired"
                            data-filter="true" data-native="false"></select>
                    @Html.ValidationMessageFor(model => model.PhoneType)
                </div>
                <div class="uif-col-4">
                    <label class="field-required">@Resources.Language.PhoneNumber</label>
                    @Html.TextBoxFor(model => model.PhoneNumbre, new { id = "inputPhoneNumbre", maxlength = "20" })
                    @Html.ValidationMessageFor(model => model.PhoneNumbre)
                </div>
               
                <div class="uif-col-4">
                    <br />
                    <br />
                    <input type="checkbox" id="chkIsIssue" name="IsIssue" />
                    <label for="chkIsIssue">@Resources.Language.IsIssue</label>
                </div>
            </div>
        </div>
        <div class="uif-col-6 col-space-adjusted">
            <div id="listViewBranch" class="uif-listview"></div>
        </div>
    </div>
    <div class="row lineDividing">
        <div class="uif-col-6 center-col-right" id="btnsModule">
            <div class="pull-right width-save">
                <button type="button" class="btn btn-default" id="btnNewObject">
                    @Resources.Language.New
                </button>
                <button type="button" class="btn btn-primary" id="btnAcceptObject">
                    @Resources.Language.Add
                </button>
            </div>
        </div>
        <div class="uif-col-6">
            <div class="uif-summary">
                <div class="items">
                </div>
            </div>
        </div>
    </div>
</form>