

    <form id="formCrossGuarantees" class="form">
        <div id="mainGuarantees">
            <div class="uif-row">
                <div class="uif-col-12">
                    <div class="active">
                        <table class="uif-table" data-title="@Resources.Language.LabelGuarantees" data-selectiontype="multiple" id="tableGuarantees" data-filter="false" data-paginate="true">
                            <thead>
                                <tr>
                                    <th data-property="Description">@Resources.Language.LabelDescription</th>
                                    <th data-property="Id">@Resources.Language.LabelNumber</th>
                                    <th data-property="Amount">@Resources.Language.LabelGuaranteeAmount</th>
                                    <th data-property="IsOpen">@Resources.Language.LabelOpen</th>
                                    <th data-property="Status">@Resources.Language.LabelStatus</th>
                                    <th data-property="IdCode" data-visible="false"></th>
                                    <th data-property="IsCloseInd" data-visible="false"></th>
                                    <th data-property="IsEnabledInd" data-visible="false"></th>
                                    <th data-property="IsEnabledSubscription" data-visible="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
<!--
<ul>
    
<li>
    <a href="#Guarantee" id="Guarantee">Nueva contragarantia</a>

</li>
    </ul>-->
