<form id="formOperationQuotaCumulus" class="form">

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnOperationQuotaCumulusClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="column-100">
                <strong> @Resources.Language.SuretyName:<br /><span id="inputSuretyName"> </span></strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <strong>
                @Resources.Language.Belongingto:<br />
            </strong>
        </div>
    </div>


    <div class="row">
        <div class="uif-col-12">
            <div class="uif-col-4">
                <div class="without-label">
                    <input id="_chkIsIndividual" type="checkbox" disabled />
                    <label for="_chkIsIndividual">1.@Resources.Language.Individual</label>
                </div>
            </div>
            <div class="uif-col-4">
                <div class="without-label">
                    <input id="_chkIsConsortium" type="checkbox" disabled />
                    <label for="_chkIsConsortium">2.@Resources.Language.Consortium</label>
                </div>
            </div>
            <div class="uif-col-4">
                <div class="without-label">
                    <input id="_chkIsEconomicGroup" type="checkbox" disabled />
                    <label for="_chkIsEconomicGroup">3.@Resources.Language.EconomicGroup</label>
                </div>
            </div>
            <div class="uif-col-4">
                <div class="without-label">
                    <input id="_chkIsUT" type="checkbox" disabled />
                    <label for="_chkIsUT">4.@Resources.Language.LabelUF</label>
                </div>
            </div>
            <div class="uif-col-4">
                <div class="without-label">
                    <input id="_chkIsSF" type="checkbox" disabled />
                    <label for="_chkIsSF">5.@Resources.Language.LabelSF</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <table class="uif-table" id="tableOperationQuotaCumulus" data-title="@Resources.Language.ButtonDetail" data-filter="false" data-paginate="false" data-selectiontype="none">
                <thead>
                    <tr>
                        <th data-property="Belongingto"><b>@Resources.Language.Belongingto</b></th>
                        <th data-property="OperationCuotaInitial" data-type="currency"><b>@Resources.Language.OperationCuotaInitial</b></th>
                        <th data-property="Cumulu" data-type="currency"><b>@Resources.Language.Cumulu</b></th>
                        @*<th data-property="DateTo"><b>@Resources.Language.Validity</b></th>
                        <th data-property="DateRegisty"><b>@Resources.Language.Register</b></th>*@
                        <th data-property="OperationCuotaAvalible" data-type="currency"><b>@Resources.Language.OperationCuotaAvalible</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>