@using Sistran.Core.Framework.UIF.Web.Resources

        <div class="uif-col-12" id="divAssociationPrefixTec">

            <table data-title="<b>@Global.AssociationOfLines</b>" class="uif-table" id="tblAssociationPrefixSub" data-add="true" data-delete="true" data-filter ="true" 
                            data-edit="true"   data-paginate="true" >
                <thead>
                    <tr>
                        <th data-visible ="false" data-property="AssociationLineId">AssociationLineId</th>
                        <th data-property="Line">@Global.Line</th>
                        <th data-property="Prefix">@Global.Prefix</th>
                        <th data-property="SubPrefixFrom" id="subPrefixFrom">@Global.SubPrefixFrom</th>
                        <th data-property="SubPrefixTo" id="subPrefixTo">@Global.SubPrefixTo</th>
                        <th data-property="DateFrom">@Global.DateFrom</th>
                        <th data-property="DateTo">@Global.DateTo</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
