@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @ViewBag.ReceiptTitle;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Toolbar
{
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/redux/3.5.2/redux.js'></script>
    <footer>
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0519"))
        {
            <button class="btn btn-default" id="ApplyCancelReceipt">
                <i class="fa fa-remove"></i> @Global.Cancel
            </button>
        }
            @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0518"))
            {
                <button class="btn btn-primary" id="ApplyAcceptReceipt">
                    <i class="fa fa-check"></i> @Global.Accept
                </button>
            }
        </footer>
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li class="active">@Global.Billing</li>
        <li class="active">@Global.SearchBillsMain</li>
        <li class="active">@Global.ApplicationBillsMain</li>
    </ol>
}

@section Modals
{

    <!-- Agent -->
    <form id="addAgentForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalAgent">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/CheckingAccountBrokers/AgentMovements.cshtml")
            </div>
        </div>
    </form>
    <!-- End Agent -->
    <!-- Accounting -->
    <div class="uif-modal" id="AccountingMovementModal" data-size="xl">
        <div class="uif-modalbody">
            @Html.Partial("~/Areas/Accounting/Views/Application/Accounting/Accounting.cshtml")
        </div>
    </div>
    <!-- End Accounting -->
    <!-- Reinsurance -->
    <form id="addReinsuranceForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalReinsurance">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/CheckingAccountReinsurances/ReinsuranceMovements.cshtml")
            </div>
        </div>
    </form>
    <!-- End Reinsurance -->
    <!-- Success -->
    <div class="uif-modal" id="modalSuccess">
        <div class="uif-modalbody">
            <div class="uif-row">
                <div class="uif-col-12">
                    <label id="receiptApplicationMessage"></label>
                </div>
            </div>
            @*Modificado: Alejandro Villagrán, se aumentan div para mostrarlos en BE*@
            <div id="accountingApplicationLabelDiv">
                <div class="uif-row">
                    <div class="uif-col-12">
                        @Global.AccountingIntegration
                        <label id="receiptApplicationAccountingIntegrationMessage"></label>
                    </div>
                </div>
            </div>
        </div>

        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-primary" id="AcceptSuccess">@Global.Accept</button>
        </div>
    </div>
    <!-- End Success -->
    <!-- Coinsurance -->
    <form id="addCoinsuranceForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalCoinsurance">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/CheckingAccountCoinsurances/CoinsuranceMovements.cshtml")
            </div>
        </div>
    </form>
    <!-- End Reinsurance -->
    @*MODAL DE PRIMAS POR COBRAR*@
    <div class="uif-modal" id="ModalPremiums" data-size="xl">
        <div class="form">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/PremiumsReceivable/DialogSearchPolicies.cshtml")
            </div>
        </div>
        <div class="uif-modalbuttons">
            <button type="submit" class="btn btn-primary" id="SaveSearchPoliciesButton" onclick="return false">@Global.Accept</button>
        </div>
    </div>


    <!-- Payment Request Various -->
    <form id="addVariousForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalVarious">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/PaymentVarious/PaymentRequestVariousMovements.cshtml")
            </div>
        </div>
    </form>
    <!-- End Payment Request Various -->
    <!-- Payment Request Claims -->
    <form id="addClaimsForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalClaims">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/PaymentClaims/PaymentRequestClaimsMovements.cshtml")
            </div>
        </div>
    </form>
    <!-- End Payment Request Claims -->
    <!-- InsuredLoan -->
    <form id="addInsuredLoanForm" onsubmit="return false" class="form">
        <div class="uif-modal" id="modalInsuredLoan">
            <div class="uif-modalbody">
                @Html.Partial("~/Areas/Accounting/Views/Application/InsuredLoans/InsuredLoans.cshtml")
            </div>
        </div>
    </form>
    <!-- End InsuredLoan -->
}

@*VIEWBAGS*@
<input type="hidden" id="ViewBagTransactionNumber" value="@ViewBag.TransactionNumber" />
<input type="hidden" id="ViewBagAmount" value="@ViewBag.Amount" />
<input type="hidden" id="ViewBagTempImputationId" value="@ViewBag.TempImputationId" />
<input type="hidden" id="ViewBagParameterMulticompany" value="@ViewBag.ParameterMulticompany" />
<input type="hidden" id="ViewBagAccountingCompanyDefault" value="@ViewBag.AccountingCompanyDefault" />
<input type="hidden" id="ViewBagBranchUserDefault" value="@ViewBag.BranchUserDefault" />
<input type="hidden" id="ViewBagSalePointBranchUserDefault" value="@ViewBag.SalePointBranchUserDefault" />
<input type="hidden" id="ViewBagUserId" value="@ViewBag.UserId" />
<input type="hidden" id="ViewBagUserNick" value="@ViewBag.UserNick" />
<input type="hidden" id="ViewBagReceiptNumber" value="@ViewBag.ReceiptNumber" />
<input type="hidden" id="ViewBagDateAccounting" value="@ViewBag.DateAccounting" />
<input type="hidden" id="ViewBagImputationType" value="@ViewBag.ImputationType" />
<input type="hidden" id="ViewBagSupplierCode" value="@ViewBag.SupplierCode" />
<input type="hidden" id="ViewBagInsuredCode" value="@ViewBag.InsuredCode" />
<input type="hidden" id="ViewBagCoinsurerCode" value="@ViewBag.CoinsurerCode" />
<input type="hidden" id="ViewBagThirdPartyCode" value="@ViewBag.ThirdPartyCode" />
<input type="hidden" id="ViewBagProducerCode" value="@ViewBag.ProducerCode" />
<input type="hidden" id="ViewBagEmployeeCode" value="@ViewBag.EmployeeCode" />
<input type="hidden" id="ViewBagReinsurerCode" value="@ViewBag.ReinsurerCode" />
<input type="hidden" id="ViewBagTradeConsultant" value="@ViewBag.TradeConsultant" />
<input type="hidden" id="ViewBagAgentCode" value="@ViewBag.AgentCode" />
<input type="hidden" id="ViewBagContractorCode" value="@ViewBag.ContractorCode" />
<input type="hidden" id="ViewBagDepositPrimes" value="@ViewBag.DepositPrimes" />
@*REDIRECT*@
<input type="hidden" id="ViewBagMainBillSearchLink" value="@Url.Content(Global.MainBillSearchLink)" />
<input type="hidden" id="ViewBagLoadReceiptCancelLink" value="@Url.Content(Global.LoadReceiptCancelLink)" />
<input type="hidden" id="ViewBagMainBillingLink" value="@Url.Content(Global.MainBillingLink)" />

<input type="hidden" id="ViewBagThirdAccountingUsed" value="@ViewBag.ThirdAccountingUsed" />
<input type="hidden" id="ViewBagApplyCollecId" value="@ViewBag.ApplyCollecId" />
<input type="hidden" id="ViewBagRedirectToPage" value="@ViewBag.RedirectToPage" />

<style>
    .ptitle {
        text-align: center;
    }
</style>

<script id="display-aplication-receipt-template" type="text/template">
    <div class="row">
        <div class="column">
            <strong>@Global.Concept: </strong>{{MovementType}}
        </div>
    </div>
    <div class="row">
        <div class="column">
            <strong>@Global.Debit: </strong><div class="number">{{Debits}}</div>
        </div>
        <div class="column">
            <strong>@Global.Credit: </strong><div class="number">{{Credits}}</div>
        </div>
    </div>
</script>

<div class="row height-100 flex">
    <div class="col-xs-12 col-md-6 no-padding-right col-left">
        <div class="uif-panel" data-title="@Global.DialogApplicationReceiptApplicationTitle">
            <div class="uif-row">
                <div class="uif-col-3">
                    <label>@Global.TransactionNumber</label>
                    <input type="text" id="TransactionNumber"
                           name="TransactionNumber"
                           value="@ViewBag.TransactionNumber"
                           disabled="disabled" />
                </div>
                <div class="uif-col-3" hidden="hidden">
                    <input type="text" id="ReceiptNumber"
                           name="ReceiptNumber"
                           value="@ViewBag.ReceiptNumber"
                           disabled="disabled" />
                </div>
                <div class="uif-col-3">
                    <label>@Global.AccountingDate</label>
                    <input type="text" id="AccountingDate"
                           name="AccountingDate"
                           value="@ViewBag.AccountingDate"
                           disabled="disabled" />
                </div>
                <div class="uif-col-6">
                    <label>@Global.DocNumPayer</label>
                    <input type="text" id="DocumentNumberApplicationReceipt"
                           name="DocumentNumberApplicationReceipt"
                           value="@ViewBag.Depositer"
                           disabled="disabled" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <label>@Global.Branch</label>
                    <input type="text" id="BranchName"
                           name="BranchName"
                           value="@ViewBag.Branch"
                           disabled="disabled" />
                </div>
                <div class="uif-col-6">
                    <label>@Global.IncomeConcept</label>
                    <input type="text" id="IncomeConcept"
                           name="IncomeConcept"
                           value="@ViewBag.IncomeConcept"
                           disabled="disabled" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-6">
                    <label>@Global.BillAmount</label>
                    <input type="text" id="ReceiptAmountApplication"
                           name="ReceiptAmountApplication"
                           value="@ViewBag.Amount"
                           disabled="disabled" style="text-align: right" />
                </div>
                <div class="uif-col-6">
                    <label>@Global.PostedValue</label>
                    <input type="text" id="PostdatedValue"
                           name="PostdatedValue"
                           value="@ViewBag.PostedValue"
                           disabled="disabled" style="text-align: right" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.Description</label>
                    <input type="text" id="ReceiptDescription"
                           name="ReceiptDescription"
                           value="@ViewBag.Description" disabled="disabled" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.Observations</label>
                    <input type="text" id="_Observations"
                           name="_Observations"
                           value="@ViewBag.Comments" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Global.TotalControl</label>
                    <input type="text" id="TotalControl"
                           name="TotalControl"
                           disabled="disabled" style="text-align: right" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <div class="uif-alert" id="alert"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 no-padding-left col-right">
        <div class="row no-margin" id="formTechnicalTransaction">
            <div class="uif-row">
                <div class="uif-col-6">
                    <label>@Global.TechnicalTransaction</label>

                    <input type="text" id="TechnicalTransaction"
                           name="TechnicalTransaction"
                           value="@ViewBag.TechnicalTransaction" disabled="@(int.Parse(ViewBag.ApplyCollecId.ToString()) != 0)" />
                </div>
                <div class="uif-col-4">
                    <br />
                    
                    @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0520"))
                    {
                        <button type="button" id="TechnicalTransactionSearch" class="btn btn-primary" role="button">
                            <i class="fa fa-search"></i>  @Global.Search
                        </button>
                    }
                </div>
            </div>
        </div>
        <div class="uif-panel" data-title="@Global.MovementSummary">

            <div id="listViewAplicationReceipt" class="uif-listview">
                <div class="footer">
                    <table class="uif-table" data-source="" data-exporttocsv="false" data-exportname="cultura" data-add="false" id="totalAplicationTable"
                           data-edit="false" data-delete="false" data-filter="false" data-selectiontype="none" data-paginate="false">
                        <thead>
                            <tr>
                                <th data-property="TotalDebit" style="text-align: left">@Global.Total @Global.Debit</th>
                                <th data-property="TotalCredit" style="text-align: left">@Global.Total @Global.Credit</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/accounting/bundles/ReverseApplicationPremium")
    @Scripts.Render("~/accounting/bundles/ApplicationReceipt")
}
