@{
    Layout = null;
}


@*Titulo*@
<script id="title-template" type="text/template">
    <div class="column column-100">
        @Resources.Language.TitleExempt
    </div>
</script>
<form  class="form" id="formExempt">
    <div>
        <div class="row">
            <div class="uif-col-12">
                <div class="row">
                    <div class="uif-col-3">
                        <input type="checkbox" name="Exenta" value=" " id="chExenta" />
                        <label for="chExenta">@Resources.Language.TitleExempt</label> 
                    </div>
                    <div class="uif-col-6">
                        <label> @Resources.Language.TypeExemption </label>
                        <select class="uif-select" id="selectTypeExemption" data-val="true" data-native="false" data-id="Id" data-name="Description" disabled="disabled"></select>
                    </div>
                </div>

            </div>
        </div>

        <div class="uif-modalbuttons">
            <button type="button" class="btn btn-default" id="btnExemptCancel" data-dismiss="modal">@Resources.Language.ButtonClose</button>
            <button type="button" class="btn btn-primary" id="btnExemptSave" onclick="return false">@Resources.Language.ButtonSave</button>
        </div>

    </div>
    </form>