@{
    Layout = null;
}

<div>
    <div class="row">
        <input type="hidden" name="StatusLink" value="" id="StatusLink" />
        <div class="uif-col-12">
            <div div class="row">
                <div class="uif-col-12" id="personsRol">
                    @Html.Partial("~/Areas/Sarlaft/Views/Sarlaft/SarlaftRol.cshtml")
                </div>
            </div>
            <div class="row">
                <div class="uif-col-1"></div>
                <div class="uif-col-4">
                    <label><b>@Resources.Language.LabelDescription</b></label>
                </div>
                <div class="uif-col-4">
                    <label><b>@Resources.Language.Link</b></label>
                </div>
                <div class="uif-col-3">
                    <label><b>@Resources.Language.LabelOther</b></label>
                </div>
            </div>

            <div class="row">
                <div class="uif-col-4">
                    <select class="uif-select" id="select1" name=""
                            data-id="Id" data-name="Description"
                            data-val="true"
                            data-filter="false" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <select class="uif-select form-control" id="selectPolicyholderInsured" name="PolicyholderInsured"
                            data-id="Id" data-name="DescriptionLong"
                            data-val="true"
                            data-filter="true" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <input type="text" id="inputOtherPolicyholderInsured" name="OtherPolicyholderInsured" disabled="disabled" />
                </div>
            </div>

            <div class="row">
                <div class="uif-col-4">
                    <select class="uif-select" id="select2" name=""
                            data-id="Id" data-name="Description"
                            data-val="true"
                            data-filter="false" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <select class="uif-select form-control" id="selectPolicyholderBeneficiary" name="PolicyholderBeneficiary"
                            data-id="Id" data-name="DescriptionLong"
                            data-val="true"
                            data-filter="true" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <input type="text" id="inputOtherPolicyholderBeneficiary" name="OtherPolicyholderBeneficiary" disabled="disabled" />
                </div>
            </div>

            <div class="row">
                <div class="uif-col-4">
                    <select class="uif-select" id="select3" name=""
                            data-id="Id" data-name="Description"
                            data-val="true"
                            data-filter="true" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <select class="uif-select form-control" id="selectInsuredBeneficiary" name="InsuredBeneficiary"
                            data-id="Id" data-name="DescriptionLong"
                            data-val="true"
                            data-filter="true" data-native="false"></select>
                </div>
                <div class="uif-col-4">
                    <input type="text" id="inputOtherInsuredBeneficiary" name="OtherInsuredBeneficiary" disabled="disabled" />
                </div>
            </div>

        </div>
    </div>

    <div class="uif-modalbuttons">
        <button type="button" class="btn btn-default" id="btnLinkCancel" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        <button type="button" class="btn btn-primary" id="btnLinkSave" onclick="return false">@Resources.Language.ButtonSave</button>
    </div>

</div>
