<div class="row">
    <div class="uif-col-12">
        <div class="nav-dynamic-wrapper">
            <a id="btnInsured" role="button" title="@Resources.LanguagePerson.InsuredName">
                <input type="checkbox" id="checkInsured" onclick="return false">
                <label for="checkInsured" onclick="return false">@Resources.LanguagePerson.InsuredName</label>
            </a>
            <a id="btnProvider" title="@Resources.LanguagePerson.Provider">
                <input type="checkbox" id="checkProvider" onclick="return false">
                <label for="checkProvider" onclick="return false">@Resources.LanguagePerson.Provider</label>
            </a>
            <a id="btnThird" title="@Resources.LanguagePerson.Third">
                <input type="checkbox" id="checkThird" onclick="return false">
                <label for="checkThird" onclick="return false">@Resources.LanguagePerson.Third</label>
            </a>
            <a id="btnAgent" role="button" title="@Resources.LanguagePerson.Agent">
                <input type="checkbox" id="checkAgent" onclick="return false">
                <label for="checkAgent" onclick="return false">@Resources.LanguagePerson.Agent</label>
            </a>
            <a id="btnReInsurer" role="button" title="@Resources.LanguagePerson.Reinsurer">
                <input type="checkbox" id="checkReinsurer" onclick="return false">
                <label for="checkReinsurer" onclick="return false">@Resources.LanguagePerson.Reinsurer</label>
            </a>
            <a id="btnCoInsurer" role="button" title="@Resources.LanguagePerson.CoInsurer">
                <input type="checkbox" id="checkCoInsurer" onclick="return false">
                <label for="checkCoInsurer" onclick="return false">@Resources.LanguagePerson.CoInsurer</label>
            </a>
            <a id="btnEmployee" title="@Resources.LanguagePerson.Employee">
                <input type="checkbox" id="checkEmployee" onclick="return false">
                <label for="checkEmployee" onclick="return false">@Resources.LanguagePerson.Employee</label>
            </a>

        </div>
    </div>
</div>
     
