@{
    Layout = null;
}

<div class="uif-modal" id="ModalPolicyDetailCexper">
    <div class="uif-modalbody">
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelPolicyInformation
                </label>
            </div>
        </div>
        <div class="uif-row">

            <div class="uif-col-4">
                <label>@Resources.Language.LabelCompany</label>
                <input type="text" disabled name="company" id="inputModalCompany" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelNroPolicy</label>
                <input type="text" disabled name="NumberPolice" id="inputModalNumberPolice" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.Order</label>
                <input type="text" disabled name="Order" id="inputModalOrder" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelStatus</label>
                <input type="text" disabled name="company" id="inputModalCompany" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.StartValidateDate</label>
                <input type="text" disabled name="SValidity" id="inputModalSValidity" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelPolicyClass</label>
                <input type="text" disabled name="PolicyClass" id="inputModalLabelPolicyClass" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelDataVehicle
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelPlate</label>
                <input type="text" disabled name="Plate" id="inputModalPlate" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelEngine</label>
                <input type="text" disabled name="Motor" id="inputModalMotor" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelChassis</label>
                <input type="text" disabled name="Chassis" id="inputModalChassis" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelMake</label>
                <input type="text" disabled name="Brand" id="inputModalBrand" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelClass</label>
                <input type="text" disabled name="Clase" id="inputModalClase" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelType</label>
                <input type="text" disabled name="Type" id="inputModalType" value="" />
            </div>


        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelModel</label>
                <input type="text" disabled name="Model" id="inputModalModel" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelColor</label>
                <input type="text" disabled name="Color" id="inputModalColor" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelService</label>
                <input type="text" disabled name="Service" id="inputModalService" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelInsuredDetail
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTypeDocument</label>
                <input type="text" disabled name="DocumentTypeInsured" id="inputModalDocumentTypeInsured" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelDocument</label>
                <input type="text" disabled name="DocumentInsured" id="inputModalDocumentInsured" value="" />
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelTableName</label>
                <input type="text" disabled name="NameInsured" id="inputModalNameInsured" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="col-md-12 text-center">
                <label>
                    @Resources.Language.LabelInformationAmparos
                </label>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>PTD - @Resources.Language.LabelTotalLossDamage  </label>
                <input type="text" disabled name="PTD" id="inputModalPTD" value="" />
            </div>
            <div class="uif-col-4">
                <label>PPD - @Resources.Language.LabelPartialLossDamage</label>
                <input type="text" disabled name="PPD" id="inputModalPPD" value="" />
            </div>
            <div class="uif-col-4">
                <label>PH - @Resources.Language.LabelLostTotalTheft</label>
                <input type="text" disabled name="PH" id="inputModalPH" value="" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-4">
                <label>PPH - @Resources.Language.LabelPartialLossTheft</label>
                <input type="text" disabled name="PPH" id="inputModalPPH" value="" />
            </div>
            <div class="uif-col-4">
                <label>RC - @Resources.Language.LabelCivilLiability</label>
                <input type="text" disabled name="RC" id="inputModalRC" value="" />
            </div>
        </div>
    </div>

    <div class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Language.Close</button>
        <button type="button" class="btn btn-primary" id="btnExportModalPolicyInformation">@Resources.Language.ButtonExport</button>
    </div>
</div>