@model Sistran.Core.Framework.UIF.Web.Areas.Parametrization.Models.ConcessionaireViewModel
@{
    Layout = null;
}


<script id="title-template" type="text/template">
    <div class="main-title uif-col-12">
        @Resources.Language.Concessionaire
    </div>
</script>


<table id="table" class="uif-table" data-exporttocsv="true" data-exportname="cultura" data-add="true" data-edit="true" data-delete="false" data-filter="true" data-selectiontype="single">
    <thead>
        <tr>
            <th data-property="Id">@Resources.Language.LabelId</th>
            <th data-property="Concesionario">@Resources.Language.Concessionaire</th>
            <th data-property="Marca">@Resources.Language.LabelMake</th>
            <th data-property="Habilitado">@Resources.Language.Enabled</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>



<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button type="button" onclick='window.location = rootPath + "Home/Index";' class="btn btn-default" id="ExitDynamicForms">
            <i class="fa fa-times"></i> @Resources.Language.ButtonExit
        </button>
    </div>
</script>


