@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}

<script id="check-display-template" type="text/template">
    <div>
        <strong>{{IssuingBankName}}</strong> | @Global.Check: {{DocumentNumber}} | @Global.Amount: {{Amount}} <br>
        {{IssuerName}}
    </div>
    <div class="text-right vertical-center">
        <div class="number">@Global.TotalLocalCurrency: {{LocalAmount}}</div>
    </div>
</script>

<form id="addCheckForm" onsubmit="return false" class="form">

    <div class="main-content">
        <div class="uif-row">
            <!--left col-->
            <div class="uif-col-12 uif-col-6">
                <div class="uif-row">
                    <div class="uif-col-xs-6" ->

                        <label>@Global.Currency</label>
                        <select class="uif-select form-control" id="selectCheckCurrency" data-id="Id" data-name="Description" data-val-required="@Global.RequiredField"></select>
                       
                        <span class="text-danger" data-valmsg-for="selectCheckCurrency" data-valmsg-replace="true" />
                    </div>
                    <div class="uif-col-xs-6">
                        <label>@Global.AmountExchange</label>
                        <br />
                        @Html.TextBox("CheckExchangeRate", "", new
                        {
                            @onkeypress = "return OnlyDecimalNumber(event,this)",
                            style = "text-align: right;",
                            required = "",
                            disabled = "disable",
                            maxlength = "26"
                        })
                        <span class="text-danger" data-valmsg-for="CheckExchangeRate" data-valmsg-replace="true" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-xs-6">
                        <label>@Global.Amount</label>
                        <br />
                        @Html.TextBox("CheckAmount", "", new
                        {
                            @onkeypress = "return OnlyDecimalNumber(event,this)",
                            style = "text-align: right",
                            data_val = "true",
                            data_val_required = @Global.RequiredField,
                            maxlength = "26"
                        })
                        <span class="text-danger" data-valmsg-for="CheckAmount" data-valmsg-replace="true" />
                    </div>
                    <div class="uif-col-xs-6">
                        <label>@Global.TotalLocalCurrency</label>
                        <br />
                        <input type="text" id="CheckLocalAmount" disabled="disabled" style="text-align: right" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-xs-12">
                        <label>@Global.IssuingBank</label>
                        <br />
                        <input class="uif-autocomplete" type="text" data-source="@Url.Action("GetBanks", "Billing")" data-displaykey="Value" placeholder='@Global.EnterIssuingBank'
                               id="inputCheckIssuingBank" name="inputCheckIssuingBank" data-val="true" data-val-required='@Global.RequiredField' />
                        <input type="hidden" id="HiddenIssuingBankId" />
                        <span class="text-danger" data-valmsg-for="inputCheckIssuingBank" data-valmsg-replace="true" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-xs-6">
                        <label>@Global.AccountNumber</label>
                        <br />
                        @Html.TextBox("CheckAccountNumber", "", new
                        {
                            @class = "uif-mask",
                            data_pattern = "000000000000000",
                            style = "text-align: right",
                            maxlength = "15",
                            data_val = "true",
                            data_val_required = @Global.RequiredField
                        })
                        <span class="text-danger" data-valmsg-for="CheckAccountNumber" data-valmsg-replace="true" />
                        <input type="hidden" id="HiddenCheckAccountNumber" />
                    </div>
                    <div class="uif-col-xs-6">
                        <label>@Global.DocumentNumber</label>
                        <br />
                        @Html.TextBox("CheckDocumentNumber", "", new
                        {
                            @class = "uif-mask",
                            data_pattern = "000000000",
                            style = "text-align: right",
                            maxlength = "9",
                            data_val = "true",
                            data_val_required = @Global.RequiredField
                        })
                        <span class="text-danger" data-valmsg-for="CheckDocumentNumber" data-valmsg-replace="true" />
                        <input type="hidden" id="HiddenCheckDocumentNumber" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12">
                        <label>@Global.PayHolderName</label>
                        <br />
                        @Html.TextBox("CheckHolderName", "", new
                        {
                            style = "text-align: left",
                            maxlength = "40",
                            @onblur = "this.value = this.value.toUpperCase();",
                            data_val = "true",
                            data_val_required = @Global.RequiredField
                        })
                        <span class="text-danger" data-valmsg-for="CheckHolderName" data-valmsg-replace="true" />
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-xs-6">
                        <label>@Global.Date</label>
                        <input type="text" value="@ViewBag.DateAccounting" class="uif-datepicker" data-mask="99/99/9999" id="CheckDate"
                               name="CheckDate" data-val="true" data-val-required='@Global.RequiredField' />
                        <span class="text-danger" data-valmsg-for="CheckDate" data-valmsg-replace="true" />
                    </div>
                    <div class="uif-col-xs-6" style="display:none">
                        <span class="glyphicon glyphicon-unchecked" id="checkPostDated"></span><input type="checkbox" id="PostDatedCheck"> @Global.Postdated
                    </div>
                </div>
                <div class="uif-row">
                    <div class="uif-col-12">
                        <div class="uif-alert" id="alertForm"></div>
                    </div>
                </div>
            </div>
            <!--End left col-->
            <!--right col-->
            <div class="uif-col-12 uif-col-6">
                <div class="uif-listview" id="checksListView">
                    <div class="footer">
                        <div class="uif-col-xs-6">
                            @Global.Total
                        </div>
                        <div class="uif-col-xs-6 text-right">
                            <b id="TotalCheck">$ 0.00</b>
                        </div>
                    </div>
                </div>
            </div>
            <!--End right col-->
        </div>
    </div>
</form>
