@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = Global.IncomeConcept;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.Parameters</li>
        <li>@Global.Billing</li>
        <li>@Global.IncomeConcept</li>
    </ol>
}

<script id="IncomeConceptListTemplate" type="text/template">
    <span>
        <strong>
            @Global.Description:
        </strong>
        <span class="label label-success">
            {{Description}}
        </span>
    </span>
</script>

<script id="add-template" type="text/template">
    @Html.Partial("IncomeConcept/IncomeConceptEditor")
</script>

<div class="row">
    <div class="uif-col-12">
        <div class="uif-alert" id="alertIncomeConcept"></div>
    </div>
</div>
<div class="row">
    <div class="uif-col-12">
        <div class="uif-listview" id="incomeConceptListView">
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/accounting/bundles/MainIncomeConcept")
}
