@using Sistran.Core.Framework.UIF.Web.Resources

<div class="form">
    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" data-title="@Global.Detailed" data-source="null" id="CheckDetailsTable" data-add="false" data-edit="false" data-delete="false" data-selectiontype="none" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="BankDescription">@Global.IssuingBank</th>
                        <th data-property="IssuingAccountNumber">@Global.BankAccountNumber</th>
                        <th data-property="DocumentNumber">@Global.CheckNumber</th>
                        <th data-property="BillCode">@Global.BillNum</th>
                        <th data-property="CurrencyDescription">@Global.Currency</th>
                        <th data-property="Amount">@Global.Amount</th>
                        <th data-property="DatePayment">@Global.CheckDate</th>
                        <th data-property="Holder">@Global.Holder</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
