@using Sistran.Core.Framework.UIF.Web.Resources

<form id="formSaveBallot" class="form">
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.ReceivingBank</label>
        </div>
        <div class="uif-col-6">
            <label>@Global.BallotNumber</label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label id="DepositSlipSuccessReceivingBank"></label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessPaymentTicketCode"></label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.AccountNumber</label>
        </div>
        <div class="uif-col-6">
            <label>@Global.Date</label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label id="DepositSlipSuccessReceivingAccountNumber"></label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessDate"></label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.Currency</label>
        </div>
        <div class="uif-col-6">
            <label>@Global.User</label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label id="DepositSlipSuccessCurrency"></label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessUser"></label>
        </div>
    </div>
    <hr />
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.Cash</label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessCashTotal" style="text-align: right"></label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.TotalChecks</label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessChecksTotal" style="text-align: right"></label>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-6">
            <label>@Global.InternalBallotDialogBallotTotal</label>
        </div>
        <div class="uif-col-6">
            <label id="DepositSlipSuccessTotal" style="text-align: right"></label>
        </div>
    </div>
</form>


