<div class="form">
    <div id="panelLocation">
        <div class="uif-row">
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.Country</label>
                <select class="uif-select form-control" id="InputCountry" data-val="true" data-val-required="@Resources.Language.RequiredField"
                        data-id="Id" data-name="Description" name="country" data-filter="true" data-native="false" required></select>
                <span class="text-danger" data-valmsg-for="country" data-valmsg-replace="true"></span>
            </div>
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.Department</label>
                <select class="uif-select form-control" id="InputState" data-val="true" data-val-required="@Resources.Language.RequiredField"
                        data-id="Id" data-name="Description" name="state" data-filter="true" data-native="false" required></select>
                <span class="text-danger" data-valmsg-for="state" data-valmsg-replace="true"></span>
            </div>
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.Municipality</label>
                <select class="uif-select form-control" id="InputCity" data-val="true" data-val-required="@Resources.Language.RequiredField"
                        data-id="Id" data-name="Description" name="description" data-filter="true" data-native="false" required></select>
                <span class="text-danger" data-valmsg-for="description" data-valmsg-replace="true"></span>
            </div>
        </div>
    </div>
</div>