<div class="row">
    <div class="uif-col-12">
        <table id="coveragesTable" class="uif-table" data-title="<b>@Resources.Language.AffectedCoverageListing</b>" data-source="null" data-edit="true" data-delete="true" data-filter="false" data-add="true" data-paginate="true" data-selectiontype="null">
            <thead>
                <tr>
                    <th data-property="AffectedType"><b>@Resources.Language.Affected</b></th>
                    <th data-property="Name"><b>@Resources.Language.Name</b></th>
                    <th data-property="CurrencyDescription"><b>@Resources.Language.Currency</b></th>
                    <th data-property="EstimationTypeDescription"><b>@Resources.Language.EstimationType</b></th>
                    <th data-property="CoverageName"><b>@Resources.Language.Coverage</b></th>
                    <th data-property="EstimatedValue" data-type="currency"><b>@Resources.Language.EstimatedValue</b></th>
                    <th data-property="InsuredAmount" data-type="currency"><b>@Resources.Language.InsuredAmount</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="uif-alert" id="alertDel"></div>