<div class="form">
    <div class="row">
        <div class="uif-col-12">
            <label>@Resources.Language.ReciverMail</label>
            <input id="dest" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="uif-col-6">
            <label>@Resources.Language.DateTimeOfBeginning</label>
            <input id="dateTimeIni" type="text" class="uif-datepicker" data-mask-date="99/99/9999" data-val="true" data-min-date="@DateTime.Now.ToString("dd/MM/yyyy")" />
        </div>
        <div class="uif-col-6">
            <label>@Resources.Language.EndingDateAndHour</label>
            <input id="dateTimeFin" type="text" class="uif-datepicker" data-mask-date="99/99/9999" data-val="true" />
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <label>@Resources.Language.subject</label>
            <input id="subject" name="subject" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <label>@Resources.Language.Description</label>
            <textarea id="msj" name="msj" rows="4" cols="72" disabled="disabled" style="height:142px"></textarea>
        </div>
    </div>
</div>