@using Sistran.Core.Framework.UIF.Web.Resources
<table id="FinancialIssuanceCurrentPlanTable" class="uif-table" data-title="@Global.PendingCurrentPlan" data-source="null" data-selectiontype="none" data-edit="false" data-delete="false" data-filter="false" data-add="false" data-paginate="true">
    <thead>
        <tr>
            <th data-property="Number">@Global.QuotaNumber</th>
            <th data-property="ExpirationDate">@Global.DueDate</th>
            <th data-property="Amount">@Global.QuotaValue</th>
            <th data-property="AmountPending">@Global.Recovery_RemainingAmount</th>
            <th data-property="Premium">@Global.Prime</th>
            <th data-property="Tax">@Global.Tax</th>
            <th data-property="Expenses">@Global.accExpenses</th>
            <th data-property="ExpensesOther">@Global.OtherChargesDiscounts</th>
            <th data-property="Financial">@Global.Financing</th>
            <th data-property="TotalAmount">@Global.Total</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>