@using Sistran.Core.Framework.UIF.Web.Resources
<div class="uif-row">
    <div class="uif-col-12">
        <h4><b>Datos de Emisión</b></h4>
        <div class="uif-row">
            <div class="uif-col-1">
                <b>@Global.Contractor:</b>
            </div>
            <div class="uif-col-7">
                <input type="text" id="FinancialContratorName" name="FinancialContratorName" disabled="disabled" style="border: none" />
            </div>
            <div class="uif-col-1">
                <b>@Global.Currency:</b>
            </div>
            <div class="uif-col-3">
                <input type="text" id="FinancialCurrencyName" name="FinancialCurrencyName" disabled="disabled" style="border: none" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-1">
                <b>@Global.Issuance:</b>
            </div>
            <div class="uif-col-2">
                <input type="text" id="FinancialIssuanceDate" name="FinancialIssuanceDate" disabled="disabled" style="border: none" />
            </div>
            <div class="uif-col-1">
                <b>@Global.VFrom:</b>
            </div>
            <div class="uif-col-2">
                <input type="text" id="FinancialValidFromDate" name="FinancialValidFromDate" disabled="disabled" style="border: none" />
            </div>
            <div class="uif-col-1">
                <b>@Global.VTo:</b>
            </div>
            <div class="uif-col-2">
                <input type="text" id="FinancialValidToDate" name="FinancialValidToDate" disabled="disabled" style="border: none" />
            </div>
            <div class="uif-col-1">
                <b>@Global.Conduit:</b>
            </div>
            <div class="uif-col-2">
                <input type="text" id="FinancialConduitName" name="FinancialConduitName" disabled="disabled" style="border: none" />
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-1">
                <b>@Global.PrincipalAgent:</b>
            </div>
            <div class="uif-col-7">
                <input type="text" id="FinancialMainAgentName" name="FinancialMainAgentName" disabled="disabled" style="border: none" />
            </div>
            <div class="uif-col-1">
                <b>@Global.CurrentPlan:</b>
            </div>
            <div class="uif-col-3">
                <input type="text" id="FinancialCurrentPlan" name="FinancialCurrentPlan" disabled="disabled" style="border: none" />
            </div>
        </div>
    </div>
</div>