<form id="formValuesDefault" autocomplete="off" class="form without-space">
    <div class="uif-alert" id="alert"></div>
    <div class="row">
        <div class="uif-col-12">

            <ul class="uif-tab" id="tab1">
                <li class="active"><a href="#tabInformationLeaflet">@Resources.Language.InformationLeaflet</a></li>
                <li><a href="#tabPolicyInformation">@Resources.Language.PolicyInformation</a></li>
                <li><a href="#tabInformationRisk">@Resources.Language.InformationRisk</a></li>
            </ul>

            <div class="uif-tab-content">
                <div id="tabInformationLeaflet" class="active">
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelName</label>
                            <input type="text" id="inputName" maxlength="50" class="upperCase-co" autocomplete="off" />
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelLastName</label>
                            <input type="text" id="inputLastName" maxlength="50" class="upperCase-co" autocomplete="off" />
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelMaritalStatus</label>
                            <select class="uif-select form-control" id="selectMaritalStatus" data-native="false" data-id="Id" data-name="Description"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelCountry</label>
                            <select class="uif-select form-control" id="selectCountry" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelDepartment</label>
                            <select class="uif-select form-control" id="selectState" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                    </div>
                </div>
                <div id="tabPolicyInformation">
                    <div class="row">
                        <div class="uif-col-6">
                            <label class="field-required">@Resources.Language.LabelAgentPrincipal</label>
                            <input type="text" id="inputAgentPrincipal" class="uif-input-search changeToUpper" maxlength="10" autocomplete="off" />
                        </div>

                        <div class="uif-col-6">
                            <label class="field-required">@Resources.Language.LabelAgentAgency</label>
                            <select class="uif-select form-control" id="selectAgentAgency" data-val="true" data-id="Id" data-native="false" data-name="FullName" name="AgencyId" disabled="disabled"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelProduct</label>
                            <select class="uif-select form-control" id="selectProduct" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelPolicyType</label>
                            <select class="uif-select form-control" id="selectPolicyType" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelCoin</label>
                            <select class="uif-select form-control" id="selectCurrency" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-8">
                            <label class="field-required">@Resources.Language.LabelLimitRC</label>
                            <select class="uif-select form-control" id="selectLimitRC" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelGroupCoverage</label>
                            <select class="uif-select form-control" id="selectGroupCoverage" data-native="false" data-id="Id" data-name="Description"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelBranch</label>
                            <select class="uif-select form-control" id="selectBranch" data-native="false" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelUser</label>
                            <input type="text" id="inputUser" maxlength="20" class="upperCase-co" />
                        </div>
                    </div>
                </div>
                <div id="tabInformationRisk">
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelLicencesePlate</label>
                            <input type="text" id="inputLicencesePlate" maxlength="12" class="upperCase-co" autocomplete="off" />
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelBodywork</label>
                            <select class="uif-select form-control" id="selectBodyType" data-native="false" data-id="Id" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelUse</label>
                            <select class="uif-select form-control" id="selectUse" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelColor</label>
                            <select class="uif-select form-control" id="selectColor" data-id="Id" data-native="false" data-name="Description"></select>
                        </div>
                        <div class="uif-col-4">
                            <label class="field-required">@Resources.Language.LabelWorkerType</label>
                            <select class="uif-select form-control" id="selectWorkerType" data-native="false" data-id="Id" data-name="Description"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
