@using Sistran.Core.Framework.UIF.Web.Resources

@*----------------------------------------------------------------------------------------------------------------------------------------------------------
                                                             CODIGO HTML                                                                                  
 ----------------------------------------------------------------------------------------------------------------------------------------------------------  *@

<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="PoliciesTable" data-exporttocsv="false" 
               data-edit="true" 
               data-delete="false"
               data-filter="true"
               data-paginate="true" 
               data-title="@Global.PoliciesList"
               data-selectiontype="multiple"
               data-serverside="false">
            <thead>
                <tr>
                    <th data-visible="true" data-property="PolicyId">Id</th>
                    <th data-visible="false" data-property="EndorsementId">EndorsementId</th>
                    <th data-visible="true" data-property="BranchPrefixPolicyEndorsement">@Global.BranchPrefixPolicyEndorsement</th>
                    <th data-visible="false" data-property="PolicyDocumentNumber">@Global.Policy</th>
                    <th data-visible="false" data-property="EndorsementDocumentNumber">@Global.Endorsement</th>
                    <th data-visible="true" data-property="PaymentNumber">@Global.Quota</th>
                    <th data-visible="false" data-property="CurrencyId">CurrencyId</th>
                    <th data-visible="true" data-property="CurrencyDescription">@Global.Currency</th>
                    <th data-visible="true" data-property="PaymentAmount">@Global.Amount</th>
                    <th data-visible="false" data-property="InsuredId">InsuredId</th>
                    <th data-visible="false" data-property="InsuredName">Insured</th>
                    <th data-visible="false" data-property="PolicyAgentName">Agent</th>
                    <th data-visible="false" data-property="PayerId">PayerId</th>
                    <th data-visible="false" data-property="PayerIndividualId">PayerIndividualId</th>
                    <th data-visible="false" data-property="InsuredIndividualId">InsuredIndividualId</th>
                    <th data-visible="false" data-property="PaymentExpirationDate">ExpDate</th>

                    @*<th data-visible="false" data-property="BranchDescription">@Global.Branch</th>
                    <th data-visible="false" data-property="PrefixDescription">@Global.Prefix</th>
                    <th data-visible="false" data-property="StandarCommissionPercentage">Percentage</th>
                    <th data-visible="false" data-property="AgentParticipationPercentage">AgentCommission</th>
                    <th data-visible="false" data-property="PendingCommission">PendingCommission</th>*@
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
