@using Sistran.Core.Framework.UIF.Web.Resources
<script type="text/javascript">

</script>
<div class="uif-row">
    <div class="uif-col-6">
        @Global.Branch
        <br>
        <input type="text" id="_serviceBranch" name="_serviceBranch" disabled="disabled"/>
    </div>
    <div class="uif-col-6">
        @Global.Prefix
        <br>
        <input type="text" id="_servicePrefix" name="_servicePrefix" disabled="disabled" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-4">
        @Global.Policy
        <br>
        <input type="text" id="_servicePolicies" name="_servicePolicies" disabled="disabled" />
    </div>
    <div class="uif-col-4">
        @Global.Endorsement
        <br>
    <input type="text" id="_serviceEndorsement" name="_serviceEndorsement" disabled="disabled" /></div>
    <div class="uif-col-4">
        @Global.PayExpDate
        <br>
        <input type="text" id="_servicePayExpDate" name="_servicePayExpDate" disabled="disabled"/>
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-4">
        @Global.Quota
        <br>
        <input type="text" id="_serviceQuota" name="_serviceQuota" disabled="disabled" />
    </div>
    <div class="uif-col-4">
        @Global.Currency
        <br>
        <input type="text" id="_serviceCurrency" name="_serviceCurrency" disabled="disabled" />
    </div>
    <div class="uif-col-4">
        @Global.Amount
        <br>
        <input type="text" id="_serviceAmount" name="_serviceAmount" disabled="disabled" style="text-align:right" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-12">
        @Global.Insured
        <br/>
        <input type="text" id="_serviceInsured" name="_serviceInsured" disabled="disabled"/>
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-12">
        @Global.Intermediary
        <br/>
        <input type="text" id="_serviceIntermediary" name="_serviceIntermediary" disabled="disabled"/>
    </div>
</div>
<div class="uif-row">
        <div class="uif-col-6">
            @Global.PercentageCommission
            <input type="text" id="_servicePercentage" name="_servicePercentage" disabled="disabled" style="text-align:right" />
        </div>
        <div class="uif-col-6">
            @Global.Commission
            <input type="text" id="_serviceCommission" name="_serviceCommission" disabled="disabled" style="text-align:right" />
        </div>
</div>
