@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}

<div class="uif-row" >
    <div class="uif-col-4">
        <div class="uif-alert" id="alertModal"></div>
    </div>
    <div class="uif-col-4">
        <label>@Global.RejectionReasonBank</label>
        <select class="uif-select form-control" id="rejectionStatusBank" name="rejectionStatusBank" data-val="true" data-val-required='@Global.RequiredField'
                data-source='' data-id="Id" data-name="Description" data-native="true"></select>
        <span class="text-danger" data-valmsg-for="rejectionStatusBank" data-valmsg-replace="true" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-12">
        <table class="uif-table" id="tblRejection" data-exporttocsv="false" data-edit="false" data-delete="false" data-selectiontype="multiple" data-filter="true"
               data-paginate="true">
            <thead>
                <tr>
                    <th data-property="PaymentMethodCd" data-visible="false">Id</th>
                    <th data-property="CouponsNumber" data-visible="false">CouponsNumber</th>
                    <th data-property="CouponSecuence" data-visible="false">CouponSecuence</th>
                    <th data-property="RejectionBankId" data-visible="false">CodRejectionBank</th>
                    <th data-property="InsuredName">@Global.Insured</th>
                    <th data-property="Policy">@Global.Policy</th>
                    <th data-property="Endorsement">@Global.Endorsement</th>
                    <th data-property="Quota">@Global.Quota</th>
                    <th data-property="DueDate">@Global.DueDate</th>
                    <th data-property="TotalPremium" data-type="currency">@Global.Premium</th>
                    <th data-property="Status">@Global.Status</th>
                    <th data-property="RejectionReasonBank">@Global.RejectionReasonBank</th>
                    <th data-property="PaymentMethodCd" data-visible="false">NetId</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



