@using Sistran.Core.Framework.UIF.Web.Resources

@{
    Layout = null;
}

<div class="uif-row" >
    <div class="uif-col-12">
        <div class="uif-alert" id="alertModalReverse"></div>
    </div>
</div>
    <!--Reverse Coupons-->
<div class="uif-row" id="rowReverse">    
    <div class="uif-col-12" >
        <table class="uif-table" id="tblReverse" data-exporttocsv="false" data-edit="false" data-delete="false" data-selectiontype="single" data-filter="true"
               data-paginate="true">
            <thead>
                <tr>
                    <th data-property="PaymentMethodCd" data-visible="false">Id</th>
                    <th data-property="CouponsNumber" data-visible="false">CouponsNumber</th>
                    <th data-property="CouponSecuence" data-visible="false">CouponSecuence</th>
                    <th data-property="RejectionBankId" data-visible="false">CodRejectionBank</th>
                    <th data-property="InsuredName">@Global.Insured</th>
                    <th data-property="Policy">@Global.Policy</th>
                    <th data-property="Endorsement">@Global.Endorsement</th>
                    <th data-property="Quota">@Global.Quota</th>
                    <th data-property="DueDate">@Global.DueDate</th>
                    <th data-property="TotalPremium" data-type="currency">@Global.Premium</th>
                    <th data-property="Status">@Global.Status</th>
                    <th data-property="ReceiptNumber">@Global.VoucherNumber</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>



