@model Sistran.Core.Framework.UIF.Web.Areas.Underwriting.Models.AgentModelsView

<form id="formAgentsCommissions" class="form">
    <div class="row">
        <div class="uif-col-12">
            <div style="overflow-x:scroll">
                <table class="uif-table" data-title="" data-source="" data-selectiontype="none" id="tableCommissions" data-filter="false">
                    <thead>
                        <tr>
                            <th data-property="AgentName">@Resources.Language.LabelAgent</th>
                            <th data-property="AgencyName">@Resources.Language.Agency</th>
                            <th data-property="LineBusiness">@Resources.Language.LabelLineBusiness</th>
                            <th data-property="SubLineBusiness">@Resources.Language.LabelSubLineBusiness</th>
                            <th data-property="CalculateBase">@Resources.Language.LabelCalculateBase</th>
                            <th data-property="Participation">@Resources.Language.LabelParticipation</th>
                            <th data-property="Percentage">@Resources.Language.LabelPercentageCommission</th>
                            <th data-property="PercentageAdditional">@Resources.Language.LabelTableCommisionAdicional</th>
                            <th data-property="Amount">@Resources.Language.LabelCommission</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</form>