<!--Underwriting-->
@model Sistran.Core.Framework.UIF.Web.Areas.Underwriting.Models.PolicyModelsView
<script id="advancedSearchTemplate" type="text/template">
    <div>
        @Resources.Language.Temporal: {{Id}} | @Resources.Language.TitleProduct: {{Product.Description}} | @Resources.Language.LabelBranch: <strong>  {{Branch.Description}} </strong>    
    </div>
    <div> 
        @Resources.Language.Endorsement: {{Endorsement.EndorsementTypeDescription}} | @Resources.Language.LabelPrefix: {{Prefix.Description}}            
    </div>
    <div>
        @Resources.Language.LabelIssuanceDate: {{IssueDate}} | @Resources.Language.LabelTotalSumInsured {{Summary.AmountInsured}}
    </div>
    <div>
        @Resources.Language.LabelTableTotalPremium: <strong class="danger">{{Summary.FullPremium}}</strong>
    </div>  
</script>
<div class="uif-alert" id="alertAdvanced"></div>
<form class="form" id="formAdvancedTemporal">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.AdvancedSearchTemporal</h4>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.LabelBranch</label>
            <select class="uif-select form-control" id="selectBranchAdvanced" data-native="false" data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlBranch"
                    data-id="Id" data-name="Description" name="BranchId"></select>
            @Html.ValidationMessageFor(model => model.BranchId)
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelPrefixCommercial</label>
            <select class="uif-select form-control" id="selectPrefixCommercialAdvanced" data-native="false" data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlPrefixCommercial"
                    data-id="Id" data-name="Description" name="PrefixId"></select>
            @Html.ValidationMessageFor(model => model.PrefixId)
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Temporal</label>
            @Html.TextBoxFor(model => model.Id, new { id = "inputTemporalAdvanced" })
        </div>
    </div>
    <div class="row">
        <div class="uif-col-8">
            <label>@Resources.Language.LabelHolder</label>    
            <input type="text" name="HolderName" value="" id="inputHolderAdvanced" />               
            @Html.ValidationMessageFor(model => model.HolderName)
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelUser</label>
            <input type="text" id="inputUserAdv">
        </div>
    </div>
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.From</label>
            <input type="text" name="name" value="" id="inputFromIssueDate" class="uif-datepicker" />
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.To</label>
            <input type="text" name="name" value="" id="inputToIssueDate" class="uif-datepicker" />
        </div>
        <div class="uif-col-4">
            <div class="without-label">
                <button type="button" name="name" id="btnAdvancedSearch" class="btn btn-primary-Co width-container">@Resources.Language.search</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="uif-listview" id="listViewSearchAdvanced">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-default" id="btnCancelSearchAdvTemp" type="button">@Resources.Language.Close</button>
                <button class="btn btn-primary" id="btnLoadTemporal" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>


