<form id="formTexts" class="form">
    <div class="uif-row">
        <div class="uif-col-12">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableTextResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.LabelCode</th>
                        <th data-property="TextTitle">@Resources.Language.LabelTableName</th>
                        <th data-property="TextBody">@Resources.Language.LabelDescription</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-12">
            <label>@Resources.Language.LabelText</label>
            <textarea id="inputTextEdit" cols="12" rows="5" style="resize: none"></textarea>
        </div>
    </div>
    <br />
    <div class="uif-row">
        <div class="uif-col-12 width-select">
            <div class="pull-right">
                <button type="button" class="btn btn-default" id="btnTextCancel">
                    <span aria-hidden="true"></span>
                    @Resources.Language.ButtonCancel
                </button>
                <button type="button" class="btn btn-primary" id="btnTextSelect">
                    <span aria-hidden="true"></span>
                    @Resources.Language.ButtonSelect
                </button>
            </div>
        </div>
    </div>
</form>