@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = @Global.CommissionBalance;
    Layout = "~/Views/Shared/_UIFLayout-r2-BigMenu.cshtml";
}

@section Breadcrumb
{
    <ol class="breadcrumb global-header-breadcrumb">
        <li>@Global.CurrentAccount</li>
        <li>@Global.Intermediaries</li>
        <li>@Global.CommissionBalance</li>
    </ol>
}

@section Toolbar
{
    <footer>
        <button class="btn btn-default" id="CancelCommissionBalance">
            <i class="fa fa-remove"></i>  @Global.Cancel
        </button>
        <button class="btn btn-primary" id="GenerateCommissionBalance">
            <i class="fa fa-list-alt"></i> @Global.Accept
        </button>
    </footer>
}

<div class="uif-panel-pc">
    <form id="formCommissionBalance" onsubmit="return false">
        <div class="uif-row">
            <div class="uif-col-6">
                <label class="control-label">@Global.Branch</label>
                @Html.DropDownList("Branch", Enumerable.Empty<SelectListItem>(), new
                {
                    @class = "uif-select form-control",
                    data_source = @Url.Content("~/Accounting/Common/GetBranchs"),
                    data_id = "Id",
                    data_name = "Description",
                    data_selectedid = @ViewBag.BranchDefault,
                    data_native = "true",
                    data_val = "true",
                    data_val_required = @Global.RequiredField
                })
                <span class="text-danger" data-valmsg-for="Branch" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-6">
                <label class="control-label">@Global.Company</label>
                @Html.DropDownList("Company", Enumerable.Empty<SelectListItem>(), new
           {
               @class = "uif-select form-control",
               data_source = @Url.Content("~/Accounting/Common/GetAccountingCompanies"),
               data_id = "Id",
               data_name = "Description",
               data_native = "true",
               data_selectedid = @ViewBag.AccountingCompanyDefault,
               data_val = "true",
               data_val_required = @Global.RequiredField
           })
                <span class="text-danger" data-valmsg-for="Company" data-valmsg-replace="true" />
            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-6">
                <label>@Global.DateFrom</label>
                @Html.TextBox("DateFrom", "", new
                    {
                        id = "DateFrom",
                        maxlength = "10",
                        @class = "uif-datepicker",
                        data_val = "true",
                        data_val_required = @Global.RequiredField
                    })
                <span class="text-danger" data-valmsg-for="DateFrom" data-valmsg-replace="true" />
            </div>
            <div class="uif-col-6">
                <label>@Global.DateTo</label>
                @Html.TextBox("DateTo", "", new
                    {
                        id = "DateTo",
                        maxlength = "10",
                        @class = "uif-datepicker",
                        data_val = "true",
                        data_val_required = @Global.RequiredField
                    })
                <span class="text-danger" data-valmsg-for="DateTo" data-valmsg-replace="true" />
            </div>
        </div>

        <div class="uif-row">
            <div class="uif-col-6">
                <label>@Global.SearchBy</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="agoptions" id="optionAgent" value="A" checked>
                        @Global.AnAgent
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="agoptions" id="optionAllAgent" value="T">
                        @Global.AllAgents
                    </label>
                </div>
            </div>
            <div class="uif-col-6">
                <label>@Global.ReportType</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="options" id="optionSummary" value="1" checked>
                        @Global.Summary
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="options" id="optionDetailed" value="2">
                        @Global.Detailed
                    </label>
                </div>
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-6">
                <label>@Global.AgentDocumentNumber</label>
                @Html.TextBox("AgentDocumentNumber", "", new
                    {
                        id = "AgentDocumentNumber",
                        maxlength = "20",
                        @class = "uif-autocomplete",
                        data_source = @Url.Content("~/Accounting/Common/GetAgentByDocumentNumber"),
                        data_displaykey = "DocumentNumber",
                        placeholder = @Global.EnterAgentDocument,
                    })
            </div>
            <div class="uif-col-6">
                <label>@Global.AgentName</label>
                @Html.TextBox("AgentName", "", new
                    {
                        id = "AgentName",
                        @class = "uif-autocomplete",
                        data_source = @Url.Content("~/Accounting/Common/GetAgentByName"),
                        data_displaykey = "Name",
                        placeholder = @Global.EnterAgentName,
                    })
            </div>
        </div>
        <div class="uif-row">
            <div class="uif-col-12">
                <div class="uif-alert" id="alertForm"></div>
            </div>
        </div>
    </form>
</div>

@*VIEWBAGS*@
<input type="hidden" id="ViewBagAccountingCompanyDefault" value="@ViewBag.AccountingCompanyDefault" />
<input type="hidden" id="ViewBagBranchDisable" value="@ViewBag.BranchDisable"/>
<input type="hidden" id="ViewBagBranchDefault" value="@ViewBag.BranchDefault" />
<input type="hidden" id="ViewBagParameterMulticompany" value="@ViewBag.ParameterMulticompany" />

@section scripts
{
    @Scripts.Render("~/accounting/bundles/MainCommissionBalance")
}