@using Sistran.Core.Framework.UIF.Web.Resources


<div class="uif-panel">

    <div id="pagerDetailTransaction" class="scroll" style="text-align: left;overflow:scroll">

        <table class="uif-table" id="DetailTransaction" data-exporttocsv="false" data-edit="false"
               data-delete="false" data-filter="false" data-paginate="false" data-selectiontype="none">
            <thead>
                <tr>
                    <th data-property="PaymentTypeId" data-visible="false">PaymentTypeId</th>
                    <th data-property="PaymentTypeDescription">@Global.PaymentType</th>
                    <th data-property="CurrencyId" data-visible="false">CurrencyId</th>
                    <th data-property="Currency">@Global.Currency</th>
                    <th data-property="Amount">@Global.Amount</th>
                    <th data-property="Exchange" data-visible="false">Exchange</th>
                    <th data-property="LocalAmount">@Global.LocalAmount</th>
                    <th id="7" data-property="DocumentNumber">@Global.DocumentNumber</th>
                    <th data-property="Voucher">@Global.BillingSummaryPayRetentionSerialVoucherNumber</th>
                    <th data-property="CardType" data-visible="false">CardType</th>
                    <th data-property="CardTypeName">@Global.Conduit</th>
                    <th data-property="AuthorizationNumber" data-visible="false">AuthorizationNumber</th>
                    <th data-property="ValidThruMonth" data-visible="false">ValidThruMonth</th>
                    <th data-property="ValidThruYear" data-visible="false">ValidThruYear</th>
                    <th data-property="IssuingBankId" data-visible="false">IssuingBankId</th>
                    <th data-property="IssuinBankName">@Global.IssuingBank</th>
                    <th data-property="IssuingBankAccountNumber">@Global.AccountNumber</th>
                    <th data-property="RecievingBankId" data-visible="false">RecievingBankId</th>
                    <th data-property="RecievingBankAccountNumber" data-visible="false">RecievingBankAccountNumber</th>
                    <th data-property="BillCode" data-visible="false">BillCode</th>
                    <th data-property="Date">@Global.DocumentDate</th>
                    <th data-property="IssuerName">@Global.BillingMultipleHolder</th>
                    <th data-property="Tax" data-visible="false">@Global.TotalTaxes</th>
                    <th data-property="SerialVoucher" data-visible="false">@Global.VoucherNumber</th>
                    <th data-property="PaymentStatus" data-visible="false">BillStatus</th>
                    <th data-property="StatusDescription">@Global.Status</th>
                    <th data-property="SerialNumber" data-visible="false">SerialNumber</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

