<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="single" id="tableClaimsResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="CompanyName">@Resources.Language.LabelCompany</th>
                        <th data-property="Plate">@Resources.Language.LabelPlate</th>
                        <th data-property="ClaimDate" data-type="date">@Resources.Language.LabelDate</th>
                        <th data-property="ClaimNumber">@Resources.Language.LabelClaimsNumber</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="uif-modal" id="ModalClaimDetail">
    <div class="uif-modalbody">
        @Html.Partial("ClaimDetail")
    </div>
</div>