<form id="formClaimDetail" autocomplete="off" class="form form-space-adjusted">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="uif-col-12">
            <div class="row row-space-adjusted"></div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelPolicyInformation</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelClaimsNumber</label>
                    @Html.TextBox("lblNumClaim", null, new { id = "inputNumClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelCompany</label>
                    @Html.TextBox("lblCompany", null, new { id = "inputCompanyClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPolicyNumber</label>
                    @Html.TextBox("lblPolicyNumber", null, new { id = "inputPolicyNumberClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelClaimDate</label>
                    @Html.TextBox("lblClaimDate", null, new { id = "inputClaimDateDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>Orden</label>
                    @Html.TextBox("lblOrder", null, new { id = "inputOrderClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelDataVehicle</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPlate</label>
                    @Html.TextBox("lblPlate", null, new { id = "inputPlateClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelBrand</label>
                    @Html.TextBox("lblBrand", null, new { id = "inputBrandClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelClass</label>
                    @Html.TextBox("lblClass", null, new { id = "inputClassClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelModel</label>
                    @Html.TextBox("lblModel", null, new { id = "inputModelClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelEngine</label>
                    @Html.TextBox("lblEngine", null, new { id = "inputEngineClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelChassis</label>
                    @Html.TextBox("lblChassis", null, new { id = "inputChassisClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelType</label>
                    @Html.TextBox("lblType", null, new { id = "inputTypeClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6"></div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelInsuredDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeIsd", null, new { id = "inputDocTypeIsdClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberIsd", null, new { id = "inputDocNumberIsdClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNameIsd", null, new { id = "inputNameIsdClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelHolderDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeHdr", null, new { id = "inputDocTypeHdrClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberHdr", null, new { id = "inputDocNumberHdrClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNameHdr", null, new { id = "inputNameHdrClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelBeneficiaryDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeBfr", null, new { id = "inputDocTypeBfrClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberBfr", null, new { id = "inputDocNumberBfrClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNamBfr", null, new { id = "inputNameBfrClaimDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelProtections</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <div class="active">
                        <table class="uif-table" data-title="" data-selectiontype="none" id="tableProtectionsResults" data-filter="false" data-paginate="true">
                            <thead>
                                <tr>
                                    <th data-property="ProtectedName">@Resources.Language.LabelProtection</th>
                                    <th data-property="NoticeDate" data-type="date">@Resources.Language.LabelAdvice</th>
                                    <th data-property="State">@Resources.Language.LabelStatus</th>
                                    <th data-property="ProtectedClaimValue">@Resources.Language.Value</th>
                                    <th data-property="ProtectedPaidValue">@Resources.Language.ClaimedAmount</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelInsuredValue</label>
                    @Html.TextBox("lblAmountIsd", null, new { id = "inputAmountIsdClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelClaimValue</label>
                    @Html.TextBox("lblTotalClaim", null, new { id = "inputTotalClaimDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6"></div>
            </div>
        </div>
    </div>
</form>
<div class="uif-modalbuttons width-save">
    <button type="button" class="btn btn-default" id="btnExitClaimsDetail">
        @Resources.Language.ButtonExit
    </button>
</div>