<form id="formDetailPolicy" autocomplete="off" class="form form-space-adjusted">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="uif-col-12">
            <div class="row row-space-adjusted"></div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelPolicyInformation</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelCompany</label>
                    @Html.TextBox("lblCompany", null, new { id = "inputCompanyDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPolicyNumber</label>
                    @Html.TextBox("lblPolicyNumber", null, new { id = "inputPolicyNumberDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@*@Resources.Language.LabelOrder*@Orden</label>
                    @Html.TextBox("lblOrder", null, new { id = "inputOrderDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelStatus</label>
                    @Html.TextBox("lblStatus", null, new { id = "inputStatusDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelValidateDateInitial</label>
                    @Html.TextBox("lblStartValid", null, new { id = "inputStartValidDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelValidateDateFinal</label>
                    @Html.TextBox("lblEndValid", null, new { id = "inputEndValidDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelDataVehicle</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPlate</label>
                    @Html.TextBox("lblPlate", null, new { id = "inputPlateDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelBrand</label>
                    @Html.TextBox("lblBrand", null, new { id = "inputBrandDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelClass</label>
                    @Html.TextBox("lblClass", null, new { id = "inputClassDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelModel</label>
                    @Html.TextBox("lblModel", null, new { id = "inputModelDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelEngine</label>
                    @Html.TextBox("lblEngine", null, new { id = "inputEngineDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelChassis</label>
                    @Html.TextBox("lblChassis", null, new { id = "inputChassisDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelType</label>
                    @Html.TextBox("lblType", null, new { id = "inputTypeDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6"></div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelInsuredDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeIsd", null, new { id = "inputDocTypeIsdDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberIsd", null, new { id = "inputDocNumberIsdDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNameIsd", null, new { id = "inputNameIsdDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelHolderDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeHdr", null, new { id = "inputDocTypeHdrDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberHdr", null, new { id = "inputDocNumberHdrDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNameHdr", null, new { id = "inputNameHdrDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelBeneficiaryDetail</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelTypeDocument</label>
                    @Html.TextBox("lblDocTypeBfr", null, new { id = "inputDocTypeBfrDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelDocumentNumber</label>
                    @Html.TextBox("lblDocNumberBfr", null, new { id = "inputDocNumberBfrDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelName</label>
                    @Html.TextBox("lblNamBfr", null, new { id = "inputNameBfrDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6"></div>
                <div class="uif-col-6">
                    <label><strong>@Resources.Language.LabelProtections</strong></label>
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPTD</label>
                    @Html.TextBox("lblPTD", null, new { id = "inputPTDDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPPD</label>
                    @Html.TextBox("lblPPD", null, new { id = "inputPPDDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPH</label>
                    @Html.TextBox("lblPH", null, new { id = "inputPHDtl", disabled = "disabled" })
                </div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelPPH</label>
                    @Html.TextBox("lblPPH", null, new { id = "inputPPHDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6">
                    <label>@Resources.Language.LabelRC</label>
                    @Html.TextBox("lblRC", null, new { id = "inputRCDtl", disabled = "disabled" })
                </div>
                <div class="uif-col-6"></div>
            </div>
            <div class="row row-space-adjusted">
                <div class="uif-col-4">
                    <label><strong>@Resources.Language.LabelInsuredValue</strong></label>
                </div>
                <div class="uif-col-4">
                    @Html.TextBox("lblAmount", null, new { id = "inputAmountDtl", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</form>
<div class="uif-modalbuttons width-save">
    <button type="button" class="btn btn-default" id="btnExitPolicyDetail">
        @Resources.Language.ButtonExit
    </button>
</div>