<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="single" id="tablePolicyInfoResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="CompanyName">@Resources.Language.LabelCompany</th>
                        <th data-property="Plate">@Resources.Language.LabelPlate</th>
                        <th data-property="EffectiveDate" data-type="date">@Resources.Language.CurrentInitFrom</th>
                        <th data-property="EndEffectiveDate" data-type="date">@Resources.Language.CurrentToEnd</th>
                        <th data-property="Valid">@Resources.Language.LabelStatus</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="uif-modal" id="ModalDetailInfo">
    <div class="uif-modalbody">
        @Html.Partial("InfoPolicyDetail")
    </div>
</div>