<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableSimitResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Number">@Resources.Language.LabelNumeral</th>
                        <th data-property="PenaltyDate" data-type="date">@Resources.Language.LabelDate</th>
                        <th data-property="Name">@Resources.Language.LabelNameAgentExecutive</th>
                        <th data-property="InfringementCode">@Resources.Language.LabelCode</th>
                        <th data-property="Value">@Resources.Language.Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>