<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableGuiedValuesResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="Guied">@Resources.Language.LabelGuide</th>
                        <th data-property="GuiedCode">@Resources.Language.LabelCode</th>
                        <th data-property="Brand">@Resources.Language.LabelMake</th>
                        <th data-property="Model">@Resources.Language.LabelModel</th>
                        <th data-property="Class">@Resources.Language.LabelClass</th>
                        <th data-property="Type">@Resources.Language.LabelType</th>
                        <th data-property="InitialValue">@Resources.Language.LabelInitialValue</th>
                        <th data-property="CurrentValue">@Resources.Language.LabelFinalValue</th>
                        <th data-property="GuiedDate">@Resources.Language.LabelGuideDate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>