<div class="uif-row">
    <div class="uif-col-12">
        <div class="active">
            <table class="uif-table" data-title="" data-selectiontype="none" id="tableVINVerificationResults" data-filter="false" data-paginate="true">
                <thead>
                    <tr>
                        <th data-property="WMICode">@Resources.Language.LabelCodeWMI</th>
                        <th data-property="MakerName">@Resources.Language.LabelMaker</th>
                        <th data-property="MakerAddress1">@Resources.Language.LabelAddress</th>
                        <th data-property="Country">@Resources.Language.LabelCountry</th>
                        <th data-property="CreationDate" data-type="date">@Resources.Language.CreationDate</th>
                        <th data-property="ModificationDate" data-type="date">@Resources.Language.ModificationDate</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>