
@{
    Layout = null;
}
@*Titulo *@
<br>
<script id="title-template" type="text/template">
    <div id="title" class="column">
        @Resources.Language.LabelTitleWaller
    </div>
</script>

<form class="form without-space" id="formReportRenovation">
    <div class="row">
        <div class="uif-col-12">
            <div class="uif-col-4">
                <label class="field-required">@Resources.Language.LabelBranch</label>
                <select class="uif-select form-control" id="BranchId" name="BranchId"
                        data-source=""
                        data-id="Id" data-name="Description"
                        data-val="true"
                        data-filter="true" data-native="false"></select>
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelBranchPolicy</label>
                <select class="uif-select form-control" id="BranchPolicyId" name="BranchPolicyId"
                        data-source=""
                        data-id="Id" data-name="Description"
                        data-val="true"
                        data-filter="true" data-native="false"></select>
            </div>
            <div class="uif-col-4">
                <label>@Resources.Language.LabelPrefix</label>
                <select class="uif-select form-control" id="PrefixId" name="PrefixId"
                        data-source=""
                        data-id="Id" data-name="Description"
                        data-val="true"
                        data-filter="true" data-native="false"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
             <div class="uif-col-4">
                <label>@Resources.Language.LabelFilter</label>
                <select class="uif-select form-control" id="FilterId" name="FilterId"
                        data-source=""
                        data-id="Id" data-name="Description"
                        data-val="true"
                        data-filter="true" data-native="false"></select>
            </div>
        </div>
    </div>      
</form>
@*Footer Botones*@
<script id="footer-template" type="text/template">
    <div class="pull-right">
        <button class="btn btn-default cancel" id="btnExitWallet">
            <i class="fa fa-times" aria-hidden="true"></i>
            <span class="" aria-hidden="true"></span>
            @Resources.Language.ButtonExit
        </button>
        <button class="btn btn-default" id="btnGenReportWallet">
            <i class="fa fa-cloud-download" aria-hidden="true"></i>
            <span aria-hidden="true"></span>
            @Resources.Language.BtnGenReport
        </button>
        <button class="btn btn-default" id="btnGenFileWallet">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            <span aria-hidden="true"></span>
            @Resources.Language.BtnGenFile
        </button>
    </div>
</script>
