@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "RejectedCardVoucherInformationPartial";
}

<div class="uif-row">
    <div class="uif-col-3">
        <label class="control-label">
            @Global.Conduit
        </label>
        <input type="text" id="CardVoucherType" name="CardVoucherType" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.CardNumber</b>
        </label>
        <input type="text" id="CardVoucherDocumentNumber" name="CardVoucherDocumentNumber" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.VoucherNumber</b>
        </label>
        <input type="text" id="CardVoucherNumber" name="CardVoucherNumber" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.IncomeReceiptNum</b>
        </label>
        <input type="text" id="CardVoucherBillCode" name="CardVoucherBillCode" disabled="disabled" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-3">
        <label class="control-label">
            @Global.InternalBallotDepositCardGridCardDate
        </label>
        <input type="text" id="CarVoucherDate" name="CarVoucherDate" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.Currency</b>
        </label>
        <input type="text" id="CarVoucherCurrency" name="CarVoucherCurrency" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.Amount</b>
        </label>
        <input type="text" id="CarVoucherAmount" name="CarVoucherAmount" disabled="disabled" style="text-align:right" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.ValueAddedTax</b>
        </label>
        <input type="text" id="CarVoucherTax" name="CarVoucherTax" disabled="disabled" style="text-align:right" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-3">
        <label class="control-label">
            @Global.NameOwnerCreditCard
        </label>
        <input type="text" id="CarVoucherHolder" name="CarVoucherHolder" disabled="disabled" style="width: 100%" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.CurrentStatus</b>
        </label>
        <input type="text" id="CarVoucherStatus" name="CarVoucherStatus" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.RejectionDate</b>
        </label>
        <input type="text" id="CarVoucherRejectedDate" name="CarVoucherRejectedDate" disabled="disabled" />
    </div>
    <div class="uif-col-3">
        <label class="control-label">
            <b>@Global.RejectionBillNum</b>
        </label>
        <input type="text" id="CarVoucherRejectedNumber" name="CarVoucherRejectedNumber" disabled="disabled" />
    </div>
</div>
<div class="uif-row">
    <div class="uif-col-3">
        <label class="control-label">
            @Global.RejectInformation
        </label>
        <input type="text" id="CarVoucherRejectedMotive" name="CarVoucherRejectedMotive" disabled="disabled" style="width: 100%" />
    </div>
</div>