@using Sistran.Core.Framework.UIF.Web.Resources

<script type="text/javascript">
</script>
<div>
    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.IssuingBank
            </label>
            <br />
            <input type="text" id="checkIssuingBank" name="checkIssuingBank" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.BankAccountNumber
            </label>
            <br />
            <input type="text" id="checkIssuingAccountBank" name="checkIssuingAccountBank" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.CheckNumber
            </label>
            <br />
            <input type="text" id="checkDocumentNumber" name="checkDocumentNumber" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.VoucherNumber
            </label>
            <br />
            <input type="text" id="checkBillCode" name="checkBillCode" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.CheckDate
            </label>
            <br />
            <input type="text" id="checkDate" name="checkDate" disabled="disabled" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.Currency
            </label>
            <br />
            <input type="text" id="checkCurrency" name="checkCurrency" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.Amount
            </label>
            <br />
            <input type="text" id="checkAmount" name="checkAmount" disabled="disabled" style="text-align:right" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.NameOwnerCreditCard  
            </label>
            <br />
            <input type="text" id="checkHolder" name="checkHolder" disabled="disabled" style="width: 100%" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.Status
            </label>
            <br />
            <input type="text" id="checkStatus" name="checkStatus" disabled="disabled" />
        </div>
    </div>

    <div class="uif-row">
        <div class="uif-col-3">
            <label class="control-label">
                @Global.Reject @Global.Date
            </label>
            <br />
            <input type="text" id="checkRejectedDate" name="carVoucherRejectedDate" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.RejectionBillNum
            </label>
            <br />
            <input type="text" id="checkRejectedNumber" name="carVoucherRejectedNumber" disabled="disabled" />
        </div>
        <div class="uif-col-3">
            <label class="control-label">
                @Global.RejectionReason
            </label>
            <br />
            <input type="text" id="checkRejectedMotive" name="carVoucherRejectedMotive" disabled="disabled" style="width: 100%" />
        </div>
    </div>
</div>
