@model Sistran.Core.Framework.UIF.Web.Areas.RulesScripts.Models.RuleSetViewModel

  <div class="uif-row " id="ContentAction">
      <form class="form">
          <div class="uif-col-xs-12">
              <div class="uif-row">
                  <div class="uif-col-12">
                      <h4>@Resources.Language.EditActions</h4>
                  </div>
              </div>
              <div class="uif-row">
                  <!-- primera fila -->
                  <div class="uif-col-12" id="panelGetActionTypeCollection">
                      <label>@Resources.Language.So</label>
                      <select
                      class="uif-select form-control"
                      id="GetActionTypeCollection"
                      data-selectedid="0"
                      data-source="@Url.Content("~/RuleSet/GetActionTypeCollection")"
                      data-id="Code"
                      data-name="Descripcion">
                      </select>
                  </div>
                  <div class="uif-col-12" id="panelGetFunctionTypes">
                      @*<label>GetFunctionTypes</label>*@
                      <select
                            class="uif-select form-control"
                            id="GetFunctionTypes"
                            data-selectedid="0"           
                            data-source="@Url.Content("~/RuleSet/GetFunctionTypes")" 
                            data-id="Code"
                            data-name="Descripcion">
                      </select>
                  </div>

                  <!-- invoque -->
                  <div class="uif-col-12" id="panelActionTemporaryName">
                      @*<label>Temporary Name</label>*@
                      <input type="text" id="actionTemporaryName" />
                  </div>

                  <!-- concepto -->
                  <div class="uif-col-12" id="panelActionSearchCombo">
                      @*<label>concepto panelActionSearchCombo</label>*@
                      <select
                          class="uif-select form-control"
                          id="conceptoActionSelect"
                          name="conceptoActionSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>

                  <div id="panelOperationTypes">
                      <div class="uif-col-12">
                          @*<label>GetOperationTypes</label>*@
                          <select
                              class="uif-select form-control"
                              id="GetOperationTypes"
                              data-source="null"
                              data-id="OperatorCode"
                              data-name="Description">
                          </select>
                      </div>
                  </div>

                  <div id="panelValueTypes">
                      <div class="uif-col-12">
                          <label>@Resources.Language.The</label>
                          <select
                              class="uif-select form-control"
                              id="GetValueTypes"
                              data-selectedid="0"
                              data-source="null"
                              data-id="Code"
                              data-name="Description">
                          </select>
                      </div>
                  </div>

                  <!-- concepto controles -->
                  <div class="uif-col-12" id="panelActionConcept">
                      @*<label>&nbsp; panelActionConcept</label>*@
                      <select
                          class="uif-select form-control"
                          id="conceptLeftActionSelect"
                          name="conceptLeftActionSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>

                  <div class="uif-col-12" id="panelActionTextBox">
                      @*<label>TextBox</label>*@
                      <input type="text" id="actionTextBox" />
                  </div>
                  <div class="uif-col-12" id="panelActionNumberEditor">
                      @*<label>NumberEditor</label>*@
                      <input type="text" id="actionNumberEditor" />
                  </div>
                  <div class="uif-col-12" id="panelActionNumberDecimalEditor">
                      @*<label>NumberDecimalEditor</label>*@
                      <input type="text" id="actionNumberDecimalEditor" />
                  </div>                  
                  <div class="uif-col-12" id="panelActionDateEditor">
                      @*<label>DateEditor</label>*@
                      <input type="text" value="04/11/2015" class="uif-datepicker" id="actionDateEditor" />                      
                  </div>
                  <div class="uif-col-12" id="panelActionListEditor">
                      @*<label>ListEditor</label>*@
                      <select class="uif-select form-control" data-native="false" id="actionListEditor"></select>
                  </div>
                  <div class="uif-col-12" id="panelTemporalNameRight">
                      @*<label>TemporalNameRight</label>*@
                      <input type="text" id="TemporalNameRight" />
                  </div>
                    
                  <div class="uif-col-12" id="panelActionConceptReference">
                      @*<label>&nbsp; panelActionConceptReference</label>*@
                      <select
                          class="uif-select form-control"
                          id="referenciaActionSelect"
                          name="referenciaActionSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>
                                                                                   
                  <div class="uif-col-12" id="panelRuleSet">
                      @*<label>panelRuleSet</label>*@
                      <select
                          class="uif-select form-control"
                          id="RuleSetSelect"
                          name="RuleSetSelect"
                          data-selectedid="0"
                          data-source="null"
                          data-id="Id"
                          data-name="Descripción">
                      </select>
                  </div>                                   
                  
                  
              </div>
          </div>
      </form>
  </div>
