@model Sistran.Core.Framework.UIF.Web.Areas.Massive.Models.MassiveViewModel
<div class="row">
    @*<div class="uif-col-12">
        <label>@Resources.Language.LabelRecordsToExclude</label>
    </div>*@
</div>
<div class="row">
    <div class="uif-col-12">   
        @Html.TextAreaFor(model => model.RecordsExclude, new { id = "inputRecordsExclude" })
        @Html.ValidationMessageFor(model => model.RecordsExclude)
    </div>   
</div>
<div class="row">
    <div class="uif-col-12">
        <div class="uif-modalbuttons width-save" id="buttonsCoInsurance">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnExcludeExit">@Resources.Language.ButtonClose</button>
            <button type="button" class="btn btn-primary" id="btnExcludeConfirm">@Resources.Language.ButtonConfirm</button>
        </div>
    </div>
</div>