<div class="row">
    <div class="uif-col-12">
        <table class="uif-table" id="tableLocationRisk" data-selectiontype="single" data-add="false" data-edit="false" data-filter="true"
               data-delete="false">
            <thead>
                <tr>
                    <th data-property="DocumentNum"><b>@Resources.Language.Policy</b></th>
                    <th data-property="Country"><b>@Resources.Language.Country</b></th>
                    <th data-property="State"><b>@Resources.Language.State</b></th>
                    <th data-property="City"><b>@Resources.Language.City</b></th>
                    <th data-property="FullAddress"><b>@Resources.Language.Street</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>