@model Sistran.Company.Application.Transports.TransportApplicationService.DTOs.TransportDTO
<div id="SpecificTransport">
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.From</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectFromCountry" data-id="Id" data-name="Description" name="FromCountry"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlCountry"></select>
                @Html.ValidationMessageFor(model => model.FromCountryId)
            </div>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelDepartment</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectFromDepartment" data-id="Id" data-name="Description" name="FromDepartment"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlState"></select>
                @Html.ValidationMessageFor(model => model.FromStateId)
            </div>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Town</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectFromTown" data-id="Id" data-name="Description" name="FromTown"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlCity"></select>
                @Html.ValidationMessageFor(model => model.FromCityId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.From</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectToCountry" data-id="Id" data-name="Description" name="ToCountry"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlCountry"></select>
                @Html.ValidationMessageFor(model => model.ToCountryId)
            </div>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.LabelDepartment</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectToDepartment" data-id="Id" data-name="Description" name="ToDepartment"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlState"></select>
                @Html.ValidationMessageFor(model => model.ToStateId)
            </div>
        </div>
        <div class="uif-col-4">
            <label>@Resources.Language.Town</label>
            <div class="input-with-buttons">
                <select class="uif-select form-control" id="selectToTown" data-id="Id" data-name="Description" name="ToTown"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlCity"></select>
                @Html.ValidationMessageFor(model => model.ToCityId)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-4">
            <label>@Resources.Language.Via</label>
            <div class="input-with-buttons">

                <select class="uif-select form-control" id="selectVia" data-id="Id" data-name="Description" name="Via"
                        data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlVia"></select>
                @Html.ValidationMessageFor(model => model.ViaId)
            </div>
        </div>
    </div>
</div>
