<form id="formHistoryReserve" class="form">
    <div class="uif-row">
        <div class="uif-col-12">
            <div class="row">
                <div class="uif-col-12">
                    <table class="uif-table" id="tblHistoryReserve" data-alignactions="left" data-pagesize="10" data-selectiontype="none">
                        <thead>
                            <tr>
                                <th data-property="ModificationNumber"><b>@Resources.Language.LabelNro</b></th>
                                <th data-property="AccountingDate"><b>@Resources.Language.labelModificationDate</b></th>
                                <th data-property="CoverageDescription"><b>@Resources.Language.Coverage</b></th>
                                <th data-property="InsuredAmountTotal" data-type="currency"><b>@Resources.Language.InsuredAmount</b></th>
                                <th data-property="CurrencyId" data-visible="false"><b></b></th>
                                <th data-property="EstimationType"><b>@Resources.Language.EstimationType</b></th>
                                <th data-property="EstimationTypeStatusDescription"><b>@Resources.Language.EstimateStatus</b></th>
                                <th data-property="Currency"><b>@Resources.Language.Currency</b></th>
                                <th data-property="TypeAmountDescription"><b>@Resources.Language.AmountType</b></th>
                                <th data-property="MinimumSalariesNumber"><b>@Resources.Language.LabelSalaryNumber</b></th>
                                <th data-property="MinimumSalaryValue" data-type="currency"><b>@Resources.Language.ValueMinimumSalaries</b></th>
                                <th data-property="OriginalEstimation" data-type="currency"><b>@Resources.Language.Estimation</b></th>
                                <th data-property="PaymentValue" data-type="currency"><b>@Resources.Language.LabelPayments</b></th>
                                <th data-property="Reservation" data-type="currency"><b>@Resources.Language.Reserve</b></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="uif-modalbuttons width-save">
                <button type="button" class="btn btn-default" id="btnCancelHistoryReserve" data-dismiss="modal">@Resources.Language.Close</button>
            </div>
        </div>
    </div>
</form>