
@{
    Layout = null;
}
<div class="uif-row">
    <div class="uif-col-12">
        <h5>
            <strong>@Resources.Language.Risks</strong>
        </h5>
    </div>
    <div class="uif-col-12">
        <table class="uif-table" data-title="@Resources.Language.RiskListing" id="tableRiskSurety"
               data-add="false" data-edit="false" data-delete="false" data-filter="true" data-paginate="true">
            <thead>
                <tr>
                    <th data-property="RiskId" data-visible="false">riskId</th>
                    <th data-property="Bonded"><b>@Resources.Language.Bonded/@Resources.Language.LabelInsured</b></th>
                    <th data-property="BidNumber"><b>@Resources.Language.ContractNumber</b></th>
                    <th data-property="ContractAmt" data-type="currency"><b>@Resources.Language.ContractAmount</b></th>
                    <th data-property="CourtNum"><b>@Resources.Language.JudgmentNumber / @Resources.Language.LabelArticle</b></th>
                    <th data-property="InsuredAmount" data-type="currency"><b>@Resources.Language.InsuredTotalAmount</b></th>
                    <th data-property="EstimationAmount" data-type="currency"><b>@Resources.Language.TotalEstimated</b></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>