@{
    Layout = null;
}
@model Sistran.Company.Application.Marines.MarineApplicationService.DTOs.MarineDTO


<script id="title-template" type="text/template">
    <div class="column-80">
        @Resources.Language.DataRisk
    </div>
    <div class="column-20 even">
        <i class="fa fa-file-o" aria-hidden="true"></i>
        <div id="globalTitle"></div>
    </div>
</script>
<script id="footer-template" type="text/template">
    <div id="buttonsVehicle">
        <button type="button" class="btn btn-default" id="btnClose">
            <span aria-hidden="true"></span>
            @Resources.Language.ButtonClose
        </button>
        <button type="button" class="btn btn-default" id="btnDeleteRisk">
            <span class="" aria-hidden="true">
                @Resources.Language.RiskDelete
            </span>
        </button>
        <button type="button" class="btn btn-default" id="btnAddRisk">
            <span class="" aria-hidden="true">
                @Resources.Language.RiskNew
            </span>
        </button>

        <button type="button" class="btn btn-primary" id="btnAccept">
            <span aria-hidden="true"></span>
            @Resources.Language.RiskSave
        </button>
    </div>
</script>
<script id="coverageTemplate" type="text/template">
    <div><strong>{{Description}}</strong></div>
    <div>@Resources.Language.LabelSumInsured:<span class="warning"><b>{{InsuredLimitAmount}}</b></span></div>
    <div>@Resources.Language.LabelPremium:<span class="warning"> <b>{{PremiumAmount}}</b></span></div>
</script>

<div id="uif-spinner-loading" hidden="hidden">
    <div class="spinner spinner-three-bounce">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>

<div class="uif-modal" id="modalTexts">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/Texts.cshtml", new Sistran.Core.Framework.UIF.Web.Areas.Underwriting.Models.TextsModelsView())
    </div>
    <div id="buttonsTexts" class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnTextClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        <button type="button" class="btn btn-primary" id="btnTextSave">@Resources.Language.ButtonSave</button>
    </div>
</div>

<div id="modalClauses" class="uif-modal">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/Clauses.cshtml")
    </div>
    <div id="buttonsClauses" class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnClausesClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        <button type="button" class="btn btn-primary" id="btnClausesSave">@Resources.Language.ButtonSave</button>
    </div>
</div>

<div id="modalBeneficiaries" class="uif-modal">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/Beneficiaries.cshtml", new Sistran.Core.Framework.UIF.Web.Areas.Underwriting.Models.BeneficiaryModelsView())
    </div>
    <div id="buttonsBeneficiaries" class="uif-modalbuttons width-save">
        <button type="button" class="btn btn-default" id="btnBeneficiaryClose" data-dismiss="modal">@Resources.Language.ButtonClose</button>
        <button type="button" class="btn btn-primary" id="btnBeneficiarySave">@Resources.Language.ButtonSave</button>
    </div>
</div>
<div class="uif-modal" id="modalIndividualDetail">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/IndividualDetail.cshtml")
    </div>
</div>

<div class="uif-modal" id="modalDefaultSearch">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/DefaultResults.cshtml")
    </div>
</div>

<div class="uif-modal" id="modalIndividualSearch">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/IndividualResults.cshtml")
    </div>
</div>
<div class="uif-modal" id="modalTextSearch">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/TextsResults.cshtml")
    </div>
</div>

<div class="uif-modal" id="modalPersonOnline">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/PersonOnline.cshtml")
    </div>
</div>

<div class="uif-modal" id="modalConcepts">
    <div class="uif-modalbody">
        @Html.Partial("~/Areas/Underwriting/Views/Underwriting/Concepts.cshtml")
    </div>
</div>
<form id="formMarine" class="form without-space">
    @Html.HiddenFor(model => model.RiskId, new { id = "hiddenRiskId" })
    <div class="row">
        <div class="uif-col-6">
            <div class="row box-title">
                <div class="col-md-2">
                    <label>@Resources.Language.LabelRiskData</label>
                </div>
                <div class="col-md-10">
                    <select class="uif-select form-control" id="selectRisk" data-id="Id" data-name="Description" name="Id"></select>
                    @Html.ValidationMessageFor(model => model.RiskId)
                </div>
            </div>
            <div class="row">
                <div class="uif-col-12">
                    <label class="field-required">@Resources.Language.LabelPrincipalInsured</label>
                    <div class="input-with-buttons">
                        @Html.TextBoxFor(model => model.InsuredName, new { id = "inputInsured", @class = "uif-input-search", placeholder = @Resources.Language.PlaceHolderDocumentName })
                        @Html.ValidationMessageFor(model => model.InsuredName)
                        <button type="button" class="btn btn-default secondary-Colombia" id="btnDetail">
                            @Resources.Language.ButtonDetail
                        </button>
                        <button type="button" class="btn btn-default secondary-Colombia" id="btnConvertProspect">
                            @Resources.Language.ButtonConvertProspect
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uif-col-12">
                    <label class="field-required">@Resources.Language.LabelGroupCoverage</label>
                    <div class="input-with-buttons">
                        <select class="uif-select form-control" id="selectGroupCoverage" data-id="Id" data-name="Description" name="CoverageGroupId"
                                data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlGroupCoverage"></select>
                        @Html.ValidationMessageFor(model => model.CoverageGroupId)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uif-col-6">
                    <label class="field-required">@Resources.Language.LabelAircraftUse</label>
                    <select class="uif-select form-control" id="selectMarineUseIds" data-id="Id" data-name="Description" name="MarineUseIds"
                            data-val="true" data-val-required="@Resources.Language.ErrorDocumentControlAircrafType"></select>
                    @Html.ValidationMessageFor(model => model.UseId)
                </div>
                <div class="uif-col-6">
                    <label class="field-required">@Resources.Language.labelCurrentManufacturing</label>
                    @Html.TextBoxFor(model => model.YearManufacturing, new { id = "inputCurrentManufacturing", maxLength = 4, @class = "rightAlign", Min = "1900", Max = "2100" })
                    @Html.ValidationMessageFor(model => model.YearManufacturing)
                </div>
            </div>
            <div class="row">
                <div class="uif-col-6">
                    <label>Nombre Barco</label>
                    @Html.TextBoxFor(model => model.BoatName, new { id = "inputNameBoat", maxLength = 50 })
                    @Html.ValidationMessageFor(model => model.BoatName)
                </div>
            </div>

        </div>
        <div class="uif-col-6">
            <div class="row">
                <div class="uif-col-10">
                    <div id="listCoverages" class="uif-listview"></div>
                </div>
                <div class="uif-col-4 fit-col-secondary">
                    <div class="uif-right-bar without-border-left" id="panelButtonsRightRisk">
                        <div class="right-bar-title">
                            <a href="#" id="btnScript">
                                <i class="fa fa-gear"></i>
                                <b class="primary">@Resources.Language.LabelScript</b>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="#" id="btnBeneficiary">@Resources.Language.LabelBeneficiaries</a>
                                <p id="selectedBeneficiaries"></p>
                            </li>
                            <li>
                                <a href="#" id="btnTexts">@Resources.Language.LabelText</a>
                                <p id="selectedTexts"></p>
                            </li>
                            <li>
                                <a href="#" id="btnClauses">@Resources.Language.LabelClauses</a>
                                <p id="selectedClauses"></p>
                            </li>
                            <li>
                                <a href="#" id="btnConceptsRisk">@Resources.Language.Concepts</a>
                                <p id="selectedConceptsRisk"></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="uif-col-10">
                    <div class="uif-summary">
                        <div class="items">
                            <div class="item">
                                <div>
                                    <div>@Resources.Language.LabelInsuredValue</div>
                                    <div id="SubLimitAmount">0</div>
                                </div>
                            </div>
                            <div class="item">
                                <div>
                                    <div>@Resources.Language.LabelPremium</div>
                                    <div id="PremiumAmount">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uif-col-4">

                </div>
            </div>
        </div>
    </div>
</form>
