<form class="form">
    <div class="row">
        <div class="uif-col-12">            
            <table data-selectiontype="multiple" class="uif-table" id="TableProfile" data-title="@Resources.Language.Profiles" data-paginate="false">               
                <thead>
                    <tr>                        
                        <th data-property="Description">@Resources.Language.Profile</th>
                        <th data-property="Id" data-visible="false">@Resources.Language.LabelAssigned</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="uif-modalbuttons width-save" id="buttonsProfile">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="btnProfileClose">@Resources.Language.ButtonClose</button>
            <button type="button" class="btn btn-primary" id="btnProfileSave">@Resources.Language.ButtonSave</button>
        </div>
    </div>
</form>
