<form class="form">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.Taxes</h4>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-12">
            <div id="conceptTaxDetail">
                <table id="tblConceptTaxDetail" data-selectionType="none" data-paginate="5">
                    <thead>
                        <tr>
                            <th data-property="TaxDescription"><b>@Resources.Language.Tax</b></th>
                            <th data-property="TaxRate"><b>@Resources.Language.TaxRate</b></th>
                            <th data-property="TaxValue" data-type="currency"><b>@Resources.Language.TotalOfTax</b></th>
                            <th data-property="RetentionValue" data-type="currency"><b>@Resources.Language.TotalRetention</b></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <div class="pull-right width-save">
                <button class="btn btn-primary" id="btnAcceptConceptTaxesDetails" type="button">@Resources.Language.Accept</button>
            </div>
        </div>
    </div>
</form>


