<form id="formClaimpaymentoffice" class="form">    
    <div class="row">
        <div class="uif-col-12 fit-col-main">
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.Bank</label>
                    <input type="text" name="DateAssignment" value="" id="inputBank" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.BankBranch</label>
                    <input type="text" name="DateAssignment" value="" id="inputBankBranch" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.LabelAccountNumber</label>
                    <input type="text" name="DateAssignment" value="" id="inputAccountNumber" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.LaberValuePayment</label>
                    <input type="text" name="DateAssignment" value="" id="inputValuePayment" class="uif-input" required="required" />
                </div>
            </div>
             <div class="uif-modalbuttons width-save">
                    <button type="button" class="btn btn-primary" id="btnAcceptClaimpaymentoffice">@Resources.Language.Accept</button>
                </div>
            </div>
    </div>
</form>
