<div class="uif-row">
    <div class="uif-col-12">
        <table data-title="" class="uif-table" id="tblTaxCondition"
            data-selectionType="none"  data-paginate ="false" data-filter="false">
            <thead>
                <tr>
                    <th data-property="TaxDescription"><b>@Resources.Language.Tax</b></th>
                    <th data-property="TaxConditionDescription"><b>@Resources.Language.Condition</b></th>
                    <th data-property="TaxCategoryDescription"><b>@Resources.Language.Category</b></th>
                    <th data-property="BranchDescription"><b>@Resources.Language.LabelBranch</b></th>
                    <th data-property="StateDescription"><b>@Resources.Language.ProvinceOnCountry</b></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


