<form id="formClaimCheck" class="form">    
    <div class="row">
        <div class="uif-col-12 fit-col-main">
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.AuthorizedName 1</label>
                    <input type="text" name="DateAssignment" value="" id="inputAuthorizedName1" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.AuthorizedDocument 1</label>
                    <input type="text" name="DateAssignment" value="" id="inputAuthorizedDocument1" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.AuthorizedName 2</label>
                    <input type="text" name="DateAssignment" value="" id="inputAuthorizedName2" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.AuthorizedDocument 2</label>
                    <input type="text" name="DateAssignment" value="" id="inputAuthorizedDocument2" class="uif-input" required="required" />
                </div>
            </div>
            <div class="uif-row">
                <div class="uif-col-12">
                    <label>@Resources.Language.BankBranch</label>
                    <input type="text" name="DateAssignment" value="" id="inputDateAssignment" class="uif-input" required="required" />
                </div>
            </div>
                <div class="uif-modalbuttons width-save">
                    <button type="button" class="btn btn-primary" id="btnAcceptClaimCheck">@Resources.Language.Accept</button>
                </div>
            </div>
    </div>
</form>
