<form id="formClaimViaBaloto" class="form">
    <div class="uif-row">
        <div class="uif-col-12">
            <table data-title="<b>@Resources.Global.TaxByCategory</b>" class="uif-table" id="tblTaxSelection" data-paginate="false" data-filter="false">
                <thead>
                    <tr>
                        <th data-property="TaxDescription" data-visible="true"><b>@Resources.Global.Value</b></th>
                        <th data-property="TaxCategotyDescription" data-visible="true"><b>@Resources.Global.TaxByCategory</b></th>
                        <th data-property="TaxConditionDescription"><b>@Resources.Global.Condition</b></th>
                        <th data-property="Select" data-type="boolean"><b>@Resources.Global.Select</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-alert" id="alertTaxSelection"></div>
    </div>
</form>
