<div>
    <div class="row">
        <div class="uif-col-12">
            <h5>
                <strong>@Resources.Language.PaymentType</strong>
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="uif-col-3">
            <input type="radio" id="radioPaymentParcial" name="radioPayment" value="1" checked="checked" />
            <label for="radioPaymentParcial">@Resources.Language.Partial</label>
        </div>
        <div class="uif-col-3">
            <input type="radio" id="radioPaymentTotal" name="radioPayment" value="2" />
            <label for="radioPaymentTotal">@Resources.Language.Total</label>
        </div>
    </div>

    <div class="row">
        <div class="uif-col-12">
            <table data-title="@Resources.Language.PaymentConcept" id="tblPaymentConcept" data-paginate="10" data-filter="true">
                <thead>
                    <tr>
                        <th data-property="Id">@Resources.Language.Code</th>
                        <th data-property="Description"><b>@Resources.Language.PaymentConcept</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br />
            <table data-title="@Resources.Language.PaymentConceptSelect" id="tblSingleBillingInformation" data-selectionType="single" data-paginate="5">
                <thead>
                    <tr>
                        <th data-property="PaymentConcept"><b>@Resources.Language.PaymentConcept</b></th>
                        <th data-property="Value" data-type="currency"><b>@Resources.Language.ConceptValue</b></th>
                        <th data-property="TaxValue" data-type="currency"><b>@Resources.Language.TotalOfTax</b></th>
                        <th data-property="Retention" data-type="currency"><b>@Resources.Language.TotalRetention</b></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <form id="editForm" class="form">
                <div class="uif-inline" id="editAction">
                    <div class="row">
                        <div class="uif-col-6">
                            <input type="text" id="inputPaymentConceptId" name="PaymentConceptId" hidden="hidden" />
                            @Resources.Language.PaymentConcept
                            <input type="text" id="inputPaymentConcept" name="PaymentConcept" readonly="readonly" />
                        </div>
                        <div class="uif-col-6">
                            @Resources.Language.ConceptValue
                            <input type="text" id="inputConceptValue" name="ConceptValue" maxlength="21" data-msg-maxlength="@string.Format(Resources.Language.MessageMaxLength,16)" class="rightAlign" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
