<form id="formRteICA">
    <div class="row">
        <div class="uif-col-12">
            <h4>@Resources.Language.LocationInformationICA</h4>
        </div>
    </div>
    <div class="uif-row">
        <div class="uif-col-4">
            <label class="field-required">@Resources.Language.Country</label>
            <select class="uif-select form-control" id="CountryLiquidationICA" data-val="true" data-val-required="@Resources.Language.RequiredField"
                    data-id="Id" data-name="Description" name="CountryLiquidationICA" data-filter="true" data-native="false" required></select>
            <span class="text-danger" data-valmsg-for="CountryLiquidationICA" data-valmsg-replace="true"></span>
        </div>
        <div class="uif-col-4">
            <label class="field-required">@Resources.Language.Department</label>
            <select class="uif-select form-control" id="StateLiquidationICA" data-val="true" data-val-required="@Resources.Language.RequiredField"
                    data-id="Id" data-name="Description" name="StateLiquidationICA" data-filter="true" data-native="false" required></select>
            <span class="text-danger" data-valmsg-for="StateLiquidationICA" data-valmsg-replace="true"></span>
        </div>
        <div class="uif-col-4">
            <label class="field-required">@Resources.Language.Municipality</label>
            <select class="uif-select form-control" id="CityLiquidationICA" data-val="true" data-val-required="@Resources.Language.RequiredField"
                    data-id="Id" data-name="Description" name="CityLiquidationICA" data-filter="true" data-native="false" required></select>
            <span class="text-danger" data-valmsg-for="CityLiquidationICA" data-valmsg-replace="true"></span>
        </div>
    </div>
</form>


