<form id="formCoInsuranceCompany" class="form">
    <div class="row">
        <div class="uif-col-12 fit-col-main">
            <div class="uif-row">
                <div class="uif-col-12">
                    <table class="uif-table" data-source="" id="tableCoInsurance" data-exporttocsv="false" 
                           data-exportname="cultura" data-add="false" data-edit="false" data-delete="false" data-filter="false"
                           data-selectiontype="none">
                        <thead>
                            <tr>
                                <th data-property="Company">@Resources.Language.LabelCompany</th>
                                <th data-property="Participation" data-type="currency">@Resources.Language.CompanyParticipation</th>
                                <th data-property="SumAssuredAmount" data-type="currency">@Resources.Language.LabelSumAssured</th>
                                <th data-property="PremiumAmount" data-type="currency">@Resources.Language.LabelTablePremium</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="uif-modalbuttons width-save">
                @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0306"))
                {
                    <button type="button" class="btn btn-primary" id="btnRecord" data-dismiss="modal">@Resources.Language.ButtonExit</button>
                }
            </div>
        </div>
    </div>
</form>