@using Sistran.Core.Framework.UIF.Web.Resources
@model Sistran.Core.Framework.UIF.Web.Areas.GeneralLedger.Models.DestinationModel

@{
    ViewBag.Title = "DestinationModal";
    Layout = null;
}

<form id="addDestination" onsubmit=" return false ">
    <div class="uif-modalbody">
        @Html.HiddenFor(m => m.DestinationId)
        <div class="form">
            <div class="uif-row">
                <div class="uif-col-12">
                    @Html.Label(Global.Description, htmlAttributes: new {@class = "control-label"})
                    @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Ej.: Nuevo", onblur = "this.value = this.value.toUpperCase();" } })
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
        </div>
    </div>
    <div class="uif-modalbuttons">
        <button type="button" class="btn btn-default" id="cancelButton" data-dismiss="modal" data-role="button">
            <i class="fa fa-times"></i> @Global.Cancel
        </button>
        @if (Sistran.Core.Framework.UIF.Web.Helpers.SessionHelper.IsAuthorize("0758"))
        {
            <button type="submit" class="btn btn-primary" id="saveButton" onclick="return false" data-role="button">
                <i class="fa fa-floppy-o"></i> @Global.Save
            </button>
        }
            
        </div>
</form>

