@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "EntryMenu";
}

<ul class="side-nav-child" id="entryMenu">
    <li class="side-nav-item-heading">
        <a href="#" class="side-nav-back">
            <i class="nav-item-caret"></i>
            @Global.Accounting
        </a>
    </li>
    <li class="side-nav-item"><a href="@Url.Content("~/Entry/Entry")">@Global.IncomeAccounting</a></li>
    <li class="side-nav-item"><a href="@Url.Content("~/Entry/EntryConsultation")">@Global.ConsultationReversion</a></li>
</ul>

