@using Sistran.Core.Framework.UIF.Web.Resources

@{
    ViewBag.Title = "EntryConsultationFilter";
}

<div class="form">
    <div class="uif-alert" id="filterAlert"></div>
    <div class="uif-row">
        <div class="uif-col-12">
            <table id="EntryConsultationFilter" class="uif-table" data-selectiontype="">
                <thead>
                    <tr>
                        <th data-property="Date">@Global.Date</th>
                        <th data-property="EntryNumber">@Global.SeatNumber</th>
                        <th data-property="EntryDestinationId" data-visible="false">EntryDestinationId</th>
                        <th data-property="EntryDestinationDescription">@Global.Destination</th>
                        <th data-property="BranchId" data-visible="false">BranchId</th>
                        <th data-property="BranchDescription">@Global.Branch</th>
                        <th data-property="AccountingMovementTypeId" data-visible="false">AccountingMovementTypeId</th>
                        <th data-property="AccountingMovementTypeDescription">@Global.VoucherType</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

